workflows/2.json
{
  "createdAt": "2025-06-09T16:21:08.387Z",
  "updatedAt": "2025-06-09T16:21:11.000Z",
  "id": "gQ36tulBrYAgcXIR",
  "name": "2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{$node[\"Set Init Vars\"].json[\"currentEnvironment\"]}}/assistant/select_student?guardian_id={{$json[\"user_id\"]}}",
        "options": {}
      },
      "id": "0fd195a5-f2ce-439c-9f52-50fa83d55a0f",
      "name": "Select Student Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!$node[\"Select Student Data\"].json[\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "b9a5a130-3a7b-42a9-b9de-1adea2aba850",
      "name": "IF Select Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        -220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://rest.messagebird.com/messages",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\":\"{{$json[\"body\"][\"conversationId\"]}}\",\"from\":\"{{WHATSAPP_NUMBER}}\",\"type\":\"text\",\"text\":{\"body\":\"Lo siento, hubo un error obteniendo tu calendario.\"}}"
      },
      "id": "aadcda76-977c-4624-b317-2c597f94619e",
      "name": "Send Calendar Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        540,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Select Student Data\"].json[\"data\"].length}}",
              "operation": "greater",
              "value2": 1
            }
          ]
        }
      },
      "id": "39458487-dd54-4d87-924b-385ca5efc8c9",
      "name": "Handle Multiple Students",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        120
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://rest.messagebird.com/messages",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\":\"{{$json[\"body\"][\"conversationId\"]}}\",\"from\":\"{{WHATSAPP_NUMBER}}\",\"type\":\"interactive\",\"interactive\":{\"type\":\"list\",\"body\":{\"text\":\"Selecciona el estudiante:\"},\"action\":{\"sections\":[{\"title\":\"Estudiantes\",\"rows\":{{ $node[\"Select Student Data\"].json[\"data\"].map(s => ({ id: s.id, title: s.name })) } }]} }}}"
      },
      "id": "e66ae7ba-9d07-45b0-b447-080700eeee15",
      "name": "Send Student Pick List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        520,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const sel = $json[\"body\"][\"interactive\"][\"list_reply\"][\"id\"]; return [{ json: { student_id: sel }}];"
      },
      "id": "cd8b85d3-4ed1-4a7f-878e-6ed1aefffd41",
      "name": "Extract Selected Student",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        120
      ]
    },
    {
      "parameters": {},
      "id": "545b790e-4fb4-4430-b78f-20233b917a60",
      "name": "Calendar Subflow End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        120
      ]
    }
  ],
  "connections": {
    "Select Student Data": {
      "main": [
        [
          {
            "node": "IF Select Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Multiple Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Select Error": {
      "main": [
        [
          {
            "node": "Send Calendar Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Handle Multiple Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Multiple Students": {
      "main": [
        [
          {
            "node": "Send Student Pick List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Student Pick List": {
      "main": [
        [
          {
            "node": "Extract Selected Student",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Selected Student": {
      "main": [
        [
          {
            "node": "Calendar Subflow End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5c2b69f7-53fd-4b72-8b08-570b0f2cc801",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-09T16:21:08.390Z",
      "updatedAt": "2025-06-09T16:21:08.390Z",
      "role": "workflow:owner",
      "workflowId": "gQ36tulBrYAgcXIR",
      "projectId": "BsYMJSPwury6TiTn",
      "project": {
        "createdAt": "2025-06-06T20:24:22.277Z",
        "updatedAt": "2025-06-06T21:09:46.835Z",
        "id": "BsYMJSPwury6TiTn",
        "name": "adolfo huerta <adolfocuentas123@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-06T20:24:22.278Z",
            "updatedAt": "2025-06-06T20:24:22.278Z",
            "role": "project:personalOwner",
            "userId": "f9268337-0922-4cba-994c-bf6b40332731",
            "projectId": "BsYMJSPwury6TiTn",
            "user": {
              "createdAt": "2025-06-06T20:24:22.275Z",
              "updatedAt": "2025-06-06T21:09:59.000Z",
              "id": "f9268337-0922-4cba-994c-bf6b40332731",
              "email": "adolfocuentas123@gmail.com",
              "firstName": "adolfo",
              "lastName": "huerta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T21:09:59.993Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}