workflows/3.json
{
  "createdAt": "2025-06-09T16:19:41.853Z",
  "updatedAt": "2025-06-09T16:21:23.000Z",
  "id": "E3kibgxHwKDn8Dhc",
  "name": "3",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://rest.messagebird.com/messages",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\":\"{{$json[\"body\"][\"conversationId\"]}}\",\"from\":\"{{WHATSAPP_NUMBER}}\",\"type\":\"interactive\",\"interactive\":{\"type\":\"button\",\"body\":{\"text\":\"¿En qué puedo ayudarte?\"},\"action\":{\"buttons\":[{\"type\":\"reply\",\"reply\":{\"id\":\"volver\",\"title\":\"Volver al menú\"}}]}}}"
      },
      "id": "f24876d0-daff-45d9-bb24-1f5237d56221",
      "name": "Send FAQ Intro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        -180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"messageText\"]}}",
              "value2": "Volver al menú"
            }
          ]
        }
      },
      "id": "b11ca552-2839-4d72-96f5-4cb3df290bc9",
      "name": "IF FAQ Choice",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Set Init Vars\"].json[\"currentEnvironment\"]}}/assistant/faq?question={{encodeURIComponent($json[\"body\"][\"messageText\"])}}",
        "options": {}
      },
      "id": "11495846-f402-4efd-b830-3ffacb5838e0",
      "name": "Fetch FAQ Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        -320
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://rest.messagebird.com/messages",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"to\":\"{{$json[\"body\"][\"conversationId\"]}}\",\"from\":\"{{WHATSAPP_NUMBER}}\",\"type\":\"text\",\"text\":{\"body\":\"{{$node[\"Fetch FAQ Answer\"].json[\"answer\"]}}\"}}"
      },
      "id": "27646d5d-b54c-44d6-95ba-762287d6d3cd",
      "name": "Send FAQ Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "738e4cee-7ff6-49e4-8191-1ffe5b7ce26a",
      "name": "FAQ Subflow End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        -180
      ]
    }
  ],
  "connections": {
    "Send FAQ Intro": {
      "main": [
        [
          {
            "node": "IF FAQ Choice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FAQ Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF FAQ Choice": {
      "main": [
        [
          {
            "node": "FAQ Subflow End",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FAQ Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FAQ Answer": {
      "main": [
        [
          {
            "node": "Send FAQ Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send FAQ Answer": {
      "main": [
        [
          {
            "node": "FAQ Subflow End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a3578d16-d646-4fe9-946e-04b1ea464d52",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-09T16:19:41.857Z",
      "updatedAt": "2025-06-09T16:19:41.857Z",
      "role": "workflow:owner",
      "workflowId": "E3kibgxHwKDn8Dhc",
      "projectId": "BsYMJSPwury6TiTn",
      "project": {
        "createdAt": "2025-06-06T20:24:22.277Z",
        "updatedAt": "2025-06-06T21:09:46.835Z",
        "id": "BsYMJSPwury6TiTn",
        "name": "adolfo huerta <adolfocuentas123@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-06T20:24:22.278Z",
            "updatedAt": "2025-06-06T20:24:22.278Z",
            "role": "project:personalOwner",
            "userId": "f9268337-0922-4cba-994c-bf6b40332731",
            "projectId": "BsYMJSPwury6TiTn",
            "user": {
              "createdAt": "2025-06-06T20:24:22.275Z",
              "updatedAt": "2025-06-10T22:30:29.363Z",
              "id": "f9268337-0922-4cba-994c-bf6b40332731",
              "email": "adolfocuentas123@gmail.com",
              "firstName": "adolfo",
              "lastName": "huerta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T21:09:59.993Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "k6PApGOzpLKtnZ0q",
                "userActivated": true,
                "userActivatedAt": 1749594629341
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}