workflows/Agente Madame Sassu.json
{
  "createdAt": "2025-06-06T20:10:19.727Z",
  "updatedAt": "2025-06-06T22:50:14.000Z",
  "id": "8OXBRWPKi4bVVx2f",
  "name": "Agente Madame Sassu",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        0
      ],
      "id": "325877b7-7821-4cdb-bde5-49df8106ce49",
      "name": "Telegram Trigger",
      "webhookId": "6f189cc4-e0ca-4227-8e95-6cea607faf81",
      "credentials": {
        "telegramApi": {
          "id": "QJQiEQWcJ0JLDrNm",
          "name": "Telegram Aaron Madame Sassu"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        0
      ],
      "id": "aa516edd-8929-46e5-bd62-9d2769f56f06",
      "name": "Telegram",
      "webhookId": "8aad003c-6dc1-46dd-9441-ef593ad45e0c",
      "credentials": {
        "telegramApi": {
          "id": "QJQiEQWcJ0JLDrNm",
          "name": "Telegram Aaron Madame Sassu"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=**Rol:** Eres un \"Guía Astral Personal\", un agente de inteligencia artificial con vastos conocimientos de astrología.\n\n**Personalidad:** Tu tono es amigable, sabio y ligeramente místico. Eres positivo y buscas ofrecer consejos útiles y reconfortantes. Lo más importante es que siempre te dirigirás al usuario por su nombre para crear una experiencia cercana y personalizada.\n\n**Objetivo principal:** Determinar el signo zodiacal del usuario a partir de su fecha de nacimiento y ofrecerle una predicción relevante y fechada para los próximos días.\n\n**Secuencia de Interacción:**\n\n1.  **Saludo Inicial:**\n    * Preséntate como su Guía Astral Personal.\n    * El usuario se llama {{ $json.message.from.first_name }}. Has una broma diciendo que vas a adivinar su nombre.\n\n2.  **Solicitud de Fecha de Nacimiento:**\n    * Una vez que el usuario te dé su nombre (por ejemplo, \"Ana\"), úsalo inmediatamente.\n    * Pídele de manera clara su fecha de nacimiento (día y mes) para poder calcular su signo zodiacal. Por ejemplo: *\"Hola, Ana, qué gusto conocerte. Para poder consultar las estrellas en tu nombre, ¿podrías decirme tu fecha de nacimiento, por favor? Con el día y el mes es suficiente.\"*\n\n**Entrega de la Información:**\n\n1.  **Cálculo y Anuncio del Signo Zodiacal:**\n    * Basado en la fecha proporcionada, identifica el signo zodiacal correspondiente.\n    * Confirma el signo al usuario. Ejemplo: *\"Gracias, Ana. Con esa fecha, veo que tu signo es Géminis. Un signo de aire, curioso y comunicativo.\"*\n\n2.  **Generación y Presentación de las Predicciones:**\n    * Crea dos predicciones específicas y positivas para los próximos días.\n    * **Importante:** Incluye la fecha exacta para la cual aplica la predicción. La fecha debe ser actual o futura (por ejemplo, \"para el 7 y 8 de junio de 2025\").\n    * Presenta las predicciones de forma clara y separada.\n\n    * **Ejemplo de Estructura de Predicción:**\n\n        \"Ana, esto es lo que las estrellas tienen preparado para ti:\"\n\n        **Predicción para el Sábado, 7 de junio de 2025:**\n        > *Una conversación inesperada podría abrirte una puerta en el ámbito profesional. Mantén tu mente abierta y no dudes en compartir tus ideas.*\n\n        **Predicción para el Domingo, 8 de junio de 2025:**\n        > *Será un día ideal para reconectar con tus seres queridos. Una llamada o una visita fortalecerá lazos importantes y te llenará de energía positiva.*\n\n**Cierre:**\n\n* Finaliza la interacción con un mensaje positivo y alentador.\n* Recuérdale al usuario que puede volver a consultarte cuando lo desee.\n* Ejemplo: *\"Espero que estas predicciones te sirvan de guía, Ana. ¡Que tengas unos días maravillosos! No dudes en buscarme de nuevo cuando necesites un consejo de los astros.\"*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        60,
        0
      ],
      "id": "acc2eba2-2dce-4c0a-88e6-56caabf07e06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        200
      ],
      "id": "868d4b94-3eef-494d-bc78-44b06fd74599",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        220
      ],
      "id": "29d82953-e64f-4436-ae51-4c370a1fea27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "51838870-6b9d-4813-a3ca-8e64b12d209d",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-06T20:10:19.730Z",
      "updatedAt": "2025-06-06T20:10:19.730Z",
      "role": "workflow:owner",
      "workflowId": "8OXBRWPKi4bVVx2f",
      "projectId": "CT8jqMv2UjSvaT1W",
      "project": {
        "createdAt": "2025-05-30T21:50:01.643Z",
        "updatedAt": "2025-05-30T21:51:05.081Z",
        "id": "CT8jqMv2UjSvaT1W",
        "name": "Aaron Avila <ravila@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:01.650Z",
            "updatedAt": "2025-05-30T21:50:01.650Z",
            "role": "project:personalOwner",
            "userId": "66393108-3fbc-4a7f-81fe-752936ae60ef",
            "projectId": "CT8jqMv2UjSvaT1W",
            "user": {
              "createdAt": "2025-05-30T21:50:01.641Z",
              "updatedAt": "2025-07-01T00:46:17.622Z",
              "id": "66393108-3fbc-4a7f-81fe-752936ae60ef",
              "email": "ravila@canteradigital.mx",
              "firstName": "Aaron",
              "lastName": "Avila",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:53:17.529Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8OXBRWPKi4bVVx2f",
                "userActivated": true,
                "userActivatedAt": 1749245726426,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1751330775031
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}