workflows/Agente Madame Sassu.json
{
  "createdAt": "2025-06-06T20:10:19.727Z",
  "updatedAt": "2025-06-06T20:46:16.000Z",
  "id": "8OXBRWPKi4bVVx2f",
  "name": "Agente Madame Sassu",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        0
      ],
      "id": "325877b7-7821-4cdb-bde5-49df8106ce49",
      "name": "Telegram Trigger",
      "webhookId": "6f189cc4-e0ca-4227-8e95-6cea607faf81",
      "credentials": {
        "telegramApi": {
          "id": "QJQiEQWcJ0JLDrNm",
          "name": "Telegram Aaron Madame Sassu"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        360,
        0
      ],
      "id": "aa516edd-8929-46e5-bd62-9d2769f56f06",
      "name": "Telegram",
      "webhookId": "8aad003c-6dc1-46dd-9441-ef593ad45e0c",
      "credentials": {
        "telegramApi": {
          "id": "QJQiEQWcJ0JLDrNm",
          "name": "Telegram Aaron Madame Sassu"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        60,
        0
      ],
      "id": "acc2eba2-2dce-4c0a-88e6-56caabf07e06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        200
      ],
      "id": "868d4b94-3eef-494d-bc78-44b06fd74599",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        220
      ],
      "id": "29d82953-e64f-4436-ae51-4c370a1fea27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e2b5bb9c-7dea-47fe-9d1d-82a741c1d26c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-06T20:10:19.730Z",
      "updatedAt": "2025-06-06T20:10:19.730Z",
      "role": "workflow:owner",
      "workflowId": "8OXBRWPKi4bVVx2f",
      "projectId": "CT8jqMv2UjSvaT1W",
      "project": {
        "createdAt": "2025-05-30T21:50:01.643Z",
        "updatedAt": "2025-05-30T21:51:05.081Z",
        "id": "CT8jqMv2UjSvaT1W",
        "name": "Aaron Avila <ravila@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:01.650Z",
            "updatedAt": "2025-05-30T21:50:01.650Z",
            "role": "project:personalOwner",
            "userId": "66393108-3fbc-4a7f-81fe-752936ae60ef",
            "projectId": "CT8jqMv2UjSvaT1W",
            "user": {
              "createdAt": "2025-05-30T21:50:01.641Z",
              "updatedAt": "2025-05-30T23:39:13.090Z",
              "id": "66393108-3fbc-4a7f-81fe-752936ae60ef",
              "email": "ravila@canteradigital.mx",
              "firstName": "Aaron",
              "lastName": "Avila",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:53:17.529Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}