workflows/Agente generador de contenido Ricardo Correa Bautista.json
{
  "createdAt": "2025-06-12T23:11:32.926Z",
  "updatedAt": "2025-06-12T23:44:13.000Z",
  "id": "SOuonTZrbGaefQXV",
  "name": "Agente generador de contenido Ricardo Correa Bautista",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        -80
      ],
      "id": "860d345c-f0d1-4700-a726-3b6365b33915",
      "name": "Telegram Trigger",
      "webhookId": "d6338461-1be0-41d8-a513-c49fd67fa67c",
      "credentials": {
        "telegramApi": {
          "id": "xxxrmH9znK07vpFH",
          "name": "Telegram account Ricardo Correa Contenido"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=**Instructions for n8n Parent Agent: Social Media Post Creator**\n\n**Objective:** To orchestrate the workflow for creating social media posts by calling upon two child agents: \"agente_scrappyng\" for information retrieval and \"agente_copy\" for image generation. The parent agent will then combine the scraped information and the generated image to produce a complete social media post.\n\n**Workflow:**\n\n1.  **Receive User Request:** The parent agent will receive a user's request specifying the topic or keywords for the social media post.\n\n2.  **Call \"agente_scrappyng\":**\n    * The parent agent will invoke the \"agente_scrappyng\" agent.\n    * It will pass the user's input (topic/keywords) as the search query for \"agente_scrappyng\".\n    * It will instruct \"agente_scrappyng\" to perform web scraping to find relevant information based on the query.\n    * It will expect \"agente_scrappyng\" to return a summary of the findings in two short paragraphs (maximum 500 characters per paragraph), as previously defined.\n\n3.  **Receive Scraped Information:** The parent agent will receive the summarized information from \"agente_scrappyng\".\n\n4.  **Call \"agente_copy\" (Image Generation):**\n    * The parent agent will invoke the \"agente_copy\" agent (assuming this is the designated name for the image generation agent).\n    * It will pass the summarized information received from \"agente_scrappyng\" as context for the image generation.\n    * It will instruct \"agente_copy\" to generate a relevant and visually appealing image that complements the scraped information and is suitable for social media.\n    * It will expect \"agente_copy\" to return the generated image (e.g., as a file path or data URL).\n\n5.  **Receive Generated Image:** The parent agent will receive the image from \"agente_copy\".\n\n6.  **Construct Social Media Post:**\n    * The parent agent will combine the summarized information from \"agente_scrappyng\" and the generated image from \"agente_copy\".\n    * It will format this information into a complete social media post, considering best practices for engagement and readability on social media platforms.\n    * This may involve:\n        * Writing a compelling caption that incorporates key findings from the scraped information.\n        * Ensuring the caption is engaging, informative, and includes a call to action (if appropriate).\n        * Attaching the generated image to the post.\n        * Suggesting relevant hashtags.\n\n7.  **Output Social Media Post:** The parent agent will output the complete social media post (text and image).\n\n**Output Format (in Spanish):**\n\n```markdown\n**Post para Redes Sociales:**\n\n**Imagen:** [Aquí se adjuntaría la imagen generada por el agente_copy]\n\n**Texto:**\n\n[Párrafo 1 del resumen del agente_scrappyng]\n\n[Párrafo 2 del resumen del agente_scrappyng]\n\n[Texto adicional para redes sociales: titular llamativo, llamada a la acción, etc. - aplicando principios de copywriting]\n\n**Hashtags sugeridos:** #[Hashtag1] #[Hashtag2] #[HashtagRelacionado]\n\n{{ new Date().toISOString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -600,
        -60
      ],
      "id": "a22f6a6f-c959-4adb-9d63-d9a62d8d4c12",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        160
      ],
      "id": "2c21f02b-27b0-44ae-99a0-2990509842d8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JGOzqGKoKUjZGBsN",
          "name": "OpenAi account Ricardo Correa"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -520,
        180
      ],
      "id": "e34c6a1a-5060-4175-a23c-1702fdf24b4a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "llamar a este agente cuando se tenga ua peticion de busqueda en internet",
        "workflowId": {
          "__rl": true,
          "value": "levja45EpUwDkSjv",
          "mode": "list",
          "cachedResultName": "Agente scrappyng Ricardo Correa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -360,
        240
      ],
      "id": "14021e4a-e07d-41b4-9670-e441844d22b0",
      "name": "agente_scrappyng"
    },
    {
      "parameters": {
        "description": "se llama a este agente cuando se necesita generar instrucciones para un model de generacion de imagenes ",
        "workflowId": {
          "__rl": true,
          "value": "IN2X4ahIUdUbHpTG",
          "mode": "list",
          "cachedResultName": "agente copy writter ricardo correa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -180,
        240
      ],
      "id": "12061bc8-94cf-4980-b347-c3090e33f21d",
      "name": "agente_copy"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "agente_scrappyng": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agente_copy": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c971ad0a-f512-4de3-949b-408e1a65cb45",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-12T23:11:32.928Z",
      "updatedAt": "2025-06-12T23:11:32.928Z",
      "role": "workflow:owner",
      "workflowId": "SOuonTZrbGaefQXV",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-13T17:01:17.387Z",
      "updatedAt": "2025-05-13T17:01:17.387Z",
      "id": "PwWwR5Yqz46trn75",
      "name": "templates"
    }
  ]
}