workflows/agente cantera Crm.json
{
  "createdAt": "2025-06-16T22:51:19.635Z",
  "updatedAt": "2025-07-01T23:26:37.000Z",
  "id": "aJIJlLEOEfejYf81",
  "name": "agente cantera Crm",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=datos de la empresa: {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}\npropuesta :  {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nperfil empresa:  {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\n"
            },
            {
              "content": "=eres un cotizador de sistemas y proyectos de it y te voy a dar datos de una empresa, un requieriiento de IT  y  el perfil de laempresa, y tu debes estimar tres variables: 📊 Al completar el perfilado del usuario, aplica el siguiente modelo de puntuación:\n1. Asigna un valor entre 0 y 1 a cada una de estas variables, basado en las respuestas del usuario:• Claridad del proyecto (valor: claridad)• Presupuesto estimado (valor: presupuesto)• Nivel de decisión o influencia (valor: autoridad)• Plazo de decisión o de inicio del proyecto (valor: tiempo)• Compatibilidad estratégica con Cantera Digital (valor: compatibilidad)\n2. Calcula la probabilidad de cierre con esta fórmula:\nprobabilidad_cierre = (claridad × 0.25) + (presupuesto × 0.20) + (autoridad × 0.20) + (tiempo × 0.15) + (compatibilidad × 0.20)\n3. Redondea el resultado a dos decimales. Registra este valor como `probabilidad_cierre` en el sistema interno y también inclúyelo en el formato JSON para `ingreso_teams`.\n📌 Si algún valor no puede ser determinado, asigna 0.3 de manera conservadora. Este valor debe actualizarse automáticamente si luego se obtiene más información en la conversación.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -100,
        -20
      ],
      "id": "b58544ae-cf7d-484b-967f-17035a84388b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "value",
              "type": "number",
              "description": "integer value of the usd value estimated of the project witout money symbol only number",
              "required": true
            },
            {
              "name": "propability",
              "type": "number",
              "description": "value  of probality of close this deal",
              "required": true
            },
            {
              "name": "detail_of_estimation",
              "description": "detailed explain of the estimation",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. redacta todo en español"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        320,
        -20
      ],
      "id": "64d69121-488a-40f8-a7d1-919f01b6083a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        200
      ],
      "id": "b904411e-1426-4494-97fd-38366e758ea0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre_cliente"
            },
            {
              "name": "email_cliente"
            },
            {
              "name": "telefono_cliente"
            },
            {
              "name": "nombre_empresa"
            },
            {
              "name": "requerimiento_cliente"
            },
            {
              "name": "perfilado_de_cliente"
            },
            {
              "name": "resumen_propuesta"
            },
            {
              "name": "type_lead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -20
      ],
      "id": "b278c57c-2c6e-4b14-bc3c-572d5eee2b67",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "b6b236f7-9ae6-42d1-9e1b-3af1452cba07",
          "mode": "list",
          "cachedResultName": "Cantera Digital"
        },
        "channelId": {
          "__rl": true,
          "value": "19:f920de9afa9c4ac8b8c827fb884d2d9c@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3Af920de9afa9c4ac8b8c827fb884d2d9c%40thread.tacv2/Leads?groupId=b6b236f7-9ae6-42d1-9e1b-3af1452cba07&tenantId=3823387a-1cbb-49ad-bf55-69153c1f8269&allowXTenantAccess=True&ngc=True"
        },
        "message": "=Tenemos nuevo Lead\n\nCliente:  {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}\nEmpresa: {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}\n\nRequerimiento: {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}\nPropuesta: {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\n{{ \"\\n\" }}\nPerfilado de cliente: {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\n{{ \"\\n\" }}\nEstimación Inicial: {{ $('Information Extractor').item.json.output.detail_of_estimation }}\n{{ \"\\n\" }}\nValor del Lead: {{ $('Information Extractor').item.json.output.value }} USD\nProbablidad de Cierre: {{ $('Information Extractor').item.json.output.propability*100 }} %\n{{ \"\\n\" }}\n\nPodemos contactar al cliente por los siguientes medios\nWhatsapp: {{ $('When Executed by Another Workflow').item.json.telefono_cliente }}\nCorreo: {{ $('When Executed by Another Workflow').item.json.email_cliente }}\n\nSe mando la información por correo electónico.\n\n",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1180,
        120
      ],
      "id": "bfd88904-d7bf-4cf9-98c7-033668162065",
      "name": "Microsoft Teams2",
      "webhookId": "1ed86f49-ce45-4cb2-b96c-38c48cd1d7f1",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "aCoVuwLpygun9hxH",
          "name": "Microsoft Teams account - cantera"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "=jc@canteradigital.mx,janette.cano@canteradigital.mx,francisco@canteradigital.mx,edgar@canteradigital.mx,nathanael.solorio@canteradigital.mx,alexandra.trujillo@canteradigital.mx",
        "subject": "Nuevo Lead",
        "bodyContent": "=Tenemos nuevo Lead\n\nCliente:  {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}\nEmpresa: {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}\n\nRequerimiento: {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}\nPropuesta: {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\n{{ \"\\n\" }}\nPerfilado de cliente: {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\n{{ \"\\n\" }}\nEstimación Inicial: {{ $json.output.detail_of_estimation }}\n{{ \"\\n\" }}\nValor del Lead: {{ $json.output.value }} USD\nProbablidad de Cierre:  {{ $json.output.propability*100 }} %\n{{ \"\\n\" }}\n\nPodemos contactar al cliente por los siguientes medios\nWhatsapp: {{ $('When Executed by Another Workflow').item.json.telefono_cliente }}\nCorreo: {{ $('When Executed by Another Workflow').item.json.email_cliente }}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        840,
        120
      ],
      "id": "062c793f-44e6-429b-a06f-589ee27e5835",
      "name": "Microsoft Outlook",
      "webhookId": "28d91d12-609f-420c-b3d1-690bd1f2c164",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1e9fbzjIiV9wNv2j",
          "name": "Microsoft Outlook account - azure@canteradigital.mx"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        780,
        -240
      ],
      "id": "d36095f3-b15b-4bbd-a68d-5fed9c338b9d",
      "name": "Pipedrive Contacto Actual",
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f1094c47-4084-4268-9026-ccc0335eeccf",
              "operator": {
                "type": "dateTime",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "54c506b8-59d3-4368-b06b-14cd13058939",
      "name": "es un nuevo Lead?",
      "type": "n8n-nodes-base.if",
      "position": [
        1060,
        -240
      ],
      "executeOnce": true,
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $('When Executed by Another Workflow').item.json.nombre_empresa }}",
        "additionalFields": {
          "label": 2
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1420,
        -460
      ],
      "id": "1949f7b9-61a7-4a45-8b14-f54917082305",
      "name": "Pipedrive crea organizacion",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}",
        "org_id": "={{ $('Pipedrive Contacto Actual').item.json.organization.id }}",
        "additionalFields": {
          "currency": "MXN",
          "customProperties": {
            "property": [
              {
                "name": "0a0d024986d387fc0a9e7ff27a66596d15695b3d",
                "value": "=El requerimiento es:{{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}  La estimación y análisis: {{ $('Information Extractor').item.json.output.detail_of_estimation }}  El Perfil de la empresa :{{ $('Information Extractor').item.json.output.detail_of_estimation }}\n\nvalor del proyecto:{{ $('Information Extractor').item.json.output.value }}"
              }
            ]
          },
          "probability": "={{ $('Information Extractor').item.json.output.propability }}",
          "stage_id": 1,
          "status": "open",
          "value": "={{ $('Information Extractor').item.json.output.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1440,
        -180
      ],
      "id": "0c24094d-4638-48db-a343-faab8e00047b",
      "name": "Pipedrive registra deal",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('When Executed by Another Workflow').item.json.nombre_cliente }}",
        "additionalFields": {
          "email": [
            "={{ $('When Executed by Another Workflow').item.json.email_cliente }}"
          ],
          "label": "templado",
          "marketing_status": "subscribed",
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('When Executed by Another Workflow').item.json.telefono_cliente }}"
          ],
          "visible_to": "3"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1760,
        -460
      ],
      "id": "2c569be3-9156-436c-b9ea-652c7aad80ac",
      "name": "Pipedrive Crea Persona",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}",
        "org_id": "={{ $('Pipedrive crea organizacion').item.json.id }}",
        "additionalFields": {
          "currency": "MXN",
          "customProperties": {
            "property": [
              {
                "name": "0a0d024986d387fc0a9e7ff27a66596d15695b3d",
                "value": "=El requerimiento es:{{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nLa estimación y análisis: {{ $('Information Extractor').item.json.output.detail_of_estimation }}\n\nEl Perfil de la empresa : {{ $('Information Extractor').item.json.output.detail_of_estimation }}\n\nMonto estimado en USD: {{ $('Information Extractor').item.json.output.value }}"
              }
            ]
          },
          "person_id": "={{ $json.id }}",
          "probability": "={{ $('Information Extractor').item.json.output.propability }}",
          "stage_id": 1,
          "status": "open",
          "value": "={{ $('Information Extractor').item.json.output.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2120,
        -460
      ],
      "id": "fdcd1399-26d2-4263-84f2-b7c31bc3677a",
      "name": "Pipedrive Crea Deal 2",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}",
        "organization_id": "={{ $('Pipedrive crea organizacion').item.json.id }}",
        "additionalFields": {
          "label_ids": [],
          "person_id": "={{ $('Pipedrive Crea Persona').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2400,
        -460
      ],
      "id": "b68bcf0e-2c7d-4482-bc31-4be47451b5d4",
      "name": "Pipedrive Crea LEAD",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "subject": "=En Cantera Tenemos una Porpuesta Increíble {{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "bodyContent": "=Hola {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}:\n\nNos alegra saber que podemos apoyarte en {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}, para tu empresa {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}.\n\nEn breve, un ejecutivo de cuenta se pondrá en contacto contigo para ofrecerte una consultoría personalizada.\n \nAgradecemos tu interés en Cantera Digital.\n\nSaludos cordiales,\nJanette Cano\nDirectora Comercial\n \n ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2740,
        -160
      ],
      "id": "e3975536-c1cb-469f-bf84-216ab3f7ec4c",
      "name": "Microsoft Outlook3",
      "webhookId": "e9c53466-e64d-4a1a-b342-7e3992ecf8d7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "hV3xyOpWUpR6z3K6",
          "name": "Microsoft Outlook Asesor Comercial"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "subject": "=En Cantera Tenemos una Porpuesta Increíble {{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "bodyContent": "=Hola {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}:\n\nNos alegra saber que podemos apoyarte en {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}, para tu empresa {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}.\n\nEn breve, un ejecutivo de cuenta se pondrá en contacto contigo para ofrecerte una consultoría personalizada.\n \nAgradecemos tu interés en Cantera Digital.\n\nSaludos cordiales,\nJanette Cano\nDirectora Comercial",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2740,
        -460
      ],
      "id": "3fc210da-9a5e-4477-91aa-29b6b2150ce0",
      "name": "Microsoft Outlook2",
      "webhookId": "29b0ddf6-d6e6-4c2c-a78b-e2ebd520beb8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "hV3xyOpWUpR6z3K6",
          "name": "Microsoft Outlook Asesor Comercial"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('When Executed by Another Workflow').item.json.telefono_cliente }}",
        "textBody": "=Perfecto! ya tenemos todos tus datos, nuestros asesores se pondran en contacto contigo.{{\"\\n\"}} Estamos seguros que te sorprenderá nuestra propuesta.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3040,
        -320
      ],
      "id": "411105a1-4aec-4251-968f-f584a74244a4",
      "name": "WhatsApp Business Cloud",
      "webhookId": "74eb5a43-3c5e-4e6d-8de7-12d915a33100",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "content": "## Interpretador\nEste nodo recibe una serie de parametros del lead como nombre, necesidad, empresa, presupuesto etc.\n\nse encarga de dar una interpretación a esos datos y actua como un interprete y genera un texto con datos como probabilidad de cierre, valor del negocio, etc.",
        "height": 400,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -240
      ],
      "typeVersion": 1,
      "id": "2e3d393d-0e49-46d4-91b9-e2b9eceb98f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Extractor\nObtiene el texto del primer nodo y toma la información que le pidamos y la retorna en variables utilizables",
        "height": 520,
        "width": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -240
      ],
      "typeVersion": 1,
      "id": "15b99dde-cb8e-41db-981a-96c678bc273a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Envio de información a areas comerciales\nEsta sección envia un mensaje por correo al area comercial aparte de generar un mensaje en un canal de teams para que sea visible cuando un lead llega.",
        "height": 340,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        -40
      ],
      "typeVersion": 1,
      "id": "834b1bba-1099-4395-a2a7-f08e56e30a8b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envio de documentación a Pipedrive\nEnviamos los datos de nuestro lead a pipedrive como CRM",
        "height": 320,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        -400
      ],
      "typeVersion": 1,
      "id": "eafedac7-c292-4284-9097-55cade5c5a3f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Envio de correo a nuestro cliente\nEnviamos un correo electrónico independientemente que ya exista o no en nuestro crm con los datos soobre su proyecto y la promesa de contacto futuro",
        "height": 640,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2620,
        -640
      ],
      "typeVersion": 1,
      "id": "1289a6e9-358b-4503-9d69-131dd0a666c8",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pipedrive Contacto Actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook": {
      "main": [
        [
          {
            "node": "Microsoft Teams2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "es un nuevo Lead?": {
      "main": [
        [
          {
            "node": "Pipedrive crea organizacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pipedrive registra deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive crea organizacion": {
      "main": [
        [
          {
            "node": "Pipedrive Crea Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive registra deal": {
      "main": [
        [
          {
            "node": "Microsoft Outlook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Crea Persona": {
      "main": [
        [
          {
            "node": "Pipedrive Crea Deal 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Crea Deal 2": {
      "main": [
        [
          {
            "node": "Pipedrive Crea LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Crea LEAD": {
      "main": [
        [
          {
            "node": "Microsoft Outlook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Contacto Actual": {
      "main": [
        [
          {
            "node": "es un nuevo Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "nombre_cliente": "Roberto Aaron Avila Valdes",
          "email_cliente": "aaron_avival@hotmail.com",
          "telefono_cliente": "5214432139575",
          "nombre_empresa": "AaronCollections",
          "requerimiento_cliente": "Desarrollo de una página web e-commerce para vender figuras coleccionables de Funko Pop, sin diseño ni equipo técnico actual. Presupuesto aproximado de $10,000. Plazo de entrega finales de julio.",
          "perfilado_de_cliente": "Empleados: 3; Ubicación: Morelia, Michoacán; Poder de decisión en la compra.",
          "resumen_propuesta": "Propuesta de desarrollo de página web e-commerce con diseño atractivo y funcionalidad de venta en línea.",
          "type_lead": "hot"
        }
      }
    ]
  },
  "versionId": "69c4fca0-17a6-4d50-8f95-14f984b6e8e4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-16T22:51:19.638Z",
      "updatedAt": "2025-06-16T22:51:19.638Z",
      "role": "workflow:owner",
      "workflowId": "aJIJlLEOEfejYf81",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}