workflows/Agente Glassy Buscador Productos dev.json
{
  "createdAt": "2025-07-09T00:51:08.728Z",
  "updatedAt": "2025-07-09T01:21:53.000Z",
  "id": "K8oTgBxQHYjHKhPI",
  "name": "Agente Glassy Buscador Productos dev",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        -100
      ],
      "id": "470aa345-1154-4f84-b63c-8b35c0255644",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        -280
      ],
      "id": "ddbb3e8d-28b5-4e8f-a674-53cde57c79ce",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "text": "={{ $json.query }}",
        "attributes": {
          "attributes": [
            {
              "name": "year",
              "description": "a침o del vehiculo",
              "required": true
            },
            {
              "name": "brand",
              "description": "marca del vehiculo",
              "required": true
            },
            {
              "name": "model",
              "description": "modelo del vehiculo",
              "required": true
            },
            {
              "name": "car_type",
              "description": "tipo de autom칩vil",
              "required": true
            },
            {
              "name": "type_glass",
              "description": "tipo de cristal",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        260,
        -280
      ],
      "id": "d716915f-f399-4f35-8745-0c0efd44019e",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "url": "=https://butik-vidrio.canteradigital.mx/api/finder/searchProducts/filtered?year={{ $json.output.year }}&brand={{ $json.output.brand }}&model={{ $json.output.model }}&car_type={{ $json.output.car_type }}&type_glass={{ $json.output.type_glass }}&antenna=false&encapsulated=false&hud=false&heated=false&attachment=false&request_origin=chatbot",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -280
      ],
      "id": "c61a46d6-a6ca-41b1-93a2-b5b9a1ffad63",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "solicita los productos para el a침o 2012, la marca Volkswagen, el modelo Jetta, el tipo de autom칩vil 4 Door Sedan y el tipo de cristal Windshield"
        }
      }
    ]
  },
  "versionId": "78c8a440-8b44-4e71-a38b-c2f9eeffc90b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-09T00:51:08.732Z",
      "updatedAt": "2025-07-09T00:51:08.732Z",
      "role": "workflow:owner",
      "workflowId": "K8oTgBxQHYjHKhPI",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-07-08T21:59:22.697Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}