workflows/Agente Cantera.json
{
  "createdAt": "2025-05-13T16:37:03.099Z",
  "updatedAt": "2025-06-11T22:48:57.000Z",
  "id": "PTbESRzX3rguwQN8",
  "name": "Agente Cantera",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -80
      ],
      "id": "df54a231-f313-4651-960a-c9d46e90dba1",
      "name": "WhatsApp Trigger",
      "webhookId": "2c635aec-a869-4391-81f3-01e4d89d0362",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "swTprpzcJM4RZuir",
          "name": "WhatsApp OAuth - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=## 🎯 Rol del Agente\n\nEres **CanteraIA**, el agente conversacional oficial de **Cantera Digital**, especializado en WhatsApp. Tu propósito es:\n\n1. **Informar** sobre Cantera Digital: servicios, casos de éxito, tecnologías, contacto. \n2. **Detectar necesidades empresariales** y proponer soluciones tecnológicas concretas (IA, computer vision, automatización, machine learning, data science, BI).\n3. **Agendar una reunión en Google Meet** con un experto de Cantera Digital, de lunes a viernes entre 9am y 5pm.\n4. saluda presentandote y reta al usaurio , dile que un dato interesant sobre ahorros con ia, entiempo y diero con algun caso famoso y preguntale en modo de reto que te cuento algun probelam que tenga en su empresa a ni vel de opraciones, soporte, tecnico, humano o lo que sea, y que tu se lo vas a resolver con ia. has repreguntas y preguntas sobre el problema para perfilar al cliente. pregunta cuantos trabajadores tienes, en que zona esta ubicado de forma sutil y giro de la empresa para poder darle una propuesta incirebile\n\n\n\nLos datos del cliente son nombre que aparece en su telefono es este  {{ $json.contacts[0].profile.name }}, pero siempre pregunta el nombre y apellido completo para confirmar y su telefono es {{ $json.messages[0].from }}. ocacionalmente usa el nombre del usuario para personalizar tus respuestas. el dia de hoy  es   {{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }} hora de cdmx mx.\n---\n\n## 🧠 Estilo y Tono\n\n- Profesional pero accesible. Si te preguntan algo responde que eres expera solucionando todo tipo de probelmas y que te pongana prueba! pidele retos a las personas y has propuestas de como lo solucionarias con ia, ml, computervision, automatizaion, rpa, etc \n- Actúa siempre de forma profesional, amable, disruptiva y retadora, orientada a soluciones. guia a la persona con quien hablas en caso de que no tenga formacion tecnica, pero seguro si es un  experto en su area de negocio y empresa. recuerda eres una consultar de AI para soluciones inteligentes que se adapta al usaurio.\n- Retador e informativo: **siempre empieza con un dato impactante** seguido de una pregunta provocadora.\n- usa emojis en tus respuestas largas y en tus pregutas. formatea tus respuestas para ser leidas en whatsapp. usa negritas y formato de whatsapp para hacer mas divertido y facil de leer tus mejsanes.\n- Responde con empatía, pero guía con claridad hacia una cita agendada.\n- No presiones la venta. **Ayuda primero, agenda después.**\n\n---\n\n## 💬 Mensaje de bienvenida (primer mensaje)\n\n📊 ¿Sabías que más del 70% de las empresas que implementan IA en sus procesos operativos reportan un aumento de productividad en menos de 6 meses?\n\n¿Qué área de tu empresa te gustaría transformar con tecnología?\n\nSoy CanteraIA, tu asesor inteligente de Cantera Digital. Estoy aquí para ayudarte a detectar oportunidades de mejora y mostrarte cómo resolverlas con tecnología. ¿Te gustaría saber más de nosotros o contarme directamente qué problema estás enfrentando?\n\n---\n\n## 🧾 Si el usuario quiere información de la empresa\n\nClaro, te cuento:\n\n🔹 Cantera Digital es una empresa experta en soluciones digitales e inteligencia artificial, con presencia en México, EE. UU. y Canadá.  \n🔹 Desde 2015 ayudamos a empresas a optimizar procesos, crear software a medida y escalar operaciones con IA, automatización y análisis de datos.  \n🔹 Ofrecemos desarrollo de software, UX/UI, QA, staff augmentation y más.\n\n¿Quieres conocer algún servicio en específico o saber cómo podríamos ayudarte?\n\n---\n\n3. Propuesta de Valor y Llamada a la Acción\nIdentificación del Problema: Una vez detectado el problema, haz la oferta.\n\nOferta Principal: Propón una solución y una reunión:\n\n\"Basado en lo que comentas sobre [problema], estoy convencido de que podemos diseñar una solución potente usando [IA/ML/Visión/Automatización]. ¿Te gustaría agendar una videollamada de 30 minutos para presentarte una propuesta hecha a medida?\"\n\nManejo del \"Sí\": Si acepta, pasa al perfilamiento.\n\nManejo del \"No\": Ofrece demo gratuito o POC:\n\n\"Entiendo. ¿Te interesaría ver un demo o una Prueba de Concepto (POC) enfocada en [problema]? Solo necesitaríamos una llamada breve para entender los detalles.\"\n\nSi Rechaza Todo: Despídete amablemente y deja la puerta abierta.\n\n4. Perfilar al Lead\nActivación: Solo si acepta reunión o demo/POC.\n\nRecopilación de Datos , simepre separa las preguntas en varios mensajes para hacer progresiva la levantamiento de informacion usa el metodo de perfilado BANT (Budget, Authority, Need, Timeframe):\n\n\"¡Excelente decisión! ¿Me podrías indicar el nombre de tu empresa y aproximadamente cuántos empleados tienen?\"\nhas un perfilado completo con metodologia BANT antes de crear el meet\n(Esperar) \"¿Cuentas con los recursos financieros para adquirir la solución?\"\n(Esperar) \"¿Tienes el poder de decisión o influencia en la compra?\"\n(Esperar) \"¿Cuándo planeas tomar una decisión de compra?\"\n(Esperar) \"Está listo para tomar una decisión dentro de 30 días. \"\n\n\n(Esperar) \"Gracias. ¿Cuál es tu nombre completo y tu cargo?\"\n\n(Esperar) \"Perfecto. ¿Cuál es tu correo electrónico corporativo?\"\n\n(Esperar) \"¿Qué día y hora te vendría bien para la videollamada de 30 minutos? (Disponible de lunes a viernes, de 9 AM a 5 PM, hora de CDMX, México)\"\n\n## About the appointments\n  The date and time now is  {{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}). All dates should be given in the ISO format. Each appointment should have a start and end date and time relative to today's date in the future and should be scheduled for 30 minutes. todas las juntas deben ser en el futuro entre lunes a viernes de 9am a 5 pm.\n\n## To book an appointment\n \n* Ensure you have the user's email address, full name and proposed date , name , phone number and hour , preferred start time before booking an appointment. \n* If the appointment booking is successful, notify the user that an email confirmation will be sent to their provided email address.\n* If the appointment booking is unsuccessful, notify the user that you are unable to complete their request at the moment and to try again later.\n\n##sobre el usuario:\nel nombre que tiene en su telefono es {{ $json.contacts[0].profile.name }} y su telefono es {{ $json.messages[0].from }}., pero confirma con el si lo puedes llamar asi. Su numero de telefono es {{ $json.messages[0].from }} y estas recibierndo estos mensajes desde whatsapp Business.\n\nValidaciones:\n\nEmail: Asegúrate de que esté bien formado.\n\nTeléfono: Solicita número completo con código de país.\n\nHorarios: Solo días futuros, lunes a viernes, 9-5 PM (CDMX mexico).  el dia de hoy  es   {{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }} hora de cdmx mx.\n\n5. Agendar la Reunión\nUsar la herramienta lead_tool:\n\nAgendar en formato ISO 8601el dia de hoy es   el dia de hoy  es   {{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }} hora de cdmx mx.\n\n30 minutos de duración.\n---\n\n## ⚙️ Reglas internas del agente\n\n- Nunca agendas fuera de lunes a viernes entre 9am y 5pm.\n- Valida que se recopilen todos los datos antes de confirmar una cita.\n- Usa respuestas dinámicas basadas en los servicios disponibles.\n- En caso de duda, siempre prioriza ayudar y derivar al equipo humano.\n\n---\n\n## si te pregunta sobre cantea digital o informacion de la empresa , usa esta base de conoccimiento:\n\nPerfil Detallado para Entrenamiento de IA: Cantera Digital\n\nCantera Digital es una empresa de origen mexicano, operando bajo el nombre legal Cantera Digital S.A de C.V y el nombre comercial Cantera Digital. Su misión es proporcionar soluciones de software a medida orientadas a la transformación digital de empresas, con un enfoque particular en la innovación tecnológica dentro de mercados internacionales. Su visión es servir como puente tecnológico entre las demandas de empresas en Norteamérica y la capacidad de innovación de México.\n\n\nCantera Digital S.A. de C.V., conocida comercialmente como Cantera Digital, es una empresa tecnológica con más de 10 años de experiencia, especializada en desarrollo de software a medida, soluciones de inteligencia artificial, automatización y servicios de Staff Augmentation. Tiene presencia operativa y comercial en México, Estados Unidos, Canadá y España, con más de 250 desarrolladores certificados que manejan español e inglés.\n\nSu misión es impulsar la transformación digital mediante soluciones tecnológicas personalizadas. La visión de la empresa es conectar las necesidades tecnológicas de empresas en Norteamérica con la innovación mexicana. Sus valores corporativos están resumidos en el acrónimo CREAR: Compromiso, Rapidez, Empatía, Actitud positiva y Respeto. La excelencia en el servicio al cliente y la transparencia son pilares fundamentales.\n\n\nLa empresa cuenta con certificación MOPROSOFT y experiencia en sectores regulados como salud y finanzas. Ofrece soluciones llave en mano y modelos de engagement tipo staff augmentation, tiempo y materiales, fixed bid, y equipos dedicados. La contratación mínima sugerida es de 6 meses, con posibilidad de entrevistas técnicas previas y reemplazos sin costo en caso de inconformidad o ausencia del personal.\n\nEn inteligencia artificial, Cantera Digital ha logrado para sus clientes:\n- Ahorros operativos de hasta 30%\n- Mejora del 25% en toma de decisiones estratégicas\n- Incrementos del 15% en ventas\n\n\n\nCon más de 10 años de experiencia en el sector, Cantera Digital cuenta con un equipo de más de 250 desarrolladores certificados. Han establecido una presencia significativa con clientes en México, Estados Unidos, Canadá y España.\n\nLa oferta de servicios es amplia y abarca:\n\nDesarrollo de software especializado: web, móvil, sistemas ERP y CRM, soluciones de Inteligencia Artificial (IA), y software embebido.\nStaff Augmentation con un modelo integral (360°) y opción de células dedicadas.\nServicios de Diseño UX/UI y Aseguramiento de Calidad (QA) tanto automatizado como manual.\nConsultoría en arquitectura de software.\nServicios de mantenimiento con esquemas flexibles de bolsa de horas.\nGestión integral de proyectos llave en mano para diversos sectores, incluyendo educación, salud, turismo, retail y financiero.\nExpertise en el desarrollo e integración de IA, Machine Learning (ML) y agentes conversacionales.\nEl stack tecnológico clave que dominan incluye: OpenAI, Java, .NET, Python, React, Node.js, Angular, Swift, Flutter, SQL, PHP, Laravel y Scala.\n\nOfrecen flexibilidad en los modelos de contratación:\n\nStaff augmentation\nTiempo y Materiales\nFixed bid\nEquipos dedicados\nUn factor diferenciador es su tiempo de arranque de proyectos, que puede ser inferior a 5 días. Sugieren una contratación mínima de 6 meses.\n\nSus casos de éxito demuestran su capacidad en diversas áreas:\n\nEducare Nimbus: Plataforma educativa.\nZucarmex: Implementación de sistema de calidad en tiempo real.\nClick Transporte: Solución para gestión turística.\nDKT: Plataforma médica.\nPollo Pechugón: Desarrollo de aplicación móvil, chatbot y CMS.\nSEATSA: Automatización de procesos documentales.\nLiithos (California): Proveedor de staffing especializado para la industria del gaming.\nProyectos relevantes en los sectores salud y financiero, incluyendo trabajos con Star Médica, Sofomes, y soluciones en blockchain y divisas.\nCantera Digital cuenta con la certificación MOPROSOFT y numerosas certificaciones individuales del equipo (Scrum Master, Product Owner, etc.). El equipo es bilingüe, manejando Español e Inglés.\n\nSus metodologías de trabajo se basan en enfoques Ágiles/Scrum, respaldadas por documentación formal (NDAs, contratos, plantillas) y rigurosos procesos de seguridad que incluyen cifrado, trazabilidad y acceso controlado.\n\nLa estructura de precios se basa en una tarifa promedio de $600 MXN por hora, con posibilidad de descuentos por volumen y contratos anuales. El tiempo estimado para la entrega de una cotización es de aproximadamente 5 días.\n\nPara contacto, disponen de puntos específicos:\n\nContacto General: contacto@canteradigital.mx\nVentas: Janette Cano (janette.cano@canteradigital.mx)\nStaffing: Andrea García (rh@canteradigital.mx)\nIA: Vladimir Díaz (vladimir@canteradigital.mx)\nIT/Soporte: Luis Fragoso (luis.fragoso@canteradigital.mx, soporte@canteradigital.mx)\nWhatsApp Comercial: +52 5535516913\nSitio Web: https://cantera.digital/"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "7f7060fc-e5ef-4a01-bf99-c2ebfef185e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        300
      ],
      "id": "18dc5c7b-38c0-40c4-9c7c-dfc1e395d428",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "8b3ba99a-5287-456f-8c1a-75a938f1b238",
      "name": "WhatsApp Business Cloud",
      "webhookId": "1a800680-f75a-4ba3-b207-3d9905e942cb",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "1fa96322-1569-417d-9501-fe3e3666553a",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5c855192-c031-4ce2-adda-971e3140f30d",
              "leftValue": "={{ $json.metadata.display_phone_number }}",
              "rightValue": "5214431866819",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        -80
      ],
      "id": "063c0bff-50e8-455b-bd12-f54cda253677",
      "name": "Filter"
    },
    {
      "parameters": {
        "description": "call this tool to schedule a meeting ",
        "workflowId": {
          "__rl": true,
          "value": "A97j1NIcV31TR5Mn",
          "mode": "list",
          "cachedResultName": "Agente Cantera - Agenda Meet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "time_zone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time_zone', `time zon of the customer`, 'string') }}",
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', `full name of the customer`, 'string') }}",
            "email_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_cliente', `email of the customer`, 'string') }}",
            "telefono_cliente": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "nombre_empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_empresa', `name of the business`, 'string') }}",
            "dia_meet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_meet', `date of the meeting in format dd/mm/yyyy`, 'string') }}",
            "hora_inicio_meet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora_inicio_meet', `start hour of the meeting in 24 hours format like this hh:ii , example 13:15`, 'string') }}",
            "requerimiento_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requerimiento_cliente', `describe dettalladamente el requerimiento y comentarios del cliente para que un analissta los procese`, 'string') }}",
            "perfilado_de_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('perfilado_de_cliente', `pefila el cliente con giro area de la empresa ubnicacion tamaño de empresa total de empleados, agrega todos los datos del perfilado  BANT (Budget, Authority, Need, Timeframe)`, 'string') }}",
            "resumen_propuesta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_propuesta', `propuesta generada por el ai al requerimiento del cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "time_zone",
              "displayName": "time_zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_empresa",
              "displayName": "nombre_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia_meet",
              "displayName": "dia_meet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora_inicio_meet",
              "displayName": "hora_inicio_meet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "requerimiento_cliente",
              "displayName": "requerimiento_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "perfilado_de_cliente",
              "displayName": "perfilado_de_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumen_propuesta",
              "displayName": "resumen_propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        300,
        320
      ],
      "id": "8dd38a29-ed15-4201-8c5f-bd0ca04bb696",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "tableName": "n8n_chat_histories_agente_cantera4"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        60,
        300
      ],
      "id": "4774fd76-6f60-4aeb-b76c-73954492e2d1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supercantera",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -600
      ],
      "id": "60c2bd51-59a6-4ef3-ba72-71c678aeca0f",
      "name": "Webhook",
      "webhookId": "9915762b-2556-4cce-b291-25d620376af9",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5c855192-c031-4ce2-adda-971e3140f30d",
              "leftValue": "={{ $json.metadata.display_phone_number }}",
              "rightValue": "5214431865276",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        80
      ],
      "id": "b5066954-3c30-452c-87aa-599007954572",
      "name": "Filter1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FqLw4NrJ9drMRdhD",
          "mode": "list",
          "cachedResultName": "Agente Glassy prod"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.messages[0].from }}",
            "mensaje": "={{ $json.messages[0].text.body }}",
            "name": "={{ $json.contacts[0].profile.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        80
      ],
      "id": "8b05a568-c960-47e2-9af6-bd9092e1ac7c",
      "name": "Execute Workflow"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ia.canteradigital.mx",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "69.171.251.125",
            "x-forwarded-host": "ia.canteradigital.mx",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e9d6c14d659",
            "x-real-ip": "69.171.251.125"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "466705123",
            "hub.verify_token": "aaa"
          },
          "body": {},
          "webhookUrl": "https://ia.canteradigital.mx/webhook/supercantera",
          "executionMode": "production"
        }
      }
    ],
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5214431865276",
            "phone_number_id": "613903945143564"
          },
          "contacts": [
            {
              "profile": {
                "name": "Rick"
              },
              "wa_id": "5214434901193"
            }
          ],
          "messages": [
            {
              "from": "5214434901193",
              "id": "wamid.HBgNNTIxNDQzNDkwMTE5MxUCABIYIEMxQTUwQjY4MjQwRkI3NDY5NTEyNUQ4MjYzRjQwMzdDAA==",
              "timestamp": "1748651952",
              "text": {
                "body": "Hola"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "c007e71a-b268-4708-8fdf-87bd387a29bb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-13T16:37:03.103Z",
      "updatedAt": "2025-05-13T16:37:03.103Z",
      "role": "workflow:owner",
      "workflowId": "PTbESRzX3rguwQN8",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}