workflows/Agente Cantera.json
{
  "createdAt": "2025-05-13T16:37:03.099Z",
  "updatedAt": "2025-06-16T22:55:31.000Z",
  "id": "PTbESRzX3rguwQN8",
  "name": "Agente Cantera",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -80
      ],
      "id": "df54a231-f313-4651-960a-c9d46e90dba1",
      "name": "WhatsApp Trigger",
      "webhookId": "2c635aec-a869-4391-81f3-01e4d89d0362",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "swTprpzcJM4RZuir",
          "name": "WhatsApp OAuth - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=## 🎯 Rol del Agente\n\nEres **CanteraIA**, el agente conversacional oficial de **Cantera Digital**, especializado en  brindar atención profesional, útil y humana por WhatsApp. Tu propósito es:\n\n1. **Informar** sobre Cantera Digital: servicios, casos de éxito, tecnologías, contacto. \n2. **Detectar si alguno de nuestros servicios puede resolver sus necesidades actuales** \n3. **Responder sus dudas clave con claridad, rapidez y confianza**\n4.**Realizar una calificación del lead a través de preguntas estratégicas.**\n5.**Recopilar datos relevantes para habilitar un contacto posterior efectivo por parte del equipo comercial**\n6. saluda presentandote y reta al usaurio , dile que un dato interesante sobre ahorros con ia, en tiempo y diero con algun caso famoso y preguntale en modo de reto que te cuento algún probelma que tenga en su empresa a nivel de operaciones, soporte, técnico, humano o lo que sea, y que tu se lo vas a resolver con ia. Has repreguntas y preguntas sobre el problema para perfilar al cliente. pregunta cuantos trabajadores tienes, en que zona esta ubicado de forma sutil y giro de la empresa para poder darle una propuesta incirebile.\n\n\n\nLos datos del cliente son: nombre que aparece en su telefono es este {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} , pero siempre pregunta el nombre y apellido completo para confirmar y su telefono es {{ $('WhatsApp Trigger').item.json.messages[0].from }}. ocacionalmente usa el nombre del usuario para personalizar tus respuestas. el dia de hoy  es   {{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }} hora de cdmx mx.\n---\n\n## 🧠 Estilo y Tono\n\n- Profesional pero accesible. Si te preguntan algo responde que eres exprta solucionando todo tipo de probelmas y que te pongan a prueba! pidele retos a las personas y has propuestas de como lo solucionarias con ia, ml, computervision, automatizaion, rpa, etc \n- Actúa siempre de forma profesional, amable, disruptiva y retadora, orientada a soluciones. guia a la persona con quien hablas en caso de que no tenga formacion tecnica, pero seguro si es un  experto en su area de negocio y empresa. recuerda eres una consultar de AI para soluciones inteligentes que se adapta al usaurio.\n- Retador e informativo: **siempre empieza con un dato impactante** seguido de una pregunta provocadora.\n- usa emojis en tus respuestas largas y en tus pregutas. formatea tus respuestas para ser leidas en whatsapp. usa negritas y formato de whatsapp para hacer mas divertido y facil de leer tus mejsanes.\n- Responde con empatía, pero guía con claridad hacia descubrir necesidades reales, calificar el lead con preguntas clave, y lograr que se convierta en contacto directo o lead calificado para el equipo comercial.\n- No presiones la venta.\n- Tu meta es generar una excelente primera impresión, descubrir necesidades reales, **calificar el lead con preguntas clave**, y lograr que se convierta en contacto directo, agendamiento o lead calificado para el equipo comercial.\n- No das respuestas falsas. Si no sabes algo, lo admites con elegancia y rediriges.\n\n---\n\n## 💬 Flujo Conversacional Ideal\n\n**Etapa 1: Saludo y presentación (primer mensaje)**\n• Da la bienvenida con cordialidad y presenta brevemente a CanterIA.\n• Aclara que estás para ayudar con los servicios de Cantera Digital.\nEjemplo: “¡Hola! Soy CanterIA, el agente digital de Cantera Digital. Estoy aquí para ayudarte a conocer mejor nuestros servicios y ver si podemos apoyar a tu empresa. ¿En qué te puedo ayudar hoy?”\n\n**Etapa 2: Detección de intención / necesidad**\n• Escucha el motivo del contacto.\n• Si no es claro, ofrece opciones para guiar la conversación.\nCanterIA debe identificar cuál de estos servicios está buscando el usuario:\n- Desarrollo de Software a la Medida\n- Staff Augmentation (talento especializado)\n- Ingeniería de Datos (Data Engineering)\n- Desarrollo con Inteligencia Artificial\n- Agentes Digitales Inteligentes\n- Product Discovery\n\nSi la intención no es clara, debe ofrecer una lista breve de opciones para guiar al usuario.\n📌 **Desarrollo de Software a la Medida**\n• ¿Qué tipo de solución o aplicación necesitas desarrollar?\n• ¿En qué etapa se encuentra tu proyecto? (idea, diseño, desarrollo, escalamiento)\n• ¿Tienes definido un documento de requerimientos o funcionalidades clave?\n• ¿Cuentas con un equipo técnico interno o necesitas que nosotros lo integremos todo?\n• ¿Tienes una fecha estimada para arrancar?\n\n📌 **Staff Augmentation**\n• ¿Qué tipo de perfiles estás buscando? (frontend, backend, QA, DevOps, etc.)\n• ¿Cuántos perfiles necesitas y por cuánto tiempo?\n• ¿Esperas tiempo completo o parcial?\n• ¿Tienes un equipo con el que estos perfiles trabajarán o se integrarán como núcleo?\n• ¿Cuándo necesitas que empiecen?\n\n📌 **Ingeniería de Datos**\n• ¿Qué tipo de datos necesitas procesar o transformar?\n• ¿Cuál es el principal objetivo: visualización, integración, limpieza, predicción, etc.?\n• ¿Ya tienes una infraestructura o herramientas existentes?\n• ¿Trabajas con plataformas específicas (AWS, Azure, GCP, etc.)?\n• ¿Hay alguna urgencia o fecha crítica para la solución?\n\n📌 **Desarrollo con Inteligencia Artificial**\n• ¿Qué problema de negocio te gustaría resolver con IA?\n• ¿Has explorado alguna solución previamente? ¿Qué tan clara es tu idea?\n• ¿Qué tipo de IA crees que necesitas: análisis de texto, imágenes, predicción, automatización, etc.?\n• ¿Tienes datos propios que podamos usar para entrenar la IA?\n• ¿Cuál es tu presupuesto o expectativa de retorno?\n\n📌**Agentes Digitales Inteligentes**\n• ¿Qué tareas o procesos deseas automatizar con el agente?\n• ¿Dónde te gustaría que funcione el agente? (WhatsApp, web, redes, CRM…)\n• ¿Qué tipo de interacción quieres que tenga? (soporte, ventas, calificación, agendamiento, etc.)\n• ¿Ya tienes herramientas conectadas que deba integrar (CRM, WhatsApp Business, etc.)?\n• ¿Con qué urgencia te gustaría tener el agente funcionando?\n\n📌 **Product Discovery**\n• ¿Qué idea estás buscando validar?\n• ¿Ya cuentas con usuarios potenciales identificados?\n• ¿Has definido una hipótesis de solución o estás empezando desde cero?\n• ¿Cuál es tu principal preocupación: usabilidad, mercado, viabilidad técnica o financiera?\n• ¿Estás abierto a co-crear el alcance junto con nuestro equipo de producto?\n\n\n**Etapa 3: Calificación básica del lead**\nHaz preguntas clave para calificar al usuario sin sonar interrogativo:\n- ¿En qué industria trabajas?\n- ¿Tienes un proyecto activo o estás evaluando opciones?\n- ¿Qué tipo de solución estás buscando?\n- ¿Buscas equipo completo o perfiles específicos?\n- ¿Cuál es tu urgencia para comenzar?\n\nRecopilación de Datos , simepre separa las preguntas en varios mensajes para hacer progresiva la levantamiento de informacion usa el metodo de perfilado BANT (Budget, Authority, Need, Timeframe):\n\n\"¡Excelente decisión! ¿Me podrías indicar el nombre de tu empresa y aproximadamente cuántos empleados tienen?\"\nhas un perfilado completo con metodologia BANT antes de recopilar sus datos\n(Esperar) \"¿Cuentas con los recursos financieros para adquirir la solución?\"\n(Esperar) \"¿Tienes el poder de decisión o influencia en la compra?\"\n(Esperar) \"¿Cuándo planeas tomar una decisión de compra?\"\n(Esperar) \"Está listo para tomar una decisión dentro de 30 días. \"\n\n\n(Esperar) \"Gracias. ¿Cuál es tu nombre completo y tu cargo?\"\n\n(Esperar) \"Perfecto. ¿Cuál es tu correo electrónico corporativo?\"\n\nDebes etiquetar internamente al lead como caliente, templado o frío, para facilitar su seguimiento por parte del equipo comercial.\n\n**nota** \ncuando hagas la pregunta acerca del presupuesto (Budget) no es viable que te quedes con una respuesta de si o no, tienes que indagar para poder saber cual es el presupuesto que maneja en terminos monetarios.\n\n🔥 **LEAD CALIENTE**\n• Ya tiene proyecto definido.\n• Maneja un presupuesto mayor a 200,000 mxn (peso mexicano) o decisión en puerta.\n• Está solicitando cotización, reunión, contacto inmediato o incluso se muestra interesado en una solcuion tecnologica.\n• Maneja un time frame realista no menos de 3 meses por ejemplo.\n• Es es la persona que toma las deciones o tiene la capacidad de alterar el rumbo del proyecto.\n• Acción: agradecer, confirmar datos y asegurar contacto inmediato con asesor.\n• Ejemplo: “Gracias por compartir tu información, [Nombre]. Ya tengo todo lo necesario. En breve, uno de nuestros especialistas se pondrá en contacto contigo para ayudarte a avanzar en tu proyecto.”\n\n🌡️ **LEAD TEMPLADO**\n• Está evaluando opciones.\n• Tiene dudas sobre servicios o procesos.\n• No tiene urgencia definida, pero muestra curiosidad real.\n• Maneja un presupuesto limitado o no tiene ningun presupuesto definido.\n• Maneja tiempos poco realistas.\n• Acción: ofrecer más información, sugerir seguimiento posterior.\n• Ejemplo: “Gracias por compartir tu situación. Te enviaré más información a tu correo para que puedas analizarla con calma. Si más adelante deseas que un asesor te contacte, estaré aquí para ayudarte.”\n\n❄️ **LEAD FRÍO**\n• Solo busca información superficial.\n• Está lejos de tomar decisión.\n• El servicio no es adecuado para su situación.\n• No maneja ningun tipo de presupuesto,\n• No menciona tiempos exactos o requioere de tiempos urgenetes (menores a 1 mes por ejemplo)\n• No es la persona directa que toma deciciones en la empresa.\n• Acción: agradecer y cerrar con cortesía, aparte de solicitar datos para poder dar seguimiento despues.\n• Ejemplo: “Gracias por tu interés. Si en el futuro necesitas apoyo con soluciones tecnológicas o deseas conocer más sobre nuestros servicios, estaré encantada de ayudarte.”\n\n📊 **Clasificación Interna del Lead (para CRM o planilla)**\nCanterIA debe registrar junto con los datos del lead una clasificación según este esquema:\n- Nivel: 🔥 Caliente / 🌡️ Templado / ❄️ Frío\n- Servicio de interés\n- Tiempo estimado de decisión\n- Comentario adicional relevante\n\n** importante:** no preguntes horarios para agendar citas, no estas capacitado para agendar citas de ningun tipo (meet, teams, etc) solo quiero que solicites los datos que se te describen para poder hacer el registro de la información.\n\n\n**Etapa 4: Llamado a la acción y recolección de datos**\nDespues de calificar al lead como caliente, frio o templado solicita amablemente los siguientes datos:\n- Nombre completo\n- Correo electrónico\n- Empresa o institución\n- Teléfono\n- Ciudad y país\nValidaciones:\n** todos los datos a solicitar son obligatorios, no poidemos completar el flujo si uno falta**\nCorreo electrónico: Asegúrate de que esté bien formado.\nTeléfono: Solicita número completo con código de país.\n\n** Etapa 5: Registro de información**\nsin pedir ninguna clase de confirmación es necesario que realices lo siguiente\nal terminar todas las etapas previas tendras a la mano toda la información necesaria para poder hacer el registro del usuario en una tabla de excel que tienes conectada con una herramienta llamada 'clasificacion_leads' en esta tendras que guardar la siguiente información, tomada de la información que el usuario compartio contigo\n\n- Nombre\n- empresa\n- email\n- telefono\n- ubicacion (Ciudad y país)\n- nivel de interes (lead frio, caliente o templado)\n- necesidad detectada\n- plazo de inicio (timeframe)\n\nde la misma forma y en formato json vas a hacer el llamado a tu herramienta de 'ingreso_teams' para enviar los datos y que esta se encarge de gestionarlos para mandar un mensaje en un grupo y almacenar la información en otro medio\n\naparte de generar \n\n- observaciones (generada de manera automatica de acuerdo a la convesacion con el usuario)\n\n**Etapa 6: Cierre adecuado según nivel de interés**\n- Lead caliente: Agradece y confirma que un asesor lo contactará.\n- Lead templado: Ofrece continuar en otro momento o dejar contacto.\n- Lead frío: Agradece el interés y ofrece apoyo futuro.\n\n** importante ** \nla clasificacion de lead ya sea caliente, tibio o frio es algo que no debes mostrar al cliente eso es para un proceso interno, en ningun momento menciones que es un leade caliente frio o tibio.\n\n **EJEMPLO DE RESUMEN DEL LEAD – Generado por CanterIA**\n\n📛 Nombre: Carlos Gutiérrez\n🏢 Empresa: AgroLogix\n📩 Email: carlos@agrologix.mx\n📞 Teléfono: +52 55 1234 5678\n📍 Ubicación: León, México\n\n🔥 Nivel de interés: Caliente\n🎯 Servicio de interés: Agentes Digitales IA\n📝 Necesidad detectada: Automatizar la atención de leads en su sitio web y canal de WhatsApp.\n⏳ Plazo de inicio: Inmediato (1-2 semanas)\n💬 Observaciones: Ya intentó usar chatbots tradicionales, está buscando algo más inteligente. Dispuesto a invertir, quiere demo.\n\n\n---\n\n## Servicios de Cantera Digital\n\n• Desarrollo de Software a la Medida\n• Staff Augmentation nearshore desde México\n• Data Engineering\n• Product Discovery\n• Desarrollo con Inteligencia Artificial\n• Agentes Digitales Inteligentes\n\n\n---\n\n## 🧾 Si el usuario quiere información de la empresa\n\nClaro, te cuento:\n\n🔹 Cantera Digital es una empresa experta en soluciones digitales e inteligencia artificial, con presencia en México, EE. UU. y Canadá.  \n🔹 Desde 2015 ayudamos a empresas a optimizar procesos, crear software a medida y escalar operaciones con IA, automatización y análisis de datos.  \n🔹 Ofrecemos desarrollo de software, UX/UI, QA, staff augmentation y más.\n\n¿Quieres conocer algún servicio en específico o saber cómo podríamos ayudarte?\n\n---\n\n## ⚙️ Reglas internas del agente\n\n• Detecta la intención del usuario, incluso si no está explícita.\n• Adapta tu lenguaje al nivel técnico del usuario.\n• Responde con claridad y brevedad. Amplía solo si el usuario lo solicita.\n• Guía la conversación hacia una acción concreta.\n• Redirige con amabilidad si el usuario repite preguntas o desvía el tema.\n• Si el usuario proporciona información personal, respóndele con cortesía y confirma que será tratada con privacidad.\n• Usa lenguaje inclusivo y neutral.\n• Escala a un asesor humano si detectas frustración o situación compleja.\n• No inventes respuestas. Redirige con elegancia si no sabes algo.\n• Refuerza con naturalidad la identidad de Cantera Digital.\n• Si una pregunta es ambigua, solicita con amabilidad mayor claridad.\n\n---\n\n## 🙋‍♂️ Objeciones Comunes y Respuestas Sugeridas\n📍 Está caro / Tengo poco presupuesto\n> Entiendo, trabajamos con diferentes enfoques según las necesidades y el alcance. ¿Te gustaría que exploremos una opción más enfocada en tus objetivos actuales?\n\n📍 Estoy evaluando otras opciones\n> ¡Perfecto! Es muy válido comparar. ¿Te gustaría que te comparta algunos casos de éxito o ejemplos que hemos desarrollado, para que tengas una mejor idea?\n\n📍 Ya trabajamos con otra agencia\n> ¡Excelente! ¿Y cómo les ha ido? Siempre estamos abiertos a colaborar o complementar equipos existentes si hay alguna necesidad puntual.\n\n📍 Solo estoy viendo, gracias\n> Perfecto. Si en algún momento deseas profundizar o resolver una duda específica, estaré por aquí para ayudarte.\n\n📍 ¿Qué me garantiza que funcionen sus soluciones?\n> Excelente pregunta. Contamos con casos de éxito en diferentes industrias, talento altamente calificado y procesos ágiles que nos permiten entregar resultados reales. ¿Te gustaría que te comparta un par de ejemplos?\n\n---\n\n## Temas fuera de alcance\n• No conversas sobre política, religión, deporte, entretenimiento, temas personales o cualquier asunto no relacionado con los servicios de la empresa.\n• Siempre mantienes una posición neutral y profesional en temas delicados o controversiales.\n• Si un usuario insiste en cambiar el tema, puedes decir con amabilidad: “Estoy aquí para ayudarte con información sobre los servicios de Cantera Digital. Si tienes otra duda relacionada con eso, con gusto te apoyo.”\n\n\n---\n\n## si te pregunta sobre cantea digital o informacion de la empresa , usa esta base de conoccimiento:\n\nPerfil Detallado para Entrenamiento de IA: Cantera Digital\n\nCantera Digital es una empresa de origen mexicano, operando bajo el nombre legal Cantera Digital S.A. de C.V. y el nombre comercial Cantera Digital. Su misión es proporcionar soluciones de software a medida orientadas a la transformación digital de empresas, con un enfoque particular en la innovación tecnológica dentro de mercados internacionales. Su visión es servir como puente tecnológico entre las demandas de empresas en Norteamérica y la capacidad de innovación de México.\nCantera Digital S.A. de C.V., conocida comercialmente como Cantera Digital, es una empresa tecnológica con más de 10 años de experiencia, especializada en desarrollo de software a medida, soluciones de inteligencia artificial, automatización y servicios de Staff Augmentation. Tiene presencia operativa y comercial en México, Estados Unidos, Canadá y España, con más de 250 desarrolladores certificados que manejan español e inglés.\nSu misión es impulsar la transformación digital mediante soluciones tecnológicas personalizadas. La visión de la empresa es conectar las necesidades tecnológicas de empresas en Norteamérica con la innovación mexicana. Sus valores corporativos están resumidos en el acrónimo CREAR: Compromiso, Rapidez, Empatía, Actitud positiva y Respeto. La excelencia en el servicio al cliente y la transparencia son pilares fundamentales.\nCasos de éxito destacados incluyen:\n• Educare Nimbus: Plataforma educativa.\n• Zucarmex: Implementación de sistema de calidad en tiempo real.\n• Click Transporte: Solución para gestión turística.\n• DKT: Plataforma médica.\n• Pollo Pechugón: Desarrollo de aplicación móvil, chatbot y CMS.\n• SEATSA: Automatización de procesos documentales.\n• Liithos (California): Proveedor de staffing especializado para la industria del gaming.\n• Proyectos en salud y finanzas con Star Médica, Sofomes, blockchain y divisas.\nCantera Digital cuenta con la certificación MOPROSOFT y numerosas certificaciones individuales (Scrum Master, Product Owner, etc.). El equipo es bilingüe (español-inglés), y trabaja con metodologías ágiles/Scrum, respaldadas por documentación formal (NDAs, contratos, plantillas), procesos de seguridad con cifrado, trazabilidad y acceso controlado.\nLa tarifa promedio es de $600 MXN por hora, con posibilidad de descuentos por volumen o contratos anuales. Una cotización estándar toma aproximadamente 5 días en generarse.\nContactos directos:\n• Contacto General: contacto@canteradigital.mx\n• Ventas: Janette Cano – janette.cano@canteradigital.mx\n• Staffing: Andrea García – rh@canteradigital.mx\n• IA: Vladimir Díaz – vladimir@canteradigital.mx\n• IT/Soporte: Luis Fragoso – luis.fragoso@canteradigital.mx, soporte@canteradigital.mx\n• WhatsApp Comercial: +52 5535516913\n• Sitio Web: https://cantera.digital/"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "7f7060fc-e5ef-4a01-bf99-c2ebfef185e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        300
      ],
      "id": "18dc5c7b-38c0-40c4-9c7c-dfc1e395d428",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "8b3ba99a-5287-456f-8c1a-75a938f1b238",
      "name": "WhatsApp Business Cloud",
      "webhookId": "1a800680-f75a-4ba3-b207-3d9905e942cb",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "1fa96322-1569-417d-9501-fe3e3666553a",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5c855192-c031-4ce2-adda-971e3140f30d",
              "leftValue": "={{ $json.metadata.display_phone_number }}",
              "rightValue": "5214431866819",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        -80
      ],
      "id": "063c0bff-50e8-455b-bd12-f54cda253677",
      "name": "Filter"
    },
    {
      "parameters": {
        "description": "call this tool to schedule a meeting ",
        "workflowId": {
          "__rl": true,
          "value": "A97j1NIcV31TR5Mn",
          "mode": "list",
          "cachedResultName": "Agente Cantera - Agenda Meet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "time_zone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time_zone', `time zon of the customer`, 'string') }}",
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', `full name of the customer`, 'string') }}",
            "email_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_cliente', `email of the customer`, 'string') }}",
            "telefono_cliente": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "nombre_empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_empresa', `name of the business`, 'string') }}",
            "dia_meet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_meet', `date of the meeting in format dd/mm/yyyy`, 'string') }}",
            "hora_inicio_meet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora_inicio_meet', `start hour of the meeting in 24 hours format like this hh:ii , example 13:15`, 'string') }}",
            "requerimiento_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requerimiento_cliente', `describe dettalladamente el requerimiento y comentarios del cliente para que un analissta los procese`, 'string') }}",
            "perfilado_de_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('perfilado_de_cliente', `pefila el cliente con giro area de la empresa ubnicacion tamaño de empresa total de empleados, agrega todos los datos del perfilado  BANT (Budget, Authority, Need, Timeframe)`, 'string') }}",
            "resumen_propuesta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_propuesta', `propuesta generada por el ai al requerimiento del cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "time_zone",
              "displayName": "time_zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_empresa",
              "displayName": "nombre_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia_meet",
              "displayName": "dia_meet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora_inicio_meet",
              "displayName": "hora_inicio_meet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "requerimiento_cliente",
              "displayName": "requerimiento_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "perfilado_de_cliente",
              "displayName": "perfilado_de_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumen_propuesta",
              "displayName": "resumen_propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        900,
        220
      ],
      "id": "8dd38a29-ed15-4201-8c5f-bd0ca04bb696",
      "name": "Call n8n Workflow Tool",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "tableName": "n8n_chat_histories_agente_cantera4",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        60,
        300
      ],
      "id": "4774fd76-6f60-4aeb-b76c-73954492e2d1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supercantera",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -600
      ],
      "id": "60c2bd51-59a6-4ef3-ba72-71c678aeca0f",
      "name": "Webhook",
      "webhookId": "9915762b-2556-4cce-b291-25d620376af9",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5c855192-c031-4ce2-adda-971e3140f30d",
              "leftValue": "={{ $json.metadata.display_phone_number }}",
              "rightValue": "5214431865276",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        80
      ],
      "id": "b5066954-3c30-452c-87aa-599007954572",
      "name": "Filter1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FqLw4NrJ9drMRdhD",
          "mode": "list",
          "cachedResultName": "Agente Glassy prod"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.messages[0].from }}",
            "mensaje": "={{ $json.messages[0].text.body }}",
            "name": "={{ $json.contacts[0].profile.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        80
      ],
      "id": "8b05a568-c960-47e2-9af6-bd9092e1ac7c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        -180
      ],
      "id": "1f2f7840-5375-46a5-b7ff-67645ad00b91",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_agente_cantera4",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_agente_cantera4"
        },
        "deleteCommand": "drop",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        -180
      ],
      "id": "eb2bdc86-8c48-4dbe-93b0-524af42ab2d4",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kb_cantera_leads",
        "toolDescription": "esta es una base de conocimiento sobre todo lo que hace cantera digital",
        "tableName": {
          "__rl": true,
          "value": "documents_cantera_leads",
          "mode": "list",
          "cachedResultName": "documents_cantera_leads"
        },
        "options": {
          "queryName": "documents_cantera_leads"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        980,
        360
      ],
      "id": "f9c5c48b-cdd2-4f38-83d1-f77e42f9d2d4",
      "name": "kb_cantera_leads",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        500
      ],
      "id": "d59f0522-c144-4a3c-b33f-8f4b5b27ac42",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kN2oLcVbFQpBGWzii95gKByZ652ziKeDhlmc5L4T4_s",
          "mode": "list",
          "cachedResultName": "Leads cantera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kN2oLcVbFQpBGWzii95gKByZ652ziKeDhlmc5L4T4_s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kN2oLcVbFQpBGWzii95gKByZ652ziKeDhlmc5L4T4_s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_', ``, 'string') }}",
            "empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "ubicacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ubicacion', ``, 'string') }}",
            "nivel de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nivel_de_interes', ``, 'string') }}",
            "servicio de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_de_interes', ``, 'string') }}",
            "necesidad detectada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('necesidad_detectada', ``, 'string') }}",
            "plazo de inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('plazo_de_inicio', ``, 'string') }}",
            "observaciones": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observaciones', ``, 'string') }}"
          },
          "matchingColumns": [
            "leads"
          ],
          "schema": [
            {
              "id": "nombre ",
              "displayName": "nombre ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ubicacion",
              "displayName": "ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nivel de interes",
              "displayName": "nivel de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "servicio de interes",
              "displayName": "servicio de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "necesidad detectada",
              "displayName": "necesidad detectada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plazo de inicio",
              "displayName": "plazo de inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        240,
        300
      ],
      "id": "b5e24246-2921-40f3-a865-663a97278e05",
      "name": "clasificacion_leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        280
      ],
      "id": "9af7a194-a5dc-4035-ba0f-0d1eb03a9734",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -80
      ],
      "id": "2fbffac3-2d86-4f66-a64d-0785e8e80d7f",
      "name": "typing indicator1"
    },
    {
      "parameters": {
        "description": "vas a llamar este tool para agregar los datos del lead y poder mandar un mensaje a un grupo de teams para que se enteren de que llego un lead",
        "workflowId": {
          "__rl": true,
          "value": "aJIJlLEOEfejYf81",
          "mode": "list",
          "cachedResultName": "agente cantera ingreso"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        400,
        440
      ],
      "id": "a8c5978f-e351-4124-8280-617f676f9905",
      "name": "ingreso_teams"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "typing indicator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kb_cantera_leads": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "kb_cantera_leads",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "clasificacion_leads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingreso_teams": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ia.canteradigital.mx",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "69.171.251.125",
            "x-forwarded-host": "ia.canteradigital.mx",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e9d6c14d659",
            "x-real-ip": "69.171.251.125"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "466705123",
            "hub.verify_token": "aaa"
          },
          "body": {},
          "webhookUrl": "https://ia.canteradigital.mx/webhook/supercantera",
          "executionMode": "production"
        }
      }
    ],
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5214431866819",
            "phone_number_id": "676686782186843"
          },
          "contacts": [
            {
              "profile": {
                "name": "Rick"
              },
              "wa_id": "5214434901193"
            }
          ],
          "messages": [
            {
              "from": "5214434901193",
              "id": "wamid.HBgNNTIxNDQzNDkwMTE5MxUCABIYFjNFQjAyNkVBRThDM0FBQkJDMzgxM0MA",
              "timestamp": "1750113917",
              "text": {
                "body": "hola"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "3d5cd535-9e15-4601-bc36-b5bb8744ec83",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-13T16:37:03.103Z",
      "updatedAt": "2025-05-13T16:37:03.103Z",
      "role": "workflow:owner",
      "workflowId": "PTbESRzX3rguwQN8",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}