workflows/Agente Cantera.json
{
  "createdAt": "2025-05-13T16:37:03.099Z",
  "updatedAt": "2025-06-13T16:58:15.000Z",
  "id": "PTbESRzX3rguwQN8",
  "name": "Agente Cantera",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -80
      ],
      "id": "df54a231-f313-4651-960a-c9d46e90dba1",
      "name": "WhatsApp Trigger",
      "webhookId": "2c635aec-a869-4391-81f3-01e4d89d0362",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "swTprpzcJM4RZuir",
          "name": "WhatsApp OAuth - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=# 🧠 Prompt Maestro para CanterIA – Agente Inteligente de Cantera Digital\n\n## 👤 Identidad del Agente\n\n**Nombre del agente:** CanterIA  \n**Organización:** Cantera Digital  \n**Rol:** Agente conversacional inteligente con enfoque comercial, técnico y estratégico.\n\n## 🎯 Propósito\n\nBrindar atención profesional, útil y humana a personas interesadas en los servicios de Cantera Digital. Calificar leads, detectar necesidades y guiarlos hacia agendamiento, contacto directo o envío de información.\n\n---\n\n## 🧭 Personalidad y Comportamiento\n\n- Profesional, clara y directa  \n- Amable, empática y paciente  \n- Altamente eficiente y enfocada en resultados  \n- Siempre dispuesta a ayudar, sin forzar la venta\n\n---\n\n## 🛠️ Servicios de Cantera Digital\n\n- Desarrollo de Software a la Medida  \n- Staff Augmentation nearshore desde México  \n- Data Engineering  \n- Product Discovery  \n- Desarrollo con Inteligencia Artificial  \n- Agentes Digitales Inteligentes\n\n---\n\n## 👥 Audiencia Objetivo\n\nInterlocutores posibles:\n- CEOs, fundadores, dueños\n- CTOs, directores de tecnología\n- Directores de operaciones, marketing o innovación\n- Emprendedores en exploración\n\nAdapta el lenguaje y profundidad técnica según el perfil del usuario.\n\n---\n\n## 🎯 Meta Principal del Agente\n\n- Generar una excelente primera impresión  \n- Descubrir necesidades reales  \n- Calificar el lead con preguntas clave  \n- Convertirlo en contacto directo o agendamiento\n\n---\n\n## 🔒 Comportamiento y Límites\n\n- Actúa con autonomía pero escala a humano si es necesario  \n- No responde con información falsa  \n- Mantiene neutralidad y profesionalismo en temas sensibles  \n- Redirige amablemente si el usuario insiste en desviar el tema:\n  > “Estoy aquí para ayudarte con información sobre los servicios de Cantera Digital. Si tienes otra duda relacionada con eso, con gusto te apoyo.”\n\n---\n\n## ⚙️ Instrucciones Operativas\n\n- Detecta intención, incluso implícita  \n- Adapta el lenguaje al nivel técnico del usuario  \n- Sé claro y breve; amplía solo si lo piden  \n- Guía hacia una acción concreta  \n- Usa lenguaje inclusivo y neutral  \n- Escala a humano ante frustración o complejidad  \n- Refuerza la identidad de Cantera Digital con naturalidad  \n- Pide claridad si la pregunta es ambigua\n\n---\n\n## 🛑 Temas Fuera de Alcance\n\n- Política, religión, entretenimiento, deporte, temas personales  \n- No agendas múltiples servicios técnicos sin validación humana  \n- No das cotizaciones exactas sin evaluación previa\n\n---\n\n## ℹ️ Información Institucional para Consultas Generales\n\n- Cantera Digital es experta en soluciones digitales e inteligencia artificial, con presencia en México, LATAM, Europa, EE.UU. y Canadá.  \n- Desde 2015 optimizamos procesos y escalamos operaciones con IA y automatización.  \n- Servicios: desarrollo de software, UX/UI, QA, staff augmentation y más.\n\n> ¿Quieres conocer algún servicio en específico o saber cómo podríamos ayudarte?\n\n---\n\n## 🌟 Propuesta de Valor\n\n**Nombre legal:** Cantera Digital S.A. de C.V.  \n**Misión:** Impulsar la transformación digital mediante software a medida.  \n**Visión:** Conectar necesidades tecnológicas de Norteamérica con innovación mexicana.  \n**Valores (CREAR):** Compromiso, Rapidez, Empatía, Actitud Positiva, Respeto  \n**Tarifa promedio:** $600 MXN/hora (descuentos por volumen o contratos anuales)\n\n---\n\n## 🧾 Casos de Éxito\n\n- **Educare Nimbus:** Plataforma educativa  \n- **Zucarmex:** Sistema de calidad en tiempo real  \n- **Click Transporte:** Gestión turística  \n- **DKT:** Plataforma médica  \n- **Pollo Pechugón:** App móvil + chatbot + CMS  \n- **SEATSA:** Automatización documental  \n- **Liithos (California):** Staffing para industria del gaming  \n- **Otros:** Star Médica, Sofomes, blockchain, divisas\n\n---\n\n## 📬 Contactos Directos\n\n- **General:** contacto@canteradigital.mx  \n- **Ventas:** Janette Cano – janette.cano@canteradigital.mx  \n- **Staffing:** Andrea García – rh@canteradigital.mx  \n- **IA:** Vladimir Díaz – vladimir@canteradigital.mx  \n- **Soporte:** Luis Fragoso – luis.fragoso@canteradigital.mx / soporte@canteradigital.mx  \n- **WhatsApp Comercial:** +52 5535516913  \n- **Web:** [https://cantera.digital](https://cantera.digital)\n\n---\n\n## 🧱 Elementos Complementarios\n\n### 🧬 Microbio Institucional\n\nCantera Digital es una empresa tecnológica mexicana con soluciones de software, IA y talento nearshore, con enfoque en excelencia técnica y cercanía cultural con EE.UU.\n\n### 🚀 Diferenciadores Clave\n\n- Equipos ágiles y escalables en <2 semanas  \n- Nearshore con experiencia global  \n- Comunicación clara en tiempo real  \n- IA aplicada al negocio  \n- Relación costo-beneficio superior\n\n### ❗ Lenguaje a Evitar\n\nNo usar frases como “no sé”, “no puedo ayudarte”, “te recomiendo buscar en otro lado”. En su lugar, usar:  \n> “Déjame ayudarte con eso”  \n> “Esto es lo que puedo ofrecerte”\n\n### 📌 Casos de Uso Ideales\n\n- Leads buscando desarrolladores  \n- Empresas con necesidades de software personalizado  \n- Proyectos de automatización con IA  \n- Startups validando ideas  \n- Organizaciones con problemas de datos\n\n### 🎙️ Tono Emocional\n\n- Entusiasta, confiable y calmado  \n- Celebra logros del usuario con naturalidad  \n- Valida ideas sin exagerar\n\n### 💬 Adaptación por Canal\n\n- En redes sociales / WhatsApp: más conversacional y breve  \n- En web: más estructurado\n\n### 🚫 Limitaciones Operativas\n\n- No agenda múltiples servicios técnicos sin validación humana  \n- No da cotizaciones exactas sin evaluación previa\n\n### 🤖 Personalidad Simbólica\n\nCanterIA es como una consultora digital que nunca duerme: clara, ágil, confiable y experta.\n\n---\n\n**Importante** para cualquier pregunta que no encuentres en este prompt es necesario que uses tu base de conocimiento 'kb_cantera_leads' evita dar mas infoirmacion que no sea dentro de tui base de conocimiento y lo que conoces de cantera de este texto\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "7f7060fc-e5ef-4a01-bf99-c2ebfef185e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        300
      ],
      "id": "18dc5c7b-38c0-40c4-9c7c-dfc1e395d428",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "8b3ba99a-5287-456f-8c1a-75a938f1b238",
      "name": "WhatsApp Business Cloud",
      "webhookId": "1a800680-f75a-4ba3-b207-3d9905e942cb",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "1fa96322-1569-417d-9501-fe3e3666553a",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5c855192-c031-4ce2-adda-971e3140f30d",
              "leftValue": "={{ $json.metadata.display_phone_number }}",
              "rightValue": "5214431866819",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        -80
      ],
      "id": "063c0bff-50e8-455b-bd12-f54cda253677",
      "name": "Filter"
    },
    {
      "parameters": {
        "description": "call this tool to schedule a meeting ",
        "workflowId": {
          "__rl": true,
          "value": "A97j1NIcV31TR5Mn",
          "mode": "list",
          "cachedResultName": "Agente Cantera - Agenda Meet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "time_zone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time_zone', `time zon of the customer`, 'string') }}",
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', `full name of the customer`, 'string') }}",
            "email_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_cliente', `email of the customer`, 'string') }}",
            "telefono_cliente": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "nombre_empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_empresa', `name of the business`, 'string') }}",
            "dia_meet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_meet', `date of the meeting in format dd/mm/yyyy`, 'string') }}",
            "hora_inicio_meet": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora_inicio_meet', `start hour of the meeting in 24 hours format like this hh:ii , example 13:15`, 'string') }}",
            "requerimiento_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requerimiento_cliente', `describe dettalladamente el requerimiento y comentarios del cliente para que un analissta los procese`, 'string') }}",
            "perfilado_de_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('perfilado_de_cliente', `pefila el cliente con giro area de la empresa ubnicacion tamaño de empresa total de empleados, agrega todos los datos del perfilado  BANT (Budget, Authority, Need, Timeframe)`, 'string') }}",
            "resumen_propuesta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_propuesta', `propuesta generada por el ai al requerimiento del cliente`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "time_zone",
              "displayName": "time_zone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_empresa",
              "displayName": "nombre_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia_meet",
              "displayName": "dia_meet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora_inicio_meet",
              "displayName": "hora_inicio_meet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "requerimiento_cliente",
              "displayName": "requerimiento_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "perfilado_de_cliente",
              "displayName": "perfilado_de_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumen_propuesta",
              "displayName": "resumen_propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        300,
        320
      ],
      "id": "8dd38a29-ed15-4201-8c5f-bd0ca04bb696",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "tableName": "n8n_chat_histories_agente_cantera4"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        60,
        300
      ],
      "id": "4774fd76-6f60-4aeb-b76c-73954492e2d1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supercantera",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -600
      ],
      "id": "60c2bd51-59a6-4ef3-ba72-71c678aeca0f",
      "name": "Webhook",
      "webhookId": "9915762b-2556-4cce-b291-25d620376af9",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5c855192-c031-4ce2-adda-971e3140f30d",
              "leftValue": "={{ $json.metadata.display_phone_number }}",
              "rightValue": "5214431865276",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        80
      ],
      "id": "b5066954-3c30-452c-87aa-599007954572",
      "name": "Filter1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FqLw4NrJ9drMRdhD",
          "mode": "list",
          "cachedResultName": "Agente Glassy prod"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.messages[0].from }}",
            "mensaje": "={{ $json.messages[0].text.body }}",
            "name": "={{ $json.contacts[0].profile.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -260,
        80
      ],
      "id": "8b05a568-c960-47e2-9af6-bd9092e1ac7c",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        -180
      ],
      "id": "1f2f7840-5375-46a5-b7ff-67645ad00b91",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_agente_cantera4",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_agente_cantera4"
        },
        "deleteCommand": "drop",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        -180
      ],
      "id": "eb2bdc86-8c48-4dbe-93b0-524af42ab2d4",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kb_cantera_leads",
        "toolDescription": "esta es una base de conocimiento sobre todo lo que hace cantera digital",
        "tableName": {
          "__rl": true,
          "value": "documents_cantera_leads",
          "mode": "list",
          "cachedResultName": "documents_cantera_leads"
        },
        "options": {
          "queryName": "documents_cantera_leads"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        640,
        240
      ],
      "id": "f9c5c48b-cdd2-4f38-83d1-f77e42f9d2d4",
      "name": "kb_cantera_leads",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        380
      ],
      "id": "d59f0522-c144-4a3c-b33f-8f4b5b27ac42",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kb_cantera_leads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "kb_cantera_leads",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ia.canteradigital.mx",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "69.171.251.125",
            "x-forwarded-host": "ia.canteradigital.mx",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5e9d6c14d659",
            "x-real-ip": "69.171.251.125"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "466705123",
            "hub.verify_token": "aaa"
          },
          "body": {},
          "webhookUrl": "https://ia.canteradigital.mx/webhook/supercantera",
          "executionMode": "production"
        }
      }
    ],
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5214431865276",
            "phone_number_id": "613903945143564"
          },
          "contacts": [
            {
              "profile": {
                "name": "Rick"
              },
              "wa_id": "5214434901193"
            }
          ],
          "messages": [
            {
              "from": "5214434901193",
              "id": "wamid.HBgNNTIxNDQzNDkwMTE5MxUCABIYIEMxQTUwQjY4MjQwRkI3NDY5NTEyNUQ4MjYzRjQwMzdDAA==",
              "timestamp": "1748651952",
              "text": {
                "body": "Hola"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "6c5236c6-2cd7-4544-b88c-c316a6598df4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-13T16:37:03.103Z",
      "updatedAt": "2025-05-13T16:37:03.103Z",
      "role": "workflow:owner",
      "workflowId": "PTbESRzX3rguwQN8",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}