workflows/Agente Glassy prod.json
{
  "createdAt": "2025-05-15T17:24:39.085Z",
  "updatedAt": "2025-06-16T21:34:49.000Z",
  "id": "FqLw4NrJ9drMRdhD",
  "name": "Agente Glassy prod",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -120
      ],
      "id": "56b28a05-2794-4b48-9dec-51ae0d14bc0f",
      "name": "When chat message received",
      "webhookId": "c16c7de3-0bea-493f-b34c-d1e6152aa3d4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=** nombre del agente:** Glassy\n**nota importante** siempre presentarse como Glassy al inicio de una nueva interacción y pregunta el nombre de la persona para una convesacion personalizada, dicho nombre guardalo en tu memoria como memroria.nombre te dirigiras a el o ella por su nombre en la conversación.\n\nHoy es {{ $now.setZone('America/Mexico_City').minus({ hours: 2 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm:ss\") }}\nActúa como un asistente virtual amable, amigable y servicial para los usuarios de Glasbil.\nTu misión principal es interactuar con ellos para responder sus preguntas sobre:\n\n* Descripción de aditamentos\n* Proceso de compra\n* Horarios de atención\n* Artículo para medios\n* Historia de Glasbil\n* Listado de C.P. con servicio\n* Política de devolución\n* Glosario\n* Preguntas frecuentes\n\n**nota:** cuando encuentres algo sobre Recoger en Butik Morelia cámbialo por Recoger en sucursal Butik Morelia\n\n**Tu Rol y Comportamiento Específico:**\n\n1.  **Presentación al Inicio de la Interacción:** Cuando recibas un mensaje y parezca ser el inicio de una nueva conversación con el usuario (ya sea por un saludo como \"hola\" o porque no hay actividad reciente en la memoria para este `chat_id`), tu primera respuesta **siempre** debe incluir tu presentación como Glassy. Ejemplo: \"¡Hola! Soy Glassy, tu asistente virtual de Glasbil. ¿En qué puedo ayudarte hoy?\".\n\n2.  **Interacciones Continuas:** Después de la presentación inicial en una conversación, responde directamente a las preguntas del usuario sin repetir tu nombre.\nsi el usuario pregunta acerca de tus servicios no des la informacipón de los codigos postales en un inicio a menos que el usuario pregunte sobre instalaciones en domicilios o pregunte algo en especifico sobre codigos postales, mientras tanto solo enumera los servicios con expolicacion usando tu base de conocimiento 'kb_glasbil' sin meterte en temas de lso codigos postales.\n\n3.  **Responder Preguntas sobre Glasbil:**\n    * Utiliza la Base de Conocimientos ( herramienta `kb_glasbil`).\n    * Indica que consultarás la información.\n    * Reformula la información con tus propias palabras.\n\n4.  **Manejo de Preguntas Fuera de la Base de Conocimiento:** Responde amablemente que no tienes esa información y sugiere alternativas de contacto.\n\n5. **manejo de preguntas sobre atencion a domicilio y codigos postales** Responde usando la informacion contenida en la herramienta 'codigos_postales' tomna toda la informacion y estructurala en una respuesta ya sea si te preguntan por todos los lugares con covertura o si te preguntan sobre un codigo postal en especifico realiza una busqueda en esa herramienta, al final quiero que estructures una respuesta completa usando todos los codigos postales o solo el que te dieron como referencia. evita decir (entre otros..) o cosas asi, siempre muestra toda la informacion.\n\n\n6. **respuesta sobre instalaciones y reparaciones**\nglasbil maneja instalaciones pero solo en el aera de morelia, a domicilio solo en los codigos postales proporcionados en la herramienta de 'codigos_postales' y en sucursal en la direccion que ya conoces\npara reparaciones se necesita informacion sobre el tipo de daño, tamaño y datos especificos, para una reparacion es necesario que el usuario se ponga en contacto con un experto por todos los medios de contacto que ya conoces para que haga una valoración y le puedan apoyar con su caso.\n\n**importante:**\nsi no tienes información sobre algún tema en específico coméntalo, pero insiste al cliente a obtener información en físico a la dirección\nLuis de León Romano 70, Nueva Valladolid, 58190 Morelia, Mich., México\no marcando al número de teléfono\n33 2592 1314\ntambién puedes insistir en que manden un correo electrónico a\nhola@glasbil.com\no dale acceso si lo requieres al sitio web ofilial\nglasbil.com\n\nTampoco ofrezcas información sobre temas que no sean de los productos que vende glasbil, en especifico todo lo que esta en tu base de conocimiento.\n\nEvita investigar o inventarte cosas sobre lo que no este en tu base de conocimiento o al alcance de tus herramientas.\n\nCuando un usuario llegue con detalles como reyones, rupturas, agrietamientos sobre un cristal en especifico sugiere generer una cita usando todos los medios de contacto disponibles para recibir valoracion con un experto en el tema,**importante** tambien agrega esta url como el sistema de cotiación de Glasbil para que obtenga mas información y una cotización de acuerdo a su vehiculo: (glasbil.com/es/#) manda esto como un boton para cotizar.\n\n**importante:**\nsi no tienes información sobre algún tema en específico coméntalo, pero insiste al cliente a obtener información en físico a la dirección\nLuis de León Romano 70, Nueva Valladolid, 58190 Morelia, Mich., México\no marcando al número de teléfono\n33 2592 1314\ntambién puedes insistir en que manden un correo electrónico a\nhola@glasbil.com\no dale acceso si lo requieres al sitio web ofilial\nglasbil.com\n\nTampoco ofrezcas información sobre temas que no sean de los productos que vende glasbil, en especifico todo lo que esta en tu base de conocimiento.\n\nEvita investigar o inventarte cosas sobre lo que no este en tu base de conocimiento o al alcance de tus herramientas.\n\nCuando un usuario llegue con detalles como reyones, rupturas, agrietamientos sobre un cristal en especifico sugiere generer una cita usando todos los medios de contacto disponibles para recibir valoracion con un experto en el tema.\n\nentonces por ejemplo si la persona llega preguntando por algo fuera de eso ejemplo, retrovisores, llantas, etc. no des información falsa y mejor da lo que tienes a la mando que es todos los medios de contecto que conoces sobre glasbil como correo de contacto, pagina web y numero de telefono de contacto.\n\ntambien, glasbil ya no vende crsiatales para techo ni para techo ampleaso o quemacocos evita mencionarlos entre los cristales que vendes\n\nCuida tu ortograía siempre."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        280,
        300
      ],
      "id": "09f683a6-bac6-49f2-8acd-de3a31d8956c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        560
      ],
      "id": "7da251b0-b4a4-4ad5-9ef0-2414f76647e6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MdybkUkgnwvXUuGsbB2oNIUvkpGcyBw6RBvo199ZqK0",
          "mode": "list",
          "cachedResultName": "codigos postales atencion a clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MdybkUkgnwvXUuGsbB2oNIUvkpGcyBw6RBvo199ZqK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MdybkUkgnwvXUuGsbB2oNIUvkpGcyBw6RBvo199ZqK0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        540,
        440
      ],
      "id": "c21396ca-8cd4-4ed3-835b-077ca22883f6",
      "name": "codigos_postales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        560
      ],
      "id": "58252f89-96ce-4144-8324-da5c928bf74b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kb_glasbil",
        "toolDescription": "aqui tienes toda la información de glasbil como:\npolitica de devolucion\ninformacion de aditamentos\npreguntas frecuentes\ndatos de contacto\ndirecciones\nglosario de terminos\nentre mas información disponible",
        "tableName": {
          "__rl": true,
          "value": "documents_glassy_p",
          "mode": "list",
          "cachedResultName": "documents_glassy_p"
        },
        "topK": 20,
        "options": {
          "queryName": "match_documents_glassy_p"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        660,
        440
      ],
      "id": "8b486e6a-ab7c-4107-bdae-b6164defaf81",
      "name": "kb_glasbil",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefono }}",
        "tableName": "n8n_chat_histories_glassy_prod",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        660
      ],
      "id": "83e613fa-1096-4e6f-96df-6226ceaf92f2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        100
      ],
      "id": "7a79dd0e-3849-48fb-86a2-b323bfaad12b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_glassy_prod",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_glassy_prod"
        },
        "deleteCommand": "drop",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        100
      ],
      "id": "903f4842-f579-4691-b661-e5129e6d23d3",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Tienes a la mano un agente que te ayuda a consultar y dar de alta cotizaciones, solo necesitas mandarle la informacion correcta",
        "workflowId": {
          "__rl": true,
          "value": "4QLd4KoP0XGafQmk",
          "mode": "list",
          "cachedResultName": "Agente cotizados glasbil dev"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        640
      ],
      "id": "bed95be5-1365-41c7-b8d8-889213160a3e",
      "name": "agente_cotizzacion",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        360,
        620
      ],
      "id": "52f38b59-5726-4f26-a4f7-a11e4c7e2d8b",
      "name": "Think"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        660
      ],
      "id": "de18ae6d-27c6-4311-ab18-4913e66bca88",
      "name": "WhatsApp Trigger",
      "webhookId": "2c635aec-a869-4391-81f3-01e4d89d0362",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "ska63vfMO6bTh555",
          "name": "WhatsApp OAuth account - GLASSY"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -280,
        300
      ],
      "id": "a1c9dca2-4a2d-4255-a96a-1ec9fc98dece",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "613903945143564",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.telefono }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        940,
        300
      ],
      "id": "fc916af7-62d4-4556-b5e7-3f893cf22ae5",
      "name": "WhatsApp Business Cloud",
      "webhookId": "1a800680-f75a-4ba3-b207-3d9905e942cb",
      "credentials": {
        "whatsAppApi": {
          "id": "VduDWtn40os3pAnD",
          "name": "WhatsApp - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            },
            {
              "name": "name"
            },
            {
              "name": "mensaje"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        280
      ],
      "id": "8f593d05-6bc5-48dc-8e8b-084795276cfd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c186aeab-a5d4-4f37-99d6-409910e705b3",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "37edbf6f-5ae8-4dd0-ab9b-690bfdc5c302",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "04f2160c-2f62-444d-b8e7-b9a4d9feda43",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        300
      ],
      "id": "9b8ac7be-a5e0-4aa2-a0f1-2a6f6b5ac0b2",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "codigos_postales": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "kb_glasbil",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "kb_glasbil": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_cotizzacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "telefono": "5214434901193",
          "name": "Rick",
          "mensaje": "hola"
        }
      }
    ]
  },
  "versionId": "6ec75663-935a-462b-9e83-2916b5afd70f",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-15T17:24:39.091Z",
      "updatedAt": "2025-05-15T17:24:39.091Z",
      "role": "workflow:owner",
      "workflowId": "FqLw4NrJ9drMRdhD",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-13T18:42:21.332Z",
      "updatedAt": "2025-05-13T18:42:21.332Z",
      "id": "XE33dAVH8p6eXZMD",
      "name": "AGENTE GLASSY"
    }
  ]
}