workflows/Agente scraping Aaron.json
{
  "createdAt": "2025-06-12T22:43:02.453Z",
  "updatedAt": "2025-06-12T22:57:31.000Z",
  "id": "vvPYb2l9KXrTIDnf",
  "name": "Agente scraping Aaron",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "33c9d79d-2a36-424f-b165-524c567de97e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=**Instrucciones**\n\n1. **Texto de base**\ntu trabajo es obtener el texto que se te envia por el query\n2. **Tarea**\ntienes que investigar en internet utilizando tu texto base como partida. Realiza web scraping en diversas fuentes relevantes para encontrar información más precxisa y completa sobre el tema proporcionado.\n3. **Salida**\nGenera un resumen consiso de la información que encuentres en **dos parrafos pequeños** con un máximo de **500 caracteres por parrafo** debes identificar puntos clave sobre tu investigación y generar la redacción mejor posible, la información debe ser relevante a la fecha actual.\n\n* Priorizar fuentes de información confiables y relevantes para el tema del texto base.\n* Utilizar técnicas de web scraping eficientes para extraer la información necesaria.\n* Identificar y sintetizar los puntos más importantes y significativos de la información recopilada.\n* Asegurar que el resumen sea coherente, preciso y cumpla con las restricciones de longitud especificadas.\n* Evitar la repetición de información entre los dos párrafos.\n \n**Ejemplo de Salida (Formato Markdown):**\n \n```markdown\nLa investigación revela que [PUNTO CLAVE 1] y [DETALLE IMPORTANTE 1]. Diversas fuentes web confirman que [PUNTO CLAVE 2], lo cual tiene implicaciones en [CONSECUENCIA O APLICACIÓN].\n \nAdemás, se encontró información relevante sobre [PUNTO CLAVE 3] en [FUENTE PRINCIPAL]. Esto sugiere que [CONCLUSIÓN BREVE] y podría influir en [ÁREA DE INFLUENCIA].\n\nLa fecha actual es {{ new Date().toISOString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "fada747f-a032-475e-8e96-ebb5252440cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        180
      ],
      "id": "fee16fb8-cd35-4ab1-9aef-30114e624cbe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        380,
        220
      ],
      "id": "de712c82-3c38-48cf-8b81-fa44ba3fb0e0",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "gr3nNX08fT76GEoY",
          "name": "SerpAPI account Aaron"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a42a5682-c6ab-490a-ac33-c85d555aba33",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-12T22:43:02.456Z",
      "updatedAt": "2025-06-12T22:43:02.456Z",
      "role": "workflow:owner",
      "workflowId": "vvPYb2l9KXrTIDnf",
      "projectId": "CT8jqMv2UjSvaT1W",
      "project": {
        "createdAt": "2025-05-30T21:50:01.643Z",
        "updatedAt": "2025-05-30T21:51:05.081Z",
        "id": "CT8jqMv2UjSvaT1W",
        "name": "Aaron Avila <ravila@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:01.650Z",
            "updatedAt": "2025-05-30T21:50:01.650Z",
            "role": "project:personalOwner",
            "userId": "66393108-3fbc-4a7f-81fe-752936ae60ef",
            "projectId": "CT8jqMv2UjSvaT1W",
            "user": {
              "createdAt": "2025-05-30T21:50:01.641Z",
              "updatedAt": "2025-07-01T00:46:17.622Z",
              "id": "66393108-3fbc-4a7f-81fe-752936ae60ef",
              "email": "ravila@canteradigital.mx",
              "firstName": "Aaron",
              "lastName": "Avila",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:53:17.529Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8OXBRWPKi4bVVx2f",
                "userActivated": true,
                "userActivatedAt": 1749245726426,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1751330775031
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}