workflows/Agente Cantera - Agenda Meet.json
{
  "createdAt": "2025-05-13T21:22:38.125Z",
  "updatedAt": "2025-05-31T00:21:10.000Z",
  "id": "A97j1NIcV31TR5Mn",
  "name": "Agente Cantera - Agenda Meet",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "time_zone"
            },
            {
              "name": "nombre_cliente"
            },
            {
              "name": "email_cliente"
            },
            {
              "name": "telefono_cliente"
            },
            {
              "name": "nombre_empresa"
            },
            {
              "name": "dia_meet"
            },
            {
              "name": "hora_inicio_meet"
            },
            {
              "name": "requerimiento_cliente"
            },
            {
              "name": "perfilado_de_cliente"
            },
            {
              "name": "resumen_propuesta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        -160
      ],
      "id": "15955f09-1dd3-4b52-8a3d-2d0cc73f1533",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "inputText": "=Esta empresa  , tiene este requerimiento {{ $json.requerimiento_cliente }}y este perfilado  {{ $json.perfilado_de_cliente }} ",
        "categories": {
          "categories": [
            {
              "category": "lead_calificado",
              "description": "leads que tienen que ver con ai, reconicimiento facial,  software, tecnologia, desarrollo de soluciones, automatizacion, computer vision, y la empresa tienen mas de 100 empleados o es una empresa importante ten mexico "
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        140,
        -160
      ],
      "id": "f0d7d676-db96-46d8-99ff-b242266bb18e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        120
      ],
      "id": "468b1384-4350-4761-bcff-c0dd8d2f243b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f1094c47-4084-4268-9026-ccc0335eeccf",
              "operator": {
                "type": "dateTime",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73e89b24-3e51-41c7-bead-6361b29af3fd",
      "name": "es un nuevo Lead?",
      "type": "n8n-nodes-base.if",
      "position": [
        1840,
        -380
      ],
      "executeOnce": true,
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $('When Executed by Another Workflow').item.json.nombre_empresa }}",
        "additionalFields": {
          "label": 2
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2260,
        -600
      ],
      "id": "2a9c218e-c76d-4234-acd9-d8f2af7def23",
      "name": "Pipedrive crea organizacion",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1560,
        -360
      ],
      "id": "b165b450-8446-4ed7-8620-db3bc25eb436",
      "name": "Pipedrive Contacto Actual",
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}",
        "org_id": "={{ $('Pipedrive Contacto Actual').item.json.organization.id }}",
        "additionalFields": {
          "currency": "USD",
          "customProperties": {
            "property": [
              {
                "name": "0a0d024986d387fc0a9e7ff27a66596d15695b3d",
                "value": "=El requerimiento es:{{ $('Text Classifier').item.json.resumen_propuesta }}  La estimación y análisis: {{ $('Information Extractor').item.json.output.detail_of_estimation }}  El Perfil de la empresa :{{ $('Text Classifier').item.json.perfilado_Lead }}\n\nvalor del proyecto:{{ $('Text Classifier').item.json.value }}   "
              }
            ]
          },
          "probability": "={{ $('Information Extractor').item.json.output.propability }}",
          "stage_id": 1,
          "status": "open",
          "value": "={{ $('Information Extractor').item.json.output.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2280,
        -320
      ],
      "id": "90662181-be88-467b-b020-6f7f479594a4",
      "name": "Pipedrive registra deal",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('Text Classifier').item.json.nombre_cliente }}",
        "additionalFields": {
          "email": [
            "={{ $('Text Classifier').item.json.email_cliente }}"
          ],
          "label": 6,
          "marketing_status": "subscribed",
          "org_id": "={{ $json.id }}",
          "phone": [
            "={{ $('Text Classifier').item.json.telefono_cliente }}"
          ],
          "visible_to": "3"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2600,
        -600
      ],
      "id": "f4025f11-c8b6-4c3c-acec-7d34d7d03583",
      "name": "Pipedrive Crea Persona",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}",
        "org_id": "={{ $('Pipedrive crea organizacion').item.json.id }}",
        "additionalFields": {
          "currency": "USD",
          "customProperties": {
            "property": [
              {
                "name": "0a0d024986d387fc0a9e7ff27a66596d15695b3d",
                "value": "=El requerimiento es:{{ $('Text Classifier').item.json.resumen_propuesta }} \nLa estimación y análisis: {{ $('Information Extractor').item.json.output.detail_of_estimation }}\n\nEl Perfil de la empresa : {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\n\nMonto estimado en USD: {{ $('Information Extractor').item.json.output.value }}"
              }
            ]
          },
          "person_id": "={{ $json.id }}",
          "probability": "={{ $('Information Extractor').item.json.output.propability }}",
          "stage_id": 1,
          "status": "open",
          "value": "={{ $('Information Extractor').item.json.output.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2960,
        -600
      ],
      "id": "07e474a8-e620-432f-976b-f0a3265ec6bb",
      "name": "Pipedrive Crea Deal 2",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}",
        "organization_id": "={{ $('Pipedrive crea organizacion').item.json.id }}",
        "additionalFields": {
          "label_ids": [],
          "person_id": "={{ $('Pipedrive Crea Persona').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3240,
        -600
      ],
      "id": "b6fe79e5-97bd-4d8a-aa62-4fe307d13df8",
      "name": "Pipedrive Crea LEAD",
      "credentials": {
        "pipedriveApi": {
          "id": "u1nSP6JjPxyjAtcV",
          "name": "Pipedrive account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=datos de la empresa: {{ $json.nombre_empresa }}\npropuesta :  {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nperfil empresa:  {{ $json.perfilado_de_cliente }}\nfecha de la reunion: {{ $json.dia_meet }} {{ $json.hora_inicio_meet }}"
            },
            {
              "content": "eres un cotizador de sistemas y proyectos de it y te voy a dar datos de una empresa, un requieriiento de IT  y  el perfil de laempresa, y tu debes estimar tres variables: probabilidad de cierre, esta probabilidad es de 0a 1 donde 1 es muy posible de que se cierre y que sea factible, esto debes asociarlo a la complejidad del proyecto  asume  que somos una mepresa de software cn ai agentes y mas de 200 desarrolladores de sofgtare. sel segundo valor, un estimado deen dolares del total de este proyecto de sarrollo mas infrastructura mas consultoria, debes estimas esos 2 valores . el usuari ote dara datos de y debes responder con estos datos. ademas sustenta tu analiss buscando  datos de esta empersa en internaet y estima el tamño y proyectos de esta empresa. crea una propuesta de componente tecnologias y personal requerido para ejecutar este proyecto de forma preliminar , diecndo que hace falta reunirse con el cliente para acotar esto. genera ranbirn la fecha y hora de inicio y fecha y hora de fin 30 minutos  depues de iniciado la reunion. el formato de la fecha debe ser yyyy-mm-dd hh:mm:ss",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        -260
      ],
      "id": "c5adafb5-afd6-4382-bb02-201986765ff4",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "value",
              "type": "number",
              "description": "integer value of the usd value estimated of the project witout money symbol only number",
              "required": true
            },
            {
              "name": "propability",
              "type": "number",
              "description": "value  of probality of close this deal",
              "required": true
            },
            {
              "name": "detail_of_estimation",
              "description": "detailed explain of the estimation",
              "required": true
            },
            {
              "name": "fecha_inicio_meet",
              "description": "fecha de inicio del meet en formato yyyy-mm-dd hh:ii:ss  ",
              "required": true
            },
            {
              "name": "fecha_fin_meet",
              "description": "fecha de fin del meet en formato yyyy-mm-dd hh:ii:ss  ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. redacta todo en español"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1160,
        -260
      ],
      "id": "63e46f6c-212a-4d20-8468-a831c9332f19",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        -40
      ],
      "id": "c74075a9-eaca-4582-8dc4-c19fbfefd614",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=datos de la empresa: {{ $json.nombre_empresa }}\npropuesta : {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nperfil empresa:  {{ $('When Executed by Another Workflow').item.json.perfilado_lead }}\nfecha de la reunion: {{ $json.fecha_hora_meet }}. "
            },
            {
              "content": "Responde amablemente que por ahora no tenemos una oferta para empresas pymes, pero responde con recomeandaciones de solucion opnesource para su requerimientio de proyecto, crea 3 propuesta de implementacion que puede hacer con soluciones de open ai, python o similares. dile que igualmente un  contacto de nesutro equipo comercial le contarcara para hacerle una propuesta  de implemntacion ",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        700,
        180
      ],
      "id": "fd23a9da-9354-48b9-84a1-1b9ed6d1b0f5",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $json.telefono_cliente }}",
        "textBody": "Dame 30 segundos para analizar tu requerimiento",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        160,
        -380
      ],
      "id": "d236627e-0bb7-4e9e-ab41-63ddc28f8bd5",
      "name": "WhatsApp Business Cloud6",
      "webhookId": "c6d9ff94-3e7d-442f-a123-6522e6cad587",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('Text Classifier').item.json.telefono_cliente }}",
        "textBody": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "id": "1b260592-3521-4a78-8776-06581c1f4120",
      "name": "WhatsApp Business Cloud14",
      "webhookId": "74eb5a43-3c5e-4e6d-8de7-12d915a33100",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "AAMkADJjODdjYzYzLWI0NDMtNDJlMi1hZmY0LTY3ODFlNzBjNWZmMQBGAAAAAACsqiPeTLOgRbuS-1o5VhlcBwDn26jhz37URKH2Im_c8w6PAAAAAAEGAADn26jhz37URKH2Im_c8w6PAAAAAO4wAAA=",
          "mode": "list",
          "cachedResultName": "Calendar"
        },
        "subject": "={{ $('Text Classifier').item.json.resumen_propuesta }}",
        "startDateTime": "={{ $('Information Extractor').item.json.output.fecha_inicio_meet }}",
        "endDateTime": "={{ $('Information Extractor').item.json.output.fecha_fin_meet }}",
        "additionalFields": {
          "body": "={{ $('Text Classifier').item.json.resumen_propuesta }} para {{ $('Text Classifier').item.json.nombre_empresa }}",
          "bodyPreview": "={{ $('Text Classifier').item.json.resumen_propuesta }} para {{ $('Text Classifier').item.json.nombre_empresa }}",
          "type": "singleInstance"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3520,
        -440
      ],
      "id": "a8abed5f-361a-4320-9252-2b7c2960b3fe",
      "name": "Microsoft Outlook",
      "webhookId": "29b0ddf6-d6e6-4c2c-a78b-e2ebd520beb8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1e9fbzjIiV9wNv2j",
          "name": "Microsoft Outlook account - azure@canteradigital.mx"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "subject": "=En Cantera Tenemos una Porpuesta Increíble {{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "bodyContent": "=Hola {{ $('When Executed by Another Workflow').item.json.nombre_cliente }} !  Tenemos una propuesta lista para presentarte  una solución de {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}  para {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}.  Como nos pediste nos vemos el  {{ $('When Executed by Another Workflow').item.json.dia_meet }}  en este enlace  {{ $json.webLink }} Nos vemos!  \n\nJanneth Cano\nDirectora Comercial\nCantera Digital\n\n \n ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3760,
        -600
      ],
      "id": "4cdfd126-d9f3-4a24-8702-8b6709abc489",
      "name": "Microsoft Outlook1",
      "webhookId": "e9c53466-e64d-4a1a-b342-7e3992ecf8d7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1e9fbzjIiV9wNv2j",
          "name": "Microsoft Outlook account - azure@canteradigital.mx"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "AAMkADJjODdjYzYzLWI0NDMtNDJlMi1hZmY0LTY3ODFlNzBjNWZmMQBGAAAAAACsqiPeTLOgRbuS-1o5VhlcBwDn26jhz37URKH2Im_c8w6PAAAAAAEGAADn26jhz37URKH2Im_c8w6PAAAAAO4wAAA=",
          "mode": "list",
          "cachedResultName": "Calendar"
        },
        "subject": "={{ $('Text Classifier').item.json.resumen_propuesta }}",
        "startDateTime": "={{ $('Information Extractor').item.json.output.fecha_inicio_meet }}",
        "endDateTime": "={{ $('Information Extractor').item.json.output.fecha_fin_meet }}",
        "additionalFields": {
          "body": "={{ $('Text Classifier').item.json.resumen_propuesta }} para {{ $('Text Classifier').item.json.nombre_empresa }}",
          "bodyPreview": "={{ $('Text Classifier').item.json.resumen_propuesta }} para {{ $('Text Classifier').item.json.nombre_empresa }}",
          "type": "singleInstance"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2980,
        0
      ],
      "id": "621bdb81-21cd-42de-823a-1ef23bab65db",
      "name": "Microsoft Outlook2",
      "webhookId": "29b0ddf6-d6e6-4c2c-a78b-e2ebd520beb8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1e9fbzjIiV9wNv2j",
          "name": "Microsoft Outlook account - azure@canteradigital.mx"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toRecipients": "={{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "subject": "=En Cantera Tenemos una Porpuesta Increíble {{ $('When Executed by Another Workflow').item.json.email_cliente }}",
        "bodyContent": "=Hola {{ $('When Executed by Another Workflow').item.json.nombre_cliente }} !  Tenemos una propuesta lista para presentarte  una solución de  {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }} para {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}. En los próximos minutos te contactáremos para confirmar la fecha y hora de nuestra junta.\n\nJanneth Cano\nDirectora Comercial\nCantera Digital\n\n \n ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3800,
        -200
      ],
      "id": "6eedbc9e-4eaa-4508-8353-cc29424f53c5",
      "name": "Microsoft Outlook3",
      "webhookId": "e9c53466-e64d-4a1a-b342-7e3992ecf8d7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1e9fbzjIiV9wNv2j",
          "name": "Microsoft Outlook account - azure@canteradigital.mx"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('Text Classifier').item.json.telefono_cliente }}",
        "textBody": "=Perfecto! ya te envié un correo con todos los detalles de nuestra presentación! nos vemos el  {{ $('When Executed by Another Workflow').item.json.dia_meet }} a las {{ $('When Executed by Another Workflow').item.json.hora_inicio_meet }}. Estamos seguros que te sorprenderá nuestra propuesta.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4220,
        -260
      ],
      "id": "d6973de8-5afc-42d0-83e6-bf7d43b2848c",
      "name": "WhatsApp Business Cloud",
      "webhookId": "74eb5a43-3c5e-4e6d-8de7-12d915a33100",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:081cec2d-b7a4-43bc-83da-a57fd62eb04d_a62245da-f228-4324-aa70-ec4c3d44cd73@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Vladimir, Azure (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A081cec2d-b7a4-43bc-83da-a57fd62eb04d_a62245da-f228-4324-aa70-ec4c3d44cd73%40unq.gbl.spaces/0?tenantId=3823387a-1cbb-49ad-bf55-69153c1f8269"
        },
        "message": "=Tenemos nuevo Lead\n\nCliente:  {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}\nEmpresa: {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}\n\nRequerimiento: {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}\nPropuesta: {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nPerfilado de cliente: {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\nEstimación Inicial: {{ $json.output.detail_of_estimation }}\nValor del Lead: {{ $json.output.value }} USD\nProbablidad de Cierre:  {{ $json.output.propability*100 }} %\n\nJunta Solicitada: {{ $json.output.fecha_inicio_meet }}\nCorreo enviado a Janneth Cano\n",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2060,
        80
      ],
      "id": "78f2880b-0d54-4341-94da-a8c3a19b35b8",
      "name": "Microsoft Teams",
      "webhookId": "1ed86f49-ce45-4cb2-b96c-38c48cd1d7f1",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "aCoVuwLpygun9hxH",
          "name": "Microsoft Teams account - cantera"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:12752500-61e0-42a3-867c-85d9a6fe3cbd_a62245da-f228-4324-aa70-ec4c3d44cd73@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "Ricardo Correa, Azure (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A12752500-61e0-42a3-867c-85d9a6fe3cbd_a62245da-f228-4324-aa70-ec4c3d44cd73%40unq.gbl.spaces/0?tenantId=3823387a-1cbb-49ad-bf55-69153c1f8269"
        },
        "message": "=Tenemos nuevo Lead\n\nCliente:  {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}\nEmpresa: {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}\n\nRequerimiento: {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}\nPropuesta: {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nPerfilado de cliente: {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\nEstimación Inicial: {{ $json.output.detail_of_estimation }}\nValor del Lead: {{ $json.output.value }} USD\nProbablidad de Cierre:  {{ $json.output.propability*100 }} %\n\nJunta Solicitada: {{ $json.output.fecha_inicio_meet }}\nCorreo enviado a Janneth Cano\n",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2060,
        260
      ],
      "id": "25303686-9c17-41db-9808-ef5e6de63d5c",
      "name": "Microsoft Teams2",
      "webhookId": "1ed86f49-ce45-4cb2-b96c-38c48cd1d7f1",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "aCoVuwLpygun9hxH",
          "name": "Microsoft Teams account - cantera"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "=+52 1 55 3551 6913",
        "textBody": "=Hola Jan:\nTenemos nuevo Lead\n\nCliente:  {{ $('When Executed by Another Workflow').item.json.nombre_cliente }}\nEmpresa: {{ $('When Executed by Another Workflow').item.json.nombre_empresa }}\n\nRequerimiento: {{ $('When Executed by Another Workflow').item.json.requerimiento_cliente }}\nPropuesta: {{ $('When Executed by Another Workflow').item.json.resumen_propuesta }}\nPerfilado de cliente: {{ $('When Executed by Another Workflow').item.json.perfilado_de_cliente }}\nEstimación Inicial: {{ $json.output.detail_of_estimation }}\nValor del Lead: {{ $json.output.value }} USD\nProbablidad de Cierre:  {{ $json.output.propability*100 }} %\n\nJunta Solicitada: {{ $json.output.fecha_inicio_meet }}\nCorreo enviado a Janneth Cano\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2060,
        460
      ],
      "id": "fc274976-48e9-4074-a7ae-a83da756a79c",
      "name": "WhatsApp Business Cloud15",
      "webhookId": "74eb5a43-3c5e-4e6d-8de7-12d915a33100",
      "credentials": {
        "whatsAppApi": {
          "id": "wss31GmBkFCO7IfF",
          "name": "WhatsApp account - AGENTE CANTERA"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "es un nuevo Lead?": {
      "main": [
        [
          {
            "node": "Pipedrive crea organizacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pipedrive registra deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive crea organizacion": {
      "main": [
        [
          {
            "node": "Pipedrive Crea Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Contacto Actual": {
      "main": [
        [
          {
            "node": "es un nuevo Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive registra deal": {
      "main": [
        [
          {
            "node": "Microsoft Outlook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Crea Persona": {
      "main": [
        [
          {
            "node": "Pipedrive Crea Deal 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Crea Deal 2": {
      "main": [
        [
          {
            "node": "Pipedrive Crea LEAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive Crea LEAD": {
      "main": [
        [
          {
            "node": "Microsoft Outlook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Pipedrive Contacto Actual",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft Teams2",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook": {
      "main": [
        []
      ]
    },
    "Microsoft Outlook2": {
      "main": [
        []
      ]
    },
    "Microsoft Outlook1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0094a7be-8e92-4b6e-82ae-8f7b23bf1121",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-05-13T21:22:38.128Z",
      "updatedAt": "2025-05-13T21:22:38.128Z",
      "role": "workflow:owner",
      "workflowId": "A97j1NIcV31TR5Mn",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}