workflows/Agente Generador de contenido Citlaly Morales.json
{
  "createdAt": "2025-06-12T23:11:49.524Z",
  "updatedAt": "2025-06-27T23:37:55.000Z",
  "id": "XOMLWvRXUhZFuOv9",
  "name": "Agente Generador de contenido Citlaly Morales",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": "={{ [\"message\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ac6aecb3-f016-48b6-bdda-993f2ffbd830",
      "name": "Telegram Trigger",
      "webhookId": "52ba73dd-734b-458b-9f3d-7f8eaec4452e",
      "credentials": {
        "telegramApi": {
          "id": "77X4JRRNOUDky9LS",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=**Instructions for n8n Parent Agent: Social Media Post Creator**\n \n**Objective:** To orchestrate the workflow for creating social media posts by calling upon two child agents: \"agente_scrappyng\" for information retrieval and \"agente_copy\" for image generation. The parent agent will then combine the scraped information and the generated image to produce a complete social media post.\n \n**Workflow:**\n \n1.  **Receive User Request:** The parent agent will receive a user's request specifying the topic or keywords for the social media post.\n \n2.  **Call \"agente_scrappyng\":**\n\n    * The parent agent will invoke the \"agente_scrappyng\" agent.\n\n    * It will pass the user's input (topic/keywords) as the search query for \"agente_scrappyng\".\n\n    * It will instruct \"agente_scrappyng\" to perform web scraping to find relevant information based on the query.\n\n    * It will expect \"agente_scrappyng\" to return a summary of the findings in two short paragraphs (maximum 500 characters per paragraph), as previously defined.\n \n3.  **Receive Scraped Information:** The parent agent will receive the summarized information from \"agente_scrappyng\".\n \n4.  **Call \"agente_copy\" (Image Generation):**\n\n    * The parent agent will invoke the \"agente_copy\" agent (assuming this is the designated name for the image generation agent).\n\n    * It will pass the summarized information received from \"agente_scrappyng\" as context for the image generation.\n\n    * It will instruct \"agente_copy\" to generate a relevant and visually appealing image that complements the scraped information and is suitable for social media.\n\n    * It will expect \"agente_copy\" to return the generated image (e.g., as a file path or data URL).\n \n5.  **Receive Generated Image:** The parent agent will receive the image from \"agente_copy\".\n \n6.  **Construct Social Media Post:**\n\n    * The parent agent will combine the summarized information from \"agente_scrappyng\" and the generated image from \"agente_copy\".\n\n    * It will format this information into a complete social media post, considering best practices for engagement and readability on social media platforms.\n\n    * This may involve:\n\n        * Writing a compelling caption that incorporates key findings from the scraped information.\n\n        * Ensuring the caption is engaging, informative, and includes a call to action (if appropriate).\n\n        * Attaching the generated image to the post.\n\n        * Suggesting relevant hashtags.\n \n7.  **Output Social Media Post:** The parent agent will output the complete social media post (text and image).\n \n**Output Format (in Spanish):**\n \n```markdown\n\n**Post para Redes Sociales:**\n \n**Imagen:** [Aquí se adjuntaría la imagen generada por el agente_copy]\n \n**Texto:**\n \n[Párrafo 1 del resumen del agente_scrappyng]\n \n[Párrafo 2 del resumen del agente_scrappyng]\n \n[Texto adicional para redes sociales: titular llamativo, llamada a la acción, etc. - aplicando principios de copywriting]\n \n**Hashtags sugeridos:** #[Hashtag1] #[Hashtag2] #[HashtagRelacionado]\n \n{{ new Date().toISOString() }}\n "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "f12ff2d3-437b-4d34-85e0-edff451b27d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        260
      ],
      "id": "31c204ec-9e7a-49db-ac45-f2af575df041",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yRFh8C6XoKn99cc5",
          "name": "OpenAi account Citlaly Morales"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        280
      ],
      "id": "3562bce0-b208-411a-b813-1faf69205595",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Llamar a este agente cuando se tenga una petición de una búsqueda en internet",
        "workflowId": {
          "__rl": true,
          "value": "ZCcbYF4YReZfKDeL",
          "mode": "list",
          "cachedResultName": "Agente Scraping Citlaly"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        380,
        520
      ],
      "id": "ee753512-a58a-4d2d-9464-5a830af782f6",
      "name": "agente_scrappyng"
    },
    {
      "parameters": {
        "description": "se llama a este agente cuando se necesita generar instrucciones para un model de generacion de imagenes",
        "workflowId": {
          "__rl": true,
          "value": "PYoByMG7ksmhG82T",
          "mode": "list",
          "cachedResultName": "Agente Copy Writter Citlaly Morales"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        420
      ],
      "id": "e2a6ae2c-89f5-41c8-93cd-4301dd2a3658",
      "name": "agente_copy"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=**Prompt Completo para la Cadena LLM de Formateo de Salida**\n \n**Idioma de Instrucciones:** Inglés\n \n**Idioma de Respuesta:** Español\n \n**Objetivo:** Formatear la respuesta de salida de un modelo de lenguaje grande (LLM) para eliminar símbolos extraños o estructuras de información que no sean palabras u oraciones estándar en español. El objetivo es limpiar el texto y presentarlo de una manera más legible y en lenguaje natural.\n \n**Instrucciones Detalladas para el Modelo LLM:**\n \n1.  **Input Analysis:** Recibe una cadena de texto como entrada. Esta cadena puede contener símbolos no deseados, elementos que no son palabras, o estructuras de información que necesitan ser removidas o convertidas a texto plano.\n \n2.  **Identification of Non-Standard Elements:** Identifica elementos dentro del texto de entrada que no son palabras típicas, signos de puntuación estándar o estructuras de oraciones comunes en español. Esto incluye, pero no se limita a:\n    * Símbolos especiales o caracteres inusuales (por ejemplo, `###`, `####`, `-----`, caracteres de control, etc.).\n    * Estructuras de formato como listas con viñetas (`-`), listas numeradas (`1.`, `2.`), si el objetivo es texto plano continuo.\n    * Enlaces URL o direcciones web, si no se consideran parte del contenido principal en lenguaje natural.\n    * Cualquier otro marcador no lingüístico o artefacto del formato original que dificulte la lectura como texto normal.\n \n3.  **Removal and Transformation:** Aplica las siguientes acciones a los elementos no estándar identificados:\n    * **Eliminación:** Remueve completamente los símbolos o estructuras que no contribuyen al significado del texto como lenguaje natural en español.\n    * **Transformación:** Convierte estructuras como listas en texto continuo, utilizando conectores lingüísticos apropiados (por ejemplo, \"Además,\", \"También,\", \"En cuanto a,\"). Si se considera relevante, extrae la información clave de elementos no textuales y exprésala en palabras (por ejemplo, si se decide incluir información de un enlace, se debería parafrasear su significado en una oración).\n \n4.  **Preservation of Meaning and Structure:** Asegúrate de que el proceso de eliminación y transformación no altere el significado fundamental del texto original. El resultado debe ser una secuencia de oraciones coherentes y gramaticalmente correctas en español.\n \n5.  **Focus on Natural Language:** El resultado principal debe ser un texto fluido compuesto por palabras y oraciones en español que sean fáciles de leer y entender por un humano. Evita la inclusión de los símbolos o estructuras no deseadas identificadas en el paso 2."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        580,
        0
      ],
      "id": "9ad633dd-cccd-4813-b527-018f45eebbb2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        260
      ],
      "id": "5d24c8f2-38d4-4266-82e3-8859fb2d85b7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "yRFh8C6XoKn99cc5",
          "name": "OpenAi account Citlaly Morales"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        0
      ],
      "id": "2ac7bee7-b820-4a18-bdfc-bb98b46c4b9d",
      "name": "Telegram",
      "webhookId": "fa2cf4ef-7f7a-45ac-adb4-c20062f51af1",
      "credentials": {
        "telegramApi": {
          "id": "77X4JRRNOUDky9LS",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=**Instructions for the AI Model: DALL-E Prompt Generator**  **Objective:** To receive a user's request and generate detailed and effective prompts specifically designed for OpenAI's DALL-E image generation model. The generated prompts should aim to produce high-quality, relevant, and visually interesting images that accurately reflect the user's input.  **Input:** A natural language request from the user describing the desired image.  **Tasks:**  1.  **Understand the User's Request:** Analyze the user's input to identify the key elements, subjects, actions, settings, moods, and artistic styles they are envisioning.  2.  **Identify Key Entities and Concepts:** Extract the main nouns, verbs, adjectives, and adverbs from the user's request. These form the core of the image to be generated.  3.  **Elaborate on Details:** Expand upon the user's basic request by adding specific details that can enhance the generated image. Consider aspects such as:     * **Subject Details:** Specific characteristics of the main objects or characters (e.g., age, clothing, expression, posture).     * **Setting/Environment:** The location, time of day, weather conditions, and overall atmosphere.     * **Actions/Interactions:** What the subjects are doing and how they are interacting with their surroundings or other elements.     * **Mood/Atmosphere:** The emotional tone or feeling the image should convey (e.g., serene, mysterious, vibrant, dramatic).     * **Lighting:** The type and direction of light (e.g., soft sunlight, dramatic shadows, neon glow).     * **Camera Angle/Perspective:** The viewpoint from which the scene is depicted (e.g., close-up, wide shot, bird's-eye view).  4.  **Incorporate Artistic Style and Techniques:** Suggest or incorporate specific artistic styles, mediums, or techniques that could enhance the visual appeal and align with the user's implicit or explicit preferences. Examples include:     * **Painting Styles:** Impressionism, Surrealism, Renaissance, Abstract.     * **Photography Styles:** Macro, Landscape, Portrait, Documentary.     * **Rendering Techniques:** Realistic, Photorealistic, Stylized, Cartoonish, 3D render.     * **Artists:** Referencing the style of famous artists (e.g., \"in the style of Van Gogh\").  5.  **Use DALL-E Specific Keywords and Modifiers:** Employ keywords and phrases known to work well with DALL-E to influence the generated image's quality and style. This might include terms related to detail, realism, artistic quality, and specific visual effects.  6.  **Structure the Prompt Effectively:** Organize the generated prompt in a clear and logical manner. A common structure includes:     * Start with the main subject(s).     * Describe the setting and environment.     * Specify any actions or interactions.     * Detail the desired mood, lighting, and camera angle.     * Mention the artistic style or rendering technique.     * Include quality enhancers (e.g., \"highly detailed,\" \"realistic,\" \"cinematic lighting\").  7.  **Provide Multiple Prompt Options (Optional but Recommended):** Generate several variations of the prompt, each with slightly different emphasis or stylistic choices, to give the user more options and potentially better results from DALL-E.  **Output:** Generate one or more detailed prompts for DALL-E, formatted as clear and concise text strings.  **Example of Expected Output (in Spanish):**  ```markdown **Prompt 1:** Una majestuosa criatura híbrida, mitad águila calva y mitad león africano, volando a través de un cielo crepuscular con nubes arremolinadas de color naranja y púrpura. Plumaje dorado brillante y melena leonina ondeando al viento. Iluminación dramática, estilo de pintura de fantasía épica.  **Prompt 2:** Un acogedor café futurista en una calle lluviosa de Tokio por la noche. Luces de neón reflejándose en el pavimento mojado. Un robot barista sirviendo un café a un cliente humano con un abrigo largo. Ambiente melancólico y vibrante, fotografía cinematográfica con profundidad de campo.  **Prompt 3:** Un bodegón surrealista con frutas flotando en el aire y relojes derritiéndose sobre una mesa de madera antigua. Fondo abstracto con colores vibrantes y formas geométricas. Estilo de Salvador Dalí. Alta resolución, detalles intrincados."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        740,
        400
      ],
      "id": "4d99c57a-0592-47f2-b1b1-77ca73315d49",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        680
      ],
      "id": "83d72f74-0166-48c6-b29f-dcca6935d5a8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "yRFh8C6XoKn99cc5",
          "name": "OpenAi account Citlaly Morales"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1100,
        400
      ],
      "id": "ed668a96-a7a5-43f3-a0df-e4b83b265b1b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yRFh8C6XoKn99cc5",
          "name": "OpenAi account Citlaly Morales"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        400
      ],
      "id": "6c093fff-0d25-4819-ad9a-5fd607719f8a",
      "name": "Telegram1",
      "webhookId": "c502862f-9eee-4c39-9160-9ccffa94ceb8",
      "credentials": {
        "telegramApi": {
          "id": "77X4JRRNOUDky9LS",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "agente_scrappyng": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agente_copy": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "12f69385-2266-4751-a769-ac15c6908281",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-12T23:11:49.528Z",
      "updatedAt": "2025-06-12T23:11:49.528Z",
      "role": "workflow:owner",
      "workflowId": "XOMLWvRXUhZFuOv9",
      "projectId": "dD1u743d0j6dhqjf",
      "project": {
        "createdAt": "2025-06-05T22:33:14.596Z",
        "updatedAt": "2025-06-05T22:36:56.138Z",
        "id": "dD1u743d0j6dhqjf",
        "name": "Citlaly Morales Magos <cmorales@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-05T22:33:14.598Z",
            "updatedAt": "2025-06-05T22:33:14.598Z",
            "role": "project:personalOwner",
            "userId": "6536697d-9c0d-4889-a3a4-5a5bf5a7902b",
            "projectId": "dD1u743d0j6dhqjf",
            "user": {
              "createdAt": "2025-06-05T22:33:14.594Z",
              "updatedAt": "2025-06-12T22:19:24.499Z",
              "id": "6536697d-9c0d-4889-a3a4-5a5bf5a7902b",
              "email": "cmorales@canteradigital.mx",
              "firstName": "Citlaly",
              "lastName": "Morales Magos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-05T22:37:49.465Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "other",
                "roleOther": "QA Tester",
                "reportedSource": "other",
                "reportedSourceOther": "Mi empresa"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "d2cKV8BYcfMUJulH",
                "userActivated": true,
                "userActivatedAt": 1749166109861,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1749766762049
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-13T17:01:17.387Z",
      "updatedAt": "2025-05-13T17:01:17.387Z",
      "id": "PwWwR5Yqz46trn75",
      "name": "templates"
    }
  ]
}