workflows/Agente Edukai.json
{
  "createdAt": "2025-07-01T23:56:39.068Z",
  "updatedAt": "2025-07-10T19:11:39.000Z",
  "id": "NESaPYaOPrbi2jS8",
  "name": "Agente Edukai",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2900,
        440
      ],
      "id": "d9b3b64d-96cf-43ee-b991-7d37633c5c03",
      "name": "WhatsApp Trigger",
      "webhookId": "07414902-c1b0-4d8e-85ba-4841a6391a07",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=🎯 ROL DEL AGENTE - EDUKAI\n\n\nEres el agente conversacional de **EdukAI**, especializado exclusivamente en la venta de **soluciones de Inteligencia Artificial (IA)** y **agentes de IA**. Tu propósito es:\n\n\n1. Informar sobre soluciones de IA a la medida y agentes de EdukAI (servicios, casos de éxito, tecnologías, contacto).\n2.  Detectar si un problema puede resolverse con IA, haciendo preguntas estratégicas.\n3.  Responder directo con textos breves pero suficientes para que la comunicación sea clara. \n4. Generar confianza sobre IA, sin inventar. Redirige conversación si no sabes algo.\n5.  Calificar el lead a través de preguntas estratégicas (Modelo BANT).\n6.  Recopilar datos relevantes para seguimiento comercial.\n\n\n\n\n📌 El objetivo de esta conversación es identificar si alguno de nuestros servicios de Inteligencia Artificial puede ayudarte y recopilar la información necesaria para que un asesor experto te contacte con una propuesta ajustada a tu negocio.\nSi no es el momento ideal, te puedo dejar recursos útiles o seguir en contacto para más adelante. 😉\n\n\n\n\n\n\n---\n\n\n🧠 ESTILO Y TONO\n\n\n- Profesional, accesible y empático.\n- Siempre orientado a resolver con IA. \n- Consultivo: fomenta el diálogo y la identificación de necesidades.\n- Usa emojis y formato WhatsApp para facilitar la lectura.\n- Adapta el lenguaje según el nivel técnico.\n- No inventar respuestas, redirige si es necesario.\n\n\n---\n\n\n🎯 FLUJO CONVERSACIONAL\n1. Presentación y detección de necesidad\nHola {{nombre}}, soy el agente de EdukAI 🤖✨. ¿Sabías que la IA puede reducir tus costos operativos hasta en un 40%, como hizo Amazon con sus agentes internos? 💸  \nCuéntame un problema de tu empresa (ventas, soporte, operación, clientes) y yo te diré cómo lo resolvería con IA 🤖💡 ¿Te animas?\n2. Detección de necesidad + segmentación\nUna vez detectado el interés, usa esta bifurcación:\na) Si busca automatización o atención inteligente:\n   * ¿Qué tareas específicas deseas automatizar con un agente IA?\n   * ¿Dónde lo usarías? (WhatsApp, sitio web, CRM…)\n   * ¿Qué tipo de interacción quieres que tenga? (soporte, ventas, agendamiento…)\n   * ¿Ya tienes sistemas que debamos integrar?\nb) Si busca desarrollo de IA a medida:\n   * ¿Qué problema de negocio te gustaría resolver específicamente con IA?\n   * ¿Has probado alguna solución antes?\n   * ¿Qué tipo de IA crees que necesitas (texto, imágenes, predicción, RPA…)?\n   * ¿Tienes datos propios que podríamos usar?\n\n\n   3. Calificación del lead (BANT IA)\nHazlo en forma de conversación natural, uno a uno. Ejemplo:\n— ¿Cuántas personas trabajan en tu empresa y en qué ciudad están ubicados?\n— ¿Tienes un presupuesto destinado a este tipo de soluciones de IA o estás explorando?\n— ¿Tú tomas la decisión sobre este tipo de proyectos o quién más participa?\n— ¿Cuándo te gustaría comenzar con esta solución?\n📌 Internamente, etiqueta como:\n🔥 Caliente: Proyecto definido + presupuesto realista + decisión en menos de 30 días + necesidad clara relacionada con IA.\n🌡️ Templado: Exploración activa, sin urgencia.\n❄️ Frío: Sin presupuesto, sin intención clara, tema no relacionado con IA.\nNo menciones nunca al usuario este proceso de etiquetado.\n      4. Recolección de datos (obligatorios)\nUna vez calificado, pide lo siguiente:\nPara darte seguimiento, ¿me puedes compartir estos datos?\n         * Nombre completo\n         * Empresa\n         * Correo electrónico\n         * Teléfono (con código de país)\n         * Ciudad y país\n📌 Cierre recomendado según perfil:\n         * 🔥 Lead Caliente: “¡Perfecto! Ya tengo toda la información. En breve, un asesor experto en IA se pondrá en contacto contigo para ayudarte a implementar tu solución de forma estratégica 🚀.”\n         * 🌡️ Lead Templado: “Gracias por tu interés. Te dejaré información útil sobre cómo aplicar IA en tu industria, y cuando estés listo para avanzar, aquí estaré 👩‍💻.”\n         * ❄️ Lead Frío: “Aprecio que hayas compartido tu situación. Si en el futuro quieres explorar cómo la IA puede ayudarte, estaré feliz de apoyarte 🤖.”\n📌 Registro de lead para CRM (formato JSON)\nCuando tengas todos los datos, registra al lead en el CRM con el siguiente formato JSON:\njson\nCopiarEditar\n{\n  \"nombre\": \"Juan Pérez\",\n  \"empresa\": \"InnovaTech\",\n  \"email\": \"juan@innovatech.com\",\n  \"telefono\": \"+52 1234567890\",\n  \"ubicacion\": \"CDMX, México\",\n  \"nivel_de_interes\": \"caliente\",\n  \"necesidad_detectada\": \"automatizar atención a clientes con agente IA\",\n  \"plazo_inicio\": \"1-2 semanas\",\n  \"fecha_registro\": \"08 de julio de 2025\"\n}\n\n\nEste registro se envía automáticamente al webhook 'ingreso_teams' para notificar al equipo comercial y guardar en la tabla 'clasificacion_leads'.\n\n\n\n\n---\n\n\n🙋‍♂️ MANEJO DE OBJECIONES\n📍 “Está caro” → Podemos explorar una solución escalable y con alto retorno. ¿Te gustaría ver una opción adecuada a tus objetivos?\n📍 “Estoy evaluando” → ¿Quieres que te muestre un caso de éxito similar al tuyo para inspirarte?\n📍 “Ya tengo proveedor” → ¿Y qué tan bien les ha funcionado? Podemos complementar o mejorar su estrategia actual.\n📍 “Solo estoy viendo” → Genial, te puedo dejar info útil y cuando estés listo, aquí estaré.\n📍 “¿Funciona?” → ¡Sí! Clientes como Zucarmex y Pollo Pechugón ya están automatizando procesos críticos con IA y viendo ROI en menos de 90 días.\n\n\n\n\n\n\n\n\n---\n\n\n🧾 SOBRE EdukAI (por si preguntan)\nEdukai desarrolla soluciones de Inteligencia Artificial que automatizan, optimizan y escalan procesos de marketing, ventas y atención al cliente.\nContacto:info@edukai.consulting\n💡 SERVICIOS DE EDUKAI\nEdukai Agentes IA – Soluciones listas para desplegar:\n         * Modelos pre-entrenados por industria.\n         * Activación rápida y resultados desde el primer día.\n         * Ideal para pymes, startups, y equipos con necesidad de agilidad.\nEdukai Tailored AI – IA diseñada desde cero:\n         * Diagnóstico profundo y arquitectura a medida.\n         * Integración con sistemas complejos.\n         * Ideal para corporativos, instituciones o empresas con procesos únicos.\n¿Qué es un agente funcional?\nUn agente IA de EdukAI se adapta a procesos reales, se activa en días, y no requiere conocimientos técnicos del cliente. comienza a generar valor desde el primer momento.\n\n\nResultados típicos:\n- 50% menos tareas repetitivas  (benchmark McKinsey)\n- Procesos críticos 2x más rápidos  \n- Respuestas en menos de 5 segundos\n- ROI visible en menos de 90 días\n\n\nEdukAI es la forma más rápida y segura de automatizar tu negocio con IA 🤖\n\n\n---\n\n\n📌 Notas internas adicionales para automatización y manejo avanzado\n         * Si el usuario no responde tras 3 preguntas clave, envía un recordatorio breve y educado.\n         * Si responde con texto largo, resume y extrae los datos clave para clasificación.\n         * Si detectas frustración, escalamiento, lenguaje negativo o ambigüedad, deriva a humano.\n         * Si se pierde el foco en IA, redirige con una frase tipo: “Mi especialidad es resolver retos de negocio con IA. ¿Te gustaría ver cómo podría aplicarse en tu caso?”\n         * Si detectas que el usuario quiere repetidamente conversar sobre otros temas, abandona la conversación.\n\n\n📌 Saludo alternativo para web o redes sociales (si aplica)\n👋 ¡Hola! Soy el agente de EdukAI.\n¿Sabías que la Inteligencia Artificial puede ayudarte a automatizar tareas y ahorrar costos operativos en más de un 40%? 🚀\nCuéntame: ¿tienes algún problema o proceso que quieras mejorar en tu empresa? Yo te diré cómo lo resolveríamos con IA.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1460,
        20
      ],
      "id": "9adcc821-d938-4e65-b79a-606b071c16e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        320
      ],
      "id": "535d21af-49e7-4d75-9ae8-7fb60ce8d031",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nFhq9424Dw9eFpNq",
          "name": "OpenAi Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2680,
        -240
      ],
      "id": "c057b44a-f4ca-4a06-bba1-c6a52fe5730d",
      "name": "WhatsApp Business Cloud",
      "webhookId": "6976b0ae-f7e5-46f3-9d29-350365d2b0bd",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Recuerda considerar todas las definiciones de la calificacion de leads que esta en el prompt, para garantizar la correcta calificacion de cada uno de ellos dependiendo de la conversación con el cliente."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2240,
        480
      ],
      "id": "e87b6f3f-4a18-4e25-a49e-578d7d1fd485",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "61e4632b-4096-4fb7-a09b-e32f84287653",
              "leftValue": "={{ $json.messages[0].audio.voice }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8af6a9f4-1dbe-4bfd-aef0-53d0c7ad7f04",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2680,
        440
      ],
      "id": "3d31c8f5-27f0-433c-bbe2-8ab15c8ca259",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "n8n_chat_histories_agente_edukai",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1500,
        300
      ],
      "id": "6e172890-dd8c-4854-bb95-69d9f7a552a8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1420,
        -220
      ],
      "id": "62984baa-bf23-4b5d-8126-08fbb27cc702",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_agente_edukai",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1640,
        -220
      ],
      "id": "a8d09146-0e0c-470e-8ecc-b938fa6ae7dd",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_', ``, 'string') }}",
            "empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "ubicacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ubicacion', ``, 'string') }}",
            "nivel de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nivel_de_interes', ``, 'string') }}",
            "servicio de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_de_interes', ``, 'string') }}",
            "necesidad detectada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('necesidad_detectada', ``, 'string') }}",
            "plazo de inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('plazo_de_inicio', ``, 'string') }}",
            "observaciones": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observaciones', ``, 'string') }}",
            "fecha de creación": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_de_creaci_n', `fecha y hora actual en la que se genera la entrada en la hoja de calculo formato (año-mes_dia hora:minuto:segundo)`, 'string') }}"
          },
          "matchingColumns": [
            "leads"
          ],
          "schema": [
            {
              "id": "nombre ",
              "displayName": "nombre ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ubicacion",
              "displayName": "ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nivel de interes",
              "displayName": "nivel de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "servicio de interes",
              "displayName": "servicio de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "necesidad detectada",
              "displayName": "necesidad detectada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plazo de inicio",
              "displayName": "plazo de inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha de creación",
              "displayName": "fecha de creación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1780,
        480
      ],
      "id": "cb0e788f-0f63-496c-99fb-2b412482e165",
      "name": "clasificacion_leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1740,
        420
      ],
      "id": "8c1e0efa-291e-4ac3-9419-fa5d342b10bb",
      "name": "typing indicator1"
    },
    {
      "parameters": {
        "description": "call this tool to schedule a meeting ",
        "workflowId": {
          "__rl": true,
          "value": "9vBAEbP1lBMNbUVD",
          "mode": "list",
          "cachedResultName": "Agente Nova Confirmacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', `full name of the customer`, 'string') }}",
            "email_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_cliente', `email of the customer`, 'string') }}",
            "telefono_cliente": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "nombre_empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_empresa', `name of the business`, 'string') }}",
            "requerimiento_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requerimiento_cliente', `describe dettalladamente el requerimiento y comentarios del cliente para que un analissta los procese`, 'string') }}",
            "perfilado_de_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('perfilado_de_cliente', `pefila el cliente con giro area de la empresa ubnicacion tamaño de empresa total de empleados, agrega todos los datos del perfilado  BANT (Budget, Authority, Need, Timeframe)`, 'string') }}",
            "resumen_propuesta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_propuesta', `propuesta generada por el ai al requerimiento del cliente`, 'string') }}",
            "type_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type_lead', `tipo de lead definido entre Hot lead, Hot lead, Warm lead (siempre con estos valores en ingles para que puedas identificar)`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_empresa",
              "displayName": "nombre_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "requerimiento_cliente",
              "displayName": "requerimiento_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "perfilado_de_cliente",
              "displayName": "perfilado_de_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumen_propuesta",
              "displayName": "resumen_propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type_lead",
              "displayName": "type_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2020,
        480
      ],
      "id": "357a6408-40af-413d-bcb6-f754f39ec1ec",
      "name": "ingreso_teams"
    },
    {
      "parameters": {
        "content": "# Agente Calificador de Leads",
        "height": 80,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -320
      ],
      "id": "3b22d2a3-658c-496c-86ab-0e0a282e6147",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "chat_id": "={{ $json.messages[0].from }}",
            "type": "human",
            "message": "={{ $json.messages[0].text.body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2140,
        420
      ],
      "id": "2456a0ea-80dd-4d93-a836-daaef69c67f9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1580,
        -300
      ],
      "id": "524fd363-b007-43a8-90ac-0ffa96ecf84e",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "numberToDelete": 80000
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1360,
        -300
      ],
      "id": "cfb4828d-c098-468c-91ec-889ba0b394f8",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cron Job para eliminar conversaciones cada mes\n",
        "height": 400,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -480
      ],
      "id": "32f53b8b-f5e5-4b63-bdfc-7d32ff327349",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2020,
        760
      ],
      "id": "0ce5bfaf-59c6-4b1b-8527-4440457e6367",
      "name": "Obtiene el binary file del audio de whatsapp",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2220,
        760
      ],
      "id": "f3fc791d-3ebe-45ef-9698-b2597d98bc2a",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "01db2cf9-dd5e-4da3-a6c8-a27b929e205c",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1840,
        760
      ],
      "id": "4092b4b4-1372-4ecc-977c-28414486263b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nFhq9424Dw9eFpNq",
          "name": "OpenAi Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        760
      ],
      "id": "fe7516cd-f1c2-45ef-a78f-f9ec46d996a5",
      "name": "typing indicator"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "chat_id": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "type": "human",
            "message": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1640,
        760
      ],
      "id": "ff069203-6754-4118-b8be-05b559085613",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d45c9a-45b5-48c3-83d0-8f8265026b9f",
              "name": "mensaje",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        420
      ],
      "id": "4cb2afab-61ad-4960-b642-4592b9fe29ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d104f47b-bc06-4522-9690-bdaf69823ae7",
              "name": "mensaje",
              "value": "={{ $('OpenAI').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        760
      ],
      "id": "a89f0405-f742-4331-a1b3-9d07d0212029",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "01f1a296-7ad7-4e11-b981-4801e2483b38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9bd0820f-6129-4c98-b4e4-5bd0798c36e0",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b77da66-de34-4956-bd6d-baf661fe6806",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2460,
        440
      ],
      "id": "0dbc6994-6c24-4012-bc78-c9d4f9a111ab",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Ruta de audio\n**con esta parte descargamos el audio que el cliente nos mande y lo analizamos**",
        "height": 280,
        "width": 1320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2340,
        680
      ],
      "id": "7a965c8c-fb23-496b-ab5f-fcb13be14aa5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Ruta de texto\n**Aquí obtenemos el mensaje de texto que el usuario envio**",
        "height": 280,
        "width": 1320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2300,
        340
      ],
      "id": "07577744-3c6b-48c4-9c5e-c3b77fa5c2e7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2320,
        1240
      ],
      "id": "f03ffdf0-323c-494d-9f51-e0f60ffb8612",
      "name": "WhatsApp Business Cloud3",
      "webhookId": "2f7de662-b22a-4491-b9f5-c4ab96b4897d",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1980,
        1240
      ],
      "id": "83817931-b697-45b3-8de4-8295527ba814",
      "name": "Obtiene el binary file del documento de whatsapp1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1120,
        1240
      ],
      "id": "028b2834-bd42-4973-9a2c-7113c6ed0085",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a10f36f-5bd0-4363-bc94-26e704cc390b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2728b8ab-14de-4d93-a657-589626c9a48d",
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "word"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1580,
        1240
      ],
      "id": "a37abc99-adc5-4eb5-b4e1-9bb79f887e5b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "name": "={{ $('WhatsApp Trigger').item.json.messages[0].document.filename }} - {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} - {{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy",
          "mode": "list",
          "cachedResultName": "Edukai - Archivos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1080,
        1460
      ],
      "id": "2bd0aa36-5fd1-4711-bf36-17d70649c434",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d104f47b-bc06-4522-9690-bdaf69823ae7",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        1320
      ],
      "id": "1d61c0d5-d430-4b87-968b-85dc24ff5fe0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Ruta de documento\n**con esta parte descargamos el documento que el cliente nos mande y lo analizamos**",
        "height": 880,
        "width": 1740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        1120
      ],
      "id": "c2a5d46c-9f75-421f-8233-170d9a9fcfec",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"mimeType\": \"application/vnd.google-apps.document\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1800,
        1480
      ],
      "id": "867ec405-bd5a-467d-b531-5218ae6aba27",
      "name": "generamos una copia de google docs del archivo original",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/export?mimeType=application/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        1480
      ],
      "id": "b0659158-0e80-4e76-803a-515201d6c2f5",
      "name": "convertimos el archivo a un pdf para sacar datos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1380,
        1480
      ],
      "id": "b2b2dbf9-266f-4e3b-a341-c53cdb34389a",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "name": "={{ $('WhatsApp Trigger').item.json.messages[0].document.filename }} - {{ $('WhatsApp Trigger').item.json.messages[0].from }} - {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} - {{ new Date() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy",
          "mode": "list",
          "cachedResultName": "Edukai - Archivos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2240,
        1480
      ],
      "id": "0c88bfed-5ac4-418d-8005-fe620116fb2d",
      "name": "guardamos el archivo original",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('guardamos el archivo original').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2280,
        1720
      ],
      "id": "7bb7248b-f197-4746-bc00-b02442327597",
      "name": "borramos el archivo original",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('generamos una copia de google docs del archivo original').item.json.name }}",
        "limit": 1,
        "filter": {},
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1820,
        1720
      ],
      "id": "a893bfba-1cad-4afa-a40a-28ef02fbb6a8",
      "name": "buscamos el archivo copia que procesamos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "chat_id": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "type": "human",
            "message": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1100,
        1720
      ],
      "id": "52928f4a-af54-41f1-83ab-ba594df13a91",
      "name": "guardamos al interaccion en la base de datos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61b5083b-ecfc-498f-a387-342d02d8ec36",
              "leftValue": "={{ $json.mime_type }}",
              "rightValue": "=application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "166ff38a-9d49-49fe-b5a0-f204e74302e3",
              "leftValue": "={{ $json.mime_type }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        1100
      ],
      "id": "f4b6595c-764f-4d2a-89a3-07b02ff426db",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Lo siento, en este momento solo puedo leer documentos tipo PDF o DOCX.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        1080
      ],
      "id": "ebff9835-e614-4f6f-a73a-edf6ef16ee28",
      "name": "error documento"
    },
    {
      "parameters": {
        "content": "## Borrador de memoria\nEste nodo se encarga de eliminar la memoria de un agente cuando se hacen pruebas internas",
        "height": 320,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -340
      ],
      "typeVersion": 1,
      "id": "6f35d6c8-83eb-4562-ba51-1f13ace497d7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Respuesta del agente\nEn esta sección documentamos la respuesta del agente y le mandamos el mensaje al usuario fiunal",
        "height": 300,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        -100
      ],
      "typeVersion": 1,
      "id": "2ba53867-8953-4e7c-b44f-647cf1923a1c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### Herramientas (Tool)\nen esta seccion se configuran las herramientas que tendra a su alcance nuestro agente que le ayuda a tener mejores capacidades\nen este punto se tienen configuradas \n1.- hoja de calculo donde tiene la capacidad de dar de alta leads calificadosa\n\n2.- llamado de un workflow externo que sirve para enviar datos y enviar correos electrónicos\n\n3.- Think esta herramienta ayuda a nuestro agente a ser mas eficiente",
        "height": 360,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        260
      ],
      "typeVersion": 1,
      "id": "f91dd6ef-f1fa-40b4-9fd7-833e5b2f0b58",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        780,
        20
      ],
      "id": "5faa585a-c502-44bd-aeea-007c2db9c8a0",
      "name": "Telegram Trigger",
      "webhookId": "96236cdb-788f-449b-a78f-b1bacbdab49f",
      "credentials": {
        "telegramApi": {
          "id": "mcukdpP03xMLgfnh",
          "name": "Telegram Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "Chat_id": "={{ $json.message.chat.id }}",
            "Type": "human",
            "Message": "={{ $json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chat_id",
              "displayName": "Chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        20
      ],
      "id": "3e01dbca-c609-4f2e-85e2-fb17748bcc55",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        20
      ],
      "id": "e3a0ef36-f04c-46db-ab27-d63a89497653",
      "name": "Send a text message",
      "webhookId": "438c49c4-fc6b-498b-b24f-1a85b7ed6e17",
      "credentials": {
        "telegramApi": {
          "id": "mcukdpP03xMLgfnh",
          "name": "Telegram Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d45c9a-45b5-48c3-83d0-8f8265026b9f",
              "name": "mensaje",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        20
      ],
      "id": "39f1b1d9-d23d-4026-a30d-7c17350a474d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "Chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Type": "agent",
            "Message": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Chat_id",
              "displayName": "Chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        20
      ],
      "id": "7285e77c-201a-4933-8c78-3035a328baa5",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clasificacion_leads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingreso_teams": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "typing indicator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Obtiene el binary file del audio de whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene el binary file del audio de whatsapp": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "typing indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud3": {
      "main": [
        [
          {
            "node": "Obtiene el binary file del documento de whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene el binary file del documento de whatsapp1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardamos el archivo original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "guardamos al interaccion en la base de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "generamos una copia de google docs del archivo original": {
      "main": [
        [
          {
            "node": "convertimos el archivo a un pdf para sacar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convertimos el archivo a un pdf para sacar datos": {
      "main": [
        [
          {
            "node": "borramos el archivo original",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardamos el archivo original": {
      "main": [
        [
          {
            "node": "generamos una copia de google docs del archivo original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "borramos el archivo original": {
      "main": [
        [
          {
            "node": "buscamos el archivo copia que procesamos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscamos el archivo copia que procesamos": {
      "main": [
        [
          {
            "node": "guardamos al interaccion en la base de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "error documento",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5214431866819",
            "phone_number_id": "676686782186843"
          },
          "contacts": [
            {
              "profile": {
                "name": "Rick"
              },
              "wa_id": "5214434901193"
            }
          ],
          "messages": [
            {
              "from": "5214434901193",
              "id": "wamid.HBgNNTIxNDQzNDkwMTE5MxUCABIYFjNFQjAxQzBGOTNERDcxNjg5RTJEMjQA",
              "timestamp": "1751067591",
              "type": "document",
              "document": {
                "filename": "01. Pre cotización.docx",
                "mime_type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "sha256": "VnNbPRb95Kefo8KKOLZv+IsbeNP7xKYS3xC/wAMZsIE=",
                "id": "3087009298120490"
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "2aef0963-935f-4e48-95c1-c2901001b06b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-01T23:56:39.072Z",
      "updatedAt": "2025-07-01T23:56:39.072Z",
      "role": "workflow:owner",
      "workflowId": "NESaPYaOPrbi2jS8",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-07-08T21:59:22.697Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-07-01T23:56:34.889Z",
      "updatedAt": "2025-07-01T23:56:34.889Z",
      "id": "jWjb6ND4ue1gFvYO",
      "name": "agente edukai"
    }
  ]
}