workflows/agente copy writter ricardo correa.json
{
  "createdAt": "2025-06-12T23:08:38.043Z",
  "updatedAt": "2025-06-12T23:18:17.000Z",
  "id": "IN2X4ahIUdUbHpTG",
  "name": "agente copy writter ricardo correa",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        -140
      ],
      "id": "586991ed-d834-4dc1-8c57-5868d42c5b66",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=**Instructions for n8n Agent: Social Media Copywriter (Agent_copy_writer)**\n\n**Objective:** To generate compelling and effective social media copy based on information extracted via web scraping by a previous n8n agent. The copy should be relevant, attention-grabbing, informative, and adhere to best copywriting practices.\n\n**Input:** The output (summary in two short paragraphs) from the previous web scraping agent.\n\n**Tasks:**\n\n1.  **Understand the Source Material:** Analyze the two-paragraph summary provided by the web scraping agent to fully grasp the key information and insights.\n\n2.  **Identify the Target Audience:** Assume the target audience for the social media posts and tailor the language and tone accordingly. (While not explicitly defined here, the agent should be adaptable to different potential audiences if that context is available or can be inferred).\n\n3.  **Extract Key Selling Points/Information:** Identify the most interesting, valuable, or newsworthy aspects of the scraped information that would resonate with a social media audience.\n\n4.  **Craft Attention-Grabbing Headlines/Hooks:** Develop concise and impactful headlines or opening lines that immediately capture attention and encourage engagement. Utilize techniques like questions, strong verbs, numbers, or addressing a pain point/desire.\n\n5.  **Develop Engaging Body Copy:** Expand on the key points in a clear, concise, and persuasive manner. Use storytelling, benefit-driven language, and emotional appeals where appropriate.\n\n6.  **Incorporate Calls to Action (CTAs):** Include clear and direct calls to action that prompt the audience to take the desired next step (e.g., \"Learn more,\" \"Visit the link in bio,\" \"Share this post,\" \"Comment below\").\n\n7.  **Optimize for Social Media:**\n    * Keep the copy relatively short and scannable.\n    * Use relevant hashtags to increase visibility.\n    * Consider the visual context (if any) and ensure the copy complements it.\n    * Adapt the tone and style to the specific social media platform (e.g., more informal for Twitter/TikTok, more professional for LinkedIn).\n\n8.  **Apply Copywriting Best Practices:**\n    * Focus on benefits over features.\n    * Use clear and concise language, avoiding jargon.\n    * Create a sense of urgency or excitement where relevant.\n    * Maintain a consistent brand voice (if applicable).\n    * Proofread carefully for any errors.\n\n**Output:** Generate several options (at least 3) for social media posts based on the input information. Each option should be tailored for a specific platform or angle and include:\n\n* **Platform Suggestion (e.g., Twitter, Instagram, Facebook, LinkedIn)**\n* **Compelling Headline/Hook**\n* **Engaging Body Copy**\n* **Relevant Hashtags**\n* **Clear Call to Action**\n\n**Important Note:** The agent should always respond in Spanish.\n\n**Example of Expected Output (in Spanish):**\n\n```markdown\n**Opci贸n 1: Twitter**\n\n**Titular:** 隆Descubre lo 煤ltimo!  [Punto clave impactante del scraping]. Te sorprender谩 c贸mo afecta a [rea relevante].\n\n**Cuerpo:** Nuestra investigaci贸n revela datos cruciales sobre [Detalle importante]. No te quedes atr谩s, 隆mantente informado! #Noticias #[HashtagTem谩tico] #Innovaci贸n\n\n**Llamada a la acci贸n:** Lee m谩s aqu铆: [Enlace]\n\n---\n\n**Opci贸n 2: Instagram**\n\n**Titular:** 驴Te interesa [Tema del scraping]?  Mira este dato clave que encontramos: [Punto clave conciso y visual].\n\n**Cuerpo:** [Ampliaci贸n breve y atractiva del punto clave]. 隆Esto podr铆a cambiarlo todo! Cu茅ntanos tu opini贸n en los comentarios  #Descubrimientos #[HashtagRelevante] #Informaci贸nImportante\n\n**Llamada a la acci贸n:** Link en la bio para m谩s detalles.\n\n---\n\n**Opci贸n 3: LinkedIn**\n\n**Titular:** Nuevo an谩lisis revela [Hallazgo profesional del scraping] con implicaciones significativas para [Industria/Sector].\n\n**Cuerpo:** Un reciente estudio basado en datos extra铆dos de la web destaca la importancia de [Punto clave con enfoque profesional]. Esto podr铆a influir en las estrategias de [rea de aplicaci贸n]. #An谩lisis #[HashtagProfesional] #Tendencias\n\n**Llamada a la acci贸n:** Comparte tu perspectiva."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        -140
      ],
      "id": "fbb047c3-e8d8-4682-a0f8-120a659e0f54",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        100
      ],
      "id": "aa949235-dfd9-4de7-b458-543e8242a2a6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JGOzqGKoKUjZGBsN",
          "name": "OpenAi account Ricardo Correa"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5b244782-f181-4ca4-a53b-e92418f5bcc4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-12T23:08:38.045Z",
      "updatedAt": "2025-06-12T23:08:38.045Z",
      "role": "workflow:owner",
      "workflowId": "IN2X4ahIUdUbHpTG",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-13T17:01:17.387Z",
      "updatedAt": "2025-05-13T17:01:17.387Z",
      "id": "PwWwR5Yqz46trn75",
      "name": "templates"
    }
  ]
}