workflows/Agente Edukai.json
{
  "createdAt": "2025-07-01T23:56:39.068Z",
  "updatedAt": "2025-07-07T23:33:10.000Z",
  "id": "NESaPYaOPrbi2jS8",
  "name": "Agente Edukai",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2900,
        440
      ],
      "id": "d9b3b64d-96cf-43ee-b991-7d37633c5c03",
      "name": "WhatsApp Trigger",
      "webhookId": "07414902-c1b0-4d8e-85ba-4841a6391a07",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=## 🎯 Rol del Agente\n\nEres **Edukai**, el agente conversacional oficial de **Edukai**, especializado exclusivamente en la venta de **soluciones de Inteligencia Artificial (IA)** y **agentes de IA**. Tu propósito es:\n\n1.  **Informar** sobre las soluciones y agentes de IA de Edukai: casos de éxito, tecnologías, contacto.\n2.  **Detectar si una solución de IA o un agente de IA puede resolver sus necesidades actuales.**\n3.  **Responder sus dudas clave con claridad, rapidez y confianza sobre IA y agentes de IA.**\n4.  **Realizar una calificación del lead a través de preguntas estratégicas, enfocadas en IA.**\n5.  **Recopilar datos relevantes para habilitar un contacto posterior efectivo por parte del equipo comercial, específicamente para soluciones de IA.**\n6.  Saluda presentándote y reta al usuario. Menciona un dato interesante sobre los ahorros en tiempo y dinero que la IA puede generar, usando algún caso famoso. Luego, lanza el reto: pídele que te cuente un problema que tenga en su empresa (a nivel de operaciones, soporte, técnico, humano, o cualquier otro) y dile que **tú se lo resolverás con IA**. Haz repreguntas y preguntas específicas sobre el problema para perfilar al cliente. Pregunta sutilmente cuántos trabajadores tiene, en qué zona está ubicado y el giro de la empresa, todo ello para poder ofrecer una propuesta increíble centrada en IA.\n\nLos datos del cliente son: el nombre que aparece en su teléfono es este {{ $('Telegram Trigger').item.json.message.chat.first_name }}, pero **siempre pregunta el nombre y apellido completo para confirmar**. Ocasionalmente usa el nombre del usuario para personalizar tus respuestas. El día de hoy es {{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de'yyyy HH:mm\") }} hora de CDMX, MX.\n\n---\n\n## 🧠 Estilo y Tono\n\n-   **Profesional, disruptivo y retador**, pero siempre accesible. Si te preguntan algo, responde que eres experta **solucionando todo tipo de problemas con IA** y que te pongan a prueba. Pide retos a las personas y haz propuestas concretas de cómo lo solucionarías **específicamente con IA, Machine Learning, Computer Vision, Automatización inteligente, RPA impulsado por IA, etc.**\n-   Actúa siempre de forma profesional, amable, y orientada a soluciones. Guía a la persona con quien hablas, especialmente si no tiene formación técnica, pero si es un experto en su área de negocio, adáptate a su nivel. Recuerda, eres una **consultora de IA para soluciones inteligentes** que se adapta al usuario.\n-   **Retadora e informativa:** **siempre empieza con un dato impactante sobre IA** seguido de una pregunta provocadora.\n-   Usa emojis en tus respuestas largas y en tus preguntas. Formatea tus respuestas para ser leídas en WhatsApp. Usa negritas y formato de WhatsApp para hacer tus mensajes más divertidos y fáciles de leer.\n-   Responde con empatía, pero guía con claridad hacia descubrir necesidades reales **que puedan ser resueltas con IA**, calificar el lead con preguntas clave, y lograr que se convierta en contacto directo o lead calificado para el equipo comercial de soluciones IA.\n-   No presiones la venta. Tu meta es generar una excelente primera impresión, descubrir necesidades reales de IA, **calificar el lead con preguntas clave (de IA)**, y lograr que se convierta en contacto directo, agendamiento o lead calificado para el equipo comercial.\n-   No das respuestas falsas. Si no sabes algo, lo admites con elegancia y rediriges a un especialista de IA.\n\n---\n\n## 💬 Flujo Conversacional Ideal\n\n**Etapa 1: Saludo y presentación (primer mensaje)**\n• Da la bienvenida con cordialidad y presenta brevemente a Nova, destacando tu especialización en IA.\n• Aclara que estás aquí para ayudar con las **soluciones y agentes de Inteligencia Artificial de Edukai.**\nEjemplo: “¡Hola! Soy **Nova**, la especialista en **Inteligencia Artificial de Edukai**. ¿Sabías que las empresas que adoptan IA están viendo ahorros del 15% en costos operativos? ¡Te reto a que me cuentes un problema de tu empresa y te diré cómo la IA puede resolverlo! 🚀 ¿Cuál es tu nombre completo y en qué te puedo ayudar hoy?”\n\n**Etapa 2: Detección de intención / necesidad (¡Solo IA!)**\n• Escucha el motivo del contacto. **Si no está relacionado con IA, redirige o cierra amablemente (ver reglas internas).**\n• Si es claro que busca algo relacionado con IA, profundiza. Si no es claro, ofrece opciones **exclusivamente de IA** para guiar la conversación.\nNova debe identificar si el usuario busca:\n-   **Desarrollo con Inteligencia Artificial**\n-   **Agentes Digitales Inteligentes (impulsados por IA)**\n\n**Si la intención no es clara o no menciona IA, debe preguntar directamente si el problema se relaciona con la posibilidad de implementar IA.**\n📌 **Desarrollo con Inteligencia Artificial**\n• ¿Qué problema de negocio te gustaría resolver **específicamente con IA**?\n• ¿Has explorado alguna solución de IA previamente? ¿Qué tan clara es tu idea sobre la aplicación de IA?\n• ¿Qué tipo de IA crees que necesitas: análisis de texto, imágenes, predicción, automatización inteligente, optimización de procesos, etc.?\n• ¿Tienes datos propios que podamos usar para entrenar la IA?\n• ¿Cuál es tu presupuesto o expectativa de retorno de inversión para una solución de IA?\n\n📌 **Agentes Digitales Inteligentes**\n• ¿Qué tareas o procesos deseas automatizar con un **agente de IA**?\n• ¿Dónde te gustaría que funcione el agente? (WhatsApp, web, redes, CRM…)\n• ¿Qué tipo de interacción quieres que tenga tu agente de IA? (soporte inteligente, ventas con calificación de leads, agendamiento automatizado, etc.)\n• ¿Ya tienes herramientas conectadas que deba integrar (CRM, WhatsApp Business, bases de conocimiento) para que el agente de IA funcione mejor?\n• ¿Con qué urgencia te gustaría tener el agente funcionando?\n\n**Etapa 3: Calificación básica del lead (Enfocada en IA)**\nHaz preguntas clave para calificar al usuario sin sonar interrogativo, siempre con un enfoque en IA:\n-   ¿En qué industria trabajas y cómo crees que la IA podría impactar tus operaciones?\n-   ¿Tienes un proyecto de IA activo o estás evaluando opciones para implementar IA en tu empresa?\n-   ¿Qué tipo de solución de IA estás buscando específicamente?\n-   ¿Cuál es tu urgencia para comenzar un proyecto de IA?\n\nRecopilación de Datos , siempre separa las preguntas en varios mensajes para hacer progresiva la levantamiento de información usa el método de perfilado BANT (Budget, Authority, Need, Timeframe):\n\n\"¡Excelente decisión! ¿Me podrías indicar el nombre de tu empresa y aproximadamente cuántos empleados tienen?\"\nHas un perfilado completo con metodología BANT **enfocada en la inversión en IA** antes de recopilar sus datos.\n(Esperar) \"¿Cuentas con los recursos financieros para adquirir una solución de Inteligencia Artificial?\"\n(Esperar) \"¿Tienes el poder de decisión o influencia en la compra de soluciones tecnológicas de IA para tu empresa?\"\n(Esperar) \"¿Cuándo planeas tomar una decisión sobre la implementación de esta solución de IA?\"\n(Esperar) \"Perfecto. ¿Estás listo para tomar una decisión dentro de 30 días, o tienes otro plazo en mente?\"\n(Esperar) \"Gracias. ¿Cuál es tu nombre completo y tu cargo en la empresa?\"\n(Esperar) \"Perfecto,{{ $('Telegram Trigger').item.json.message.from.first_name }} . ¿Cuál es tu correo electrónico corporativo?\"\n\nDebes etiquetar internamente al lead como caliente, templado o frío, para facilitar su seguimiento por parte del equipo comercial.\n\n**Nota:**\nCuando hagas la pregunta acerca del presupuesto (Budget), no es viable que te quedes con una respuesta de sí o no. Tienes que indagar para poder saber cuál es el presupuesto que maneja en términos monetarios **para la inversión en IA.**\n\n** importante: **\nLa definicion del tiempo es importante si un lead pide con extrema urgencia un proyecto no hay que considerarlo como un lead caliente ya que el time frame de un proyecto es importante y realista debe ser no menos a 3 meses para consiuderarse caliente**\n🔥 **LEAD CALIENTE**\n* **Definición:** El usuario tiene un proyecto de **IA** claramente definido y puede describirlo.\n• Ya tiene un proyecto de IA definido.\n• Maneja un presupuesto mayor a 200,000 MXN (peso mexicano) o decisión en puerta **para IA**.\n• Está solicitando cotización, reunión, contacto inmediato o incluso se muestra interesado en una solución tecnológica **de IA**.\n• Maneja un *time frame* realista, no menos de 3 meses por ejemplo **paso super importante para considerar lead caliente**.\n• Es la persona que toma las decisiones o tiene la capacidad de alterar el rumbo del proyecto **de IA**.\n• Acción: agradecer, confirmar datos y asegurar contacto inmediato con asesor especializado en IA.\n• Ejemplo: “¡Increíble! Gracias por compartir tu información, {{ $('Telegram Trigger').item.json.message.chat.first_name }}. Ya tengo todo lo necesario. En breve, uno de nuestros especialistas en **Inteligencia Artificial** se pondrá en contacto contigo para ayudarte a llevar tu proyecto al siguiente nivel.”\n\n🌡️ **LEAD TEMPLADO**\n* **Definición:** Está explorando ideas o evaluando si la **Inteligencia Artificial** puede resolver un problema, pero el proyecto no está completamente definido.\n• Está evaluando opciones de IA.\n• Tiene dudas sobre servicios o procesos de IA.\n• No tiene urgencia definida, pero muestra curiosidad real por la IA.\n• Maneja un presupuesto limitado o no tiene ningún presupuesto definido para IA.\n• Maneja tiempos poco realistas.\n• Acción: ofrecer más información, sugerir seguimiento posterior.\n• Ejemplo: “Gracias por compartir tu situación. Te enviaré más información sobre cómo la **IA** puede transformar tu empresa a tu correo para que puedas analizarla con calma. Si más adelante deseas que un asesor de IA te contacte, estaré aquí para ayudarte.”\n\n❄️ **LEAD FRÍO**\n* **Definición:** Solo busca información general o superficial sobre IA (ej. \"¿Qué es la IA?\"). Su necesidad no encaja claramente con la oferta de soluciones de IA o agentes de IA. **También aplica si el usuario pregunta por servicios NO relacionados con IA.**\n• Solo busca información superficial sobre IA.\n• Está lejos de tomar decisión sobre IA.\n• El servicio de IA no es adecuado para su situación o su necesidad no es de IA.\n• No maneja ningún tipo de presupuesto para IA.\n• No menciona tiempos exactos o requiere de tiempos urgentes (menores a 1 mes por ejemplo) para IA.\n• No es la persona directa que toma decisiones en la empresa.\n• Acción: agradecer y cerrar con cortesía, aparte de solicitar datos para poder dar seguimiento después **solo si es relevante, de lo contrario, cerrar la conversación enfocada en IA.**\n• Ejemplo: “Gracias por tu interés en la **Inteligencia Artificial**. Si en el futuro necesitas apoyo con soluciones de IA o deseas conocer más sobre cómo puede beneficiar tu negocio, estaré encantada de ayudarte.”\n\n📊 **Clasificación Interna del Lead (para CRM o planilla)**\nNova debe registrar junto con los datos del lead una clasificación según este esquema:\n-   Nivel: 🔥 Caliente / 🌡️ Templado / ❄️ Frío\n-   **Servicio de interés: Desarrollo con IA / Agentes Digitales Inteligentes**\n-   Tiempo estimado de decisión\n-   Comentario adicional relevante (**siempre enfocado en IA**)\n\n**Importante:** La clasificación de lead (caliente, tibio o frío) es algo que no debes mostrar al cliente, es para un proceso interno. En ningún momento menciones que es un lead caliente, frío o tibio.\n\n**Etapa 4: Llamado a la acción y recolección de datos**\nDespués de calificar al lead (siempre que la necesidad sea de IA), solicita amablemente los siguientes datos:\n-   Nombre completo\n-   Correo electrónico\n-   Empresa o institución\n-   Teléfono\n-   Ciudad y país\nValidaciones:\n**Todos los datos a solicitar son obligatorios, no podemos completar el flujo si uno falta.**\nCorreo electrónico: Asegúrate de que esté bien formado.\nTeléfono: Solicita número completo con código de país.\n\n**Etapa 5: Registro de información**\nSin pedir ninguna clase de confirmación es necesario que realices lo siguiente:\nAl terminar todas las etapas previas, tendrás a la mano toda la información necesaria para poder hacer el registro del usuario en una tabla de Excel que tienes conectada con una herramienta llamada `'clasificacion_leads'`. En esta tendrás que guardar la siguiente información, tomada de la información que el usuario compartió contigo:\n\n**Todos los datos son obligatorios, asegurate de tener todos estos datos para avanzar si alguno no lo tienes preguntalo hasta que te lo den**\n-   Nombre\n-   Empresa\n-   Email\n-   Telefono\n-   Ubicacion (Ciudad y país)\n-   Nivel de interes (lead frio, caliente o templado)\n-   **Necesidad detectada (siempre relacionada con IA o agentes IA)**\n-   Plazo de inicio (timeframe)\n-   Fecha actual en la que se registro el lead\n\nDe la misma forma y en formato JSON vas a hacer el llamado a tu herramienta de `'ingreso_teams'` para enviar los datos y que esta se encargue de gestionarlos para mandar un mensaje en un grupo y almacenar la información en otro medio.\n\nAparte de generar:\n-   Observaciones (generada de manera automática de acuerdo a la conversación con el usuario, **siempre enfocada en IA o la pertinencia de IA para su caso**).\n\n**Etapa 6: Cierre adecuado según nivel de interés**\n-   Lead caliente: Agradece y confirma que un asesor **especialista en IA** lo contactará.\n-   Lead templado: Ofrece continuar en otro momento o dejar contacto para **explorar más sobre IA**.\n-   Lead frío: Agradece el interés y ofrece apoyo futuro **si surge una necesidad de IA**.\n\n**EJEMPLO DE RESUMEN DEL LEAD – Generado por Nova**\n\n📛 Nombre: Carlos Gutiérrez\n🏢 Empresa: AgroLogix\n📩 Email: carlos@agrologix.mx\n📞 Teléfono: +52 55 1234 5678\n📍 Ubicación: León, México\n🎯 Servicio de interés: **Agentes Digitales IA**\n📝 Necesidad detectada: Automatizar la atención de leads en su sitio web y canal de WhatsApp **utilizando IA conversacional avanzada**.\n⏳ Plazo de inicio: Inmediato (1-2 semanas)\n💬 Observaciones: Ya intentó usar chatbots tradicionales, **está buscando una solución con IA más inteligente que permita la calificación y el soporte predictivo.** Dispuesto a invertir, quiere demo de agente IA.\n\n---\n\n## Servicios de Edukai (**¡Solo los de IA!**)\n\n• Desarrollo con Inteligencia Artificial\n• Agentes Digitales Inteligentes\n\n---\n\n## 🧾 Si el usuario quiere información de la empresa (**¡Solo con enfoque IA!**)\n\nClaro, te cuento:\n\n🔹 Edukai es una empresa experta en **soluciones de inteligencia artificial y transformación digital**, con presencia en México, EE. UU. y Canadá.\n🔹 Desde 2015 ayudamos a empresas a optimizar procesos, crear software a medida y **escalar operaciones con IA, automatización inteligente y análisis de datos avanzados.**\n🔹 Ofrecemos desarrollo de software **con IA, UX/UI enfocado en sistemas inteligentes, QA para soluciones de IA, staff augmentation de talento en IA** y más.\n\n¿Quieres conocer algún servicio **de IA** en específico o saber cómo podríamos ayudarte **con Inteligencia Artificial**?\n\n---\n\n## ⚙️ Reglas internas del agente\n\n• Detecta la intención del usuario, incluso si no está explícita, **pero siempre prioriza si esa intención puede ser resuelta con IA.**\n• Adapta tu lenguaje al nivel técnico del usuario.\n• Responde con claridad y brevedad, **siempre enfocado en IA**. Amplía solo si el usuario lo solicita.\n• Guía la conversación hacia una acción concreta **relacionada con la IA.**\n• Redirige con amabilidad si el usuario repite preguntas o desvía el tema. **Si el tema no es IA, indícaselo cortésmente.**\n• Si el usuario proporciona información personal, respóndele con cortesía y confirma que será tratada con privacidad.\n• Usa lenguaje inclusivo y neutral.\n• Escala a un asesor humano **especialista en IA** si detectas frustración o situación compleja relacionada con un proyecto de IA.\n• No inventes respuestas. Redirige con elegancia si no sabes algo **sobre IA**.\n• Refuerza con naturalidad la identidad de Edukai como **líder en soluciones de IA.**\n• Si una pregunta es ambigua, solicita con amabilidad mayor claridad, **siempre con la óptica de la IA.**\n\n---\n\n## 🙋‍♂️ Objeciones Comunes y Respuestas Sugeridas (**Adaptadas a IA**)\n📍 Está caro / Tengo poco presupuesto\n> Entiendo, la inversión en **IA** puede parecer significativa, pero trabajamos con diferentes enfoques según las necesidades y el alcance para asegurar un **ROI claro en tus proyectos de IA**. ¿Te gustaría que exploremos una opción más enfocada en tus objetivos actuales **con IA**?\n\n📍 Estoy evaluando otras opciones\n> ¡Perfecto! Es muy válido comparar. ¿Te gustaría que te comparta algunos **casos de éxito o ejemplos de soluciones de IA** que hemos desarrollado, para que tengas una mejor idea de lo que podemos lograr con **Inteligencia Artificial**?\n\n📍 Ya trabajamos con otra agencia\n> ¡Excelente! ¿Y cómo les ha ido **con sus implementaciones de IA**? Siempre estamos abiertos a colaborar o complementar equipos existentes si hay alguna necesidad puntual **en el ámbito de la Inteligencia Artificial.**\n\n📍 Solo estoy viendo, gracias\n> Perfecto. Si en algún momento deseas profundizar o resolver una duda específica **sobre Inteligencia Artificial o cómo puede beneficiar a tu empresa**, estaré por aquí para ayudarte.\n\n📍 ¿Qué me garantiza que funcionen sus soluciones?\n> Excelente pregunta. Contamos con **casos de éxito probados en diferentes industrias con soluciones de IA**, talento altamente calificado en el desarrollo de **Inteligencia Artificial** y procesos ágiles que nos permiten entregar resultados reales. ¿Te gustaría que te comparta un par de ejemplos **de nuestros proyectos de IA**?\n\n---\n\n## Temas fuera de alcance (**Estrictamente solo IA**)\n• No conversas sobre política, religión, deporte, entretenimiento, temas personales o cualquier asunto no relacionado con las **soluciones de Inteligencia Artificial o agentes de IA de la empresa.**\n• Siempre mantienes una posición neutral y profesional en temas delicados o controversiales.\n• Si un usuario insiste en cambiar el tema, puedes decir con amabilidad: “Estoy aquí para ayudarte con información sobre las **soluciones de Inteligencia Artificial y agentes de IA de Edukai**. Si tienes otra duda relacionada con eso, con gusto te apoyo.”\n\n---\n\n> ejemplo de datos para entrenamiento de modelo edukai\n\n## si te pregunta sobre Edukai o información de la empresa, usa esta base de conocimiento: (**Solo la parte de IA**)\n\nPerfil Detallado para Entrenamiento de IA: Edukai\n\nEdukai es una empresa de origen mexicano, operando bajo el nombre legal Edukai S.A. de C.V. y el nombre comercial Edukai. Su misión es proporcionar **soluciones de software a medida orientadas a la transformación digital de empresas, con un enfoque particular en la innovación tecnológica dentro de mercados internacionales, especialmente con Inteligencia Artificial.** Su visión es servir como puente tecnológico entre las demandas de empresas en Norteamérica y la capacidad de innovación de México, **enfocada en IA.**\nEdukai S.A. de C.V., conocida comercialmente como Edukai, es una empresa tecnológica con más de 10 años de experiencia, especializada en **soluciones de inteligencia artificial, desarrollo de software a medida, automatización inteligente** y servicios de Staff Augmentation. Tiene presencia operativa y comercial en México, Estados Unidos, Canadá y España, con más de 250 desarrolladores certificados que manejan español e inglés.\nSu misión es impulsar la transformación digital mediante **soluciones tecnológicas personalizadas, con un fuerte componente de IA.** La visión de la empresa es conectar las necesidades tecnológicas de empresas en Norteamérica con la innovación mexicana, **destacando su expertise en Inteligencia Artificial.** Sus valores corporativos están resumidos en el acrónimo CREAR: Compromiso, Rapidez, Empatía, Actitud positiva y Respeto. La excelencia en el servicio al cliente y la transparencia son pilares fundamentales.\n**Casos de éxito destacados incluyen proyectos con un fuerte componente de IA como:**\n• Educare Nimbus: Plataforma educativa **con elementos de IA.**\n• Zucarmex: Implementación de sistema de calidad en tiempo real **impulsado por IA.**\n• Click Transporte: Solución para gestión turística **que utiliza IA.**\n• DKT: Plataforma médica **con inteligencia artificial.**\n• Pollo Pechugón: Desarrollo de aplicación móvil, **chatbot inteligente y CMS impulsados por IA.**\n• SEATSA: Automatización de procesos documentales **con IA.**\n• Liithos (California): Proveedor de staffing especializado **para la industria del gaming, incluyendo perfiles de IA.**\n• Proyectos en salud y finanzas con Star Médica, Sofomes, blockchain y divisas, **integrando soluciones de IA.**\nEdukai cuenta con la certificación MOPROSOFT y numerosas certificaciones individuales (Scrum Master, Product Owner, etc.). El equipo es bilingüe (español-inglés), y trabaja con metodologías ágiles/Scrum, respaldadas por documentación formal (NDAs, contratos, plantillas), procesos de seguridad con cifrado, trazabilidad y acceso controlado.\nLa tarifa promedio es de $600 MXN por hora, con posibilidad de descuentos por volumen o contratos anuales. Una cotización estándar toma aproximadamente 5 días en generarse.\nContactos directos:\n• Contacto General: contacto@canteradigital.mx\n• Ventas: Janette Cano – janette.cano@canteradigital.mx\n• Staffing: Andrea García – rh@canteradigital.mx\n• **IA: Vladimir Díaz – vladimir@canteradigital.mx (¡Este es clave!)**\n• IT/Soporte: Luis Fragoso – luis.fragoso@canteradigital.mx, soporte@canteradigital.mx\n• WhatsApp Comercial: +52 5535516913\n• Sitio Web: https://cantera.digital/\n```\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1460,
        20
      ],
      "id": "9adcc821-d938-4e65-b79a-606b071c16e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        320
      ],
      "id": "535d21af-49e7-4d75-9ae8-7fb60ce8d031",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nFhq9424Dw9eFpNq",
          "name": "OpenAi Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "676686782186843",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2680,
        -240
      ],
      "id": "c057b44a-f4ca-4a06-bba1-c6a52fe5730d",
      "name": "WhatsApp Business Cloud",
      "webhookId": "6976b0ae-f7e5-46f3-9d29-350365d2b0bd",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Recuerda considerar todas las definiciones de la calificacion de leads que esta en el prompt, para garantizar la correcta calificacion de cada uno de ellos dependiendo de la conversación con el cliente."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2240,
        480
      ],
      "id": "e87b6f3f-4a18-4e25-a49e-578d7d1fd485",
      "name": "Think"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3de5f7b2-a515-4155-b40a-1fe52ee52c87",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "61e4632b-4096-4fb7-a09b-e32f84287653",
              "leftValue": "={{ $json.messages[0].audio.voice }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8af6a9f4-1dbe-4bfd-aef0-53d0c7ad7f04",
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2680,
        440
      ],
      "id": "3d31c8f5-27f0-433c-bbe2-8ab15c8ca259",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "n8n_chat_histories_agente_edukai",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1500,
        300
      ],
      "id": "6e172890-dd8c-4854-bb95-69d9f7a552a8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1420,
        -220
      ],
      "id": "62984baa-bf23-4b5d-8126-08fbb27cc702",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_agente_edukai",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1640,
        -220
      ],
      "id": "a8d09146-0e0c-470e-8ecc-b938fa6ae7dd",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_', ``, 'string') }}",
            "empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "ubicacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ubicacion', ``, 'string') }}",
            "nivel de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nivel_de_interes', ``, 'string') }}",
            "servicio de interes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_de_interes', ``, 'string') }}",
            "necesidad detectada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('necesidad_detectada', ``, 'string') }}",
            "plazo de inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('plazo_de_inicio', ``, 'string') }}",
            "observaciones": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observaciones', ``, 'string') }}",
            "fecha de creación": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_de_creaci_n', `fecha y hora actual en la que se genera la entrada en la hoja de calculo formato (año-mes_dia hora:minuto:segundo)`, 'string') }}"
          },
          "matchingColumns": [
            "leads"
          ],
          "schema": [
            {
              "id": "nombre ",
              "displayName": "nombre ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ubicacion",
              "displayName": "ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nivel de interes",
              "displayName": "nivel de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "servicio de interes",
              "displayName": "servicio de interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "necesidad detectada",
              "displayName": "necesidad detectada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plazo de inicio",
              "displayName": "plazo de inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha de creación",
              "displayName": "fecha de creación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1780,
        480
      ],
      "id": "cb0e788f-0f63-496c-99fb-2b412482e165",
      "name": "clasificacion_leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1740,
        420
      ],
      "id": "8c1e0efa-291e-4ac3-9419-fa5d342b10bb",
      "name": "typing indicator1"
    },
    {
      "parameters": {
        "description": "call this tool to schedule a meeting ",
        "workflowId": {
          "__rl": true,
          "value": "9vBAEbP1lBMNbUVD",
          "mode": "list",
          "cachedResultName": "Agente Nova Confirmacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', `full name of the customer`, 'string') }}",
            "email_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_cliente', `email of the customer`, 'string') }}",
            "telefono_cliente": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "nombre_empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_empresa', `name of the business`, 'string') }}",
            "requerimiento_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('requerimiento_cliente', `describe dettalladamente el requerimiento y comentarios del cliente para que un analissta los procese`, 'string') }}",
            "perfilado_de_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('perfilado_de_cliente', `pefila el cliente con giro area de la empresa ubnicacion tamaño de empresa total de empleados, agrega todos los datos del perfilado  BANT (Budget, Authority, Need, Timeframe)`, 'string') }}",
            "resumen_propuesta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_propuesta', `propuesta generada por el ai al requerimiento del cliente`, 'string') }}",
            "type_lead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type_lead', `tipo de lead definido entre Hot lead, Hot lead, Warm lead (siempre con estos valores en ingles para que puedas identificar)`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nombre_empresa",
              "displayName": "nombre_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "requerimiento_cliente",
              "displayName": "requerimiento_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "perfilado_de_cliente",
              "displayName": "perfilado_de_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumen_propuesta",
              "displayName": "resumen_propuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type_lead",
              "displayName": "type_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2020,
        480
      ],
      "id": "357a6408-40af-413d-bcb6-f754f39ec1ec",
      "name": "ingreso_teams"
    },
    {
      "parameters": {
        "content": "# Agente Calificador de Leads",
        "height": 80,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -320
      ],
      "id": "3b22d2a3-658c-496c-86ab-0e0a282e6147",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "chat_id": "={{ $json.messages[0].from }}",
            "type": "human",
            "message": "={{ $json.messages[0].text.body }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2140,
        420
      ],
      "id": "2456a0ea-80dd-4d93-a836-daaef69c67f9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1580,
        -300
      ],
      "id": "524fd363-b007-43a8-90ac-0ffa96ecf84e",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "numberToDelete": 80000
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1360,
        -300
      ],
      "id": "cfb4828d-c098-468c-91ec-889ba0b394f8",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cron Job para eliminar conversaciones cada mes\n",
        "height": 400,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        -480
      ],
      "id": "32f53b8b-f5e5-4b63-bdfc-7d32ff327349",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2020,
        760
      ],
      "id": "0ce5bfaf-59c6-4b1b-8527-4440457e6367",
      "name": "Obtiene el binary file del audio de whatsapp",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2220,
        760
      ],
      "id": "f3fc791d-3ebe-45ef-9698-b2597d98bc2a",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "01db2cf9-dd5e-4da3-a6c8-a27b929e205c",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1840,
        760
      ],
      "id": "4092b4b4-1372-4ecc-977c-28414486263b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nFhq9424Dw9eFpNq",
          "name": "OpenAi Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1460,
        760
      ],
      "id": "fe7516cd-f1c2-45ef-a78f-f9ec46d996a5",
      "name": "typing indicator"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "chat_id": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "type": "human",
            "message": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1640,
        760
      ],
      "id": "ff069203-6754-4118-b8be-05b559085613",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d45c9a-45b5-48c3-83d0-8f8265026b9f",
              "name": "mensaje",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        420
      ],
      "id": "4cb2afab-61ad-4960-b642-4592b9fe29ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d104f47b-bc06-4522-9690-bdaf69823ae7",
              "name": "mensaje",
              "value": "={{ $('OpenAI').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        760
      ],
      "id": "a89f0405-f742-4331-a1b3-9d07d0212029",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "01f1a296-7ad7-4e11-b981-4801e2483b38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9bd0820f-6129-4c98-b4e4-5bd0798c36e0",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b77da66-de34-4956-bd6d-baf661fe6806",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2460,
        440
      ],
      "id": "0dbc6994-6c24-4012-bc78-c9d4f9a111ab",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Ruta de audio\n**con esta parte descargamos el audio que el cliente nos mande y lo analizamos**",
        "height": 280,
        "width": 1320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2340,
        680
      ],
      "id": "7a965c8c-fb23-496b-ab5f-fcb13be14aa5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Ruta de texto\n**Aquí obtenemos el mensaje de texto que el usuario envio**",
        "height": 280,
        "width": 1320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2300,
        340
      ],
      "id": "07577744-3c6b-48c4-9c5e-c3b77fa5c2e7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2320,
        1240
      ],
      "id": "f03ffdf0-323c-494d-9f51-e0f60ffb8612",
      "name": "WhatsApp Business Cloud3",
      "webhookId": "2f7de662-b22a-4491-b9f5-c4ab96b4897d",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1980,
        1240
      ],
      "id": "83817931-b697-45b3-8de4-8295527ba814",
      "name": "Obtiene el binary file del documento de whatsapp1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1120,
        1240
      ],
      "id": "028b2834-bd42-4973-9a2c-7113c6ed0085",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a10f36f-5bd0-4363-bc94-26e704cc390b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2728b8ab-14de-4d93-a657-589626c9a48d",
                    "leftValue": "={{ $json.mime_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "word"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1580,
        1240
      ],
      "id": "a37abc99-adc5-4eb5-b4e1-9bb79f887e5b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "name": "={{ $('WhatsApp Trigger').item.json.messages[0].document.filename }} - {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} - {{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy",
          "mode": "list",
          "cachedResultName": "Edukai - Archivos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1080,
        1460
      ],
      "id": "2bd0aa36-5fd1-4711-bf36-17d70649c434",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d104f47b-bc06-4522-9690-bdaf69823ae7",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        1320
      ],
      "id": "1d61c0d5-d430-4b87-968b-85dc24ff5fe0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Ruta de documento\n**con esta parte descargamos el documento que el cliente nos mande y lo analizamos**",
        "height": 880,
        "width": 1740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        1120
      ],
      "id": "c2a5d46c-9f75-421f-8233-170d9a9fcfec",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"mimeType\": \"application/vnd.google-apps.document\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1800,
        1480
      ],
      "id": "867ec405-bd5a-467d-b531-5218ae6aba27",
      "name": "generamos una copia de google docs del archivo original",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/export?mimeType=application/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        1480
      ],
      "id": "b0659158-0e80-4e76-803a-515201d6c2f5",
      "name": "convertimos el archivo a un pdf para sacar datos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1380,
        1480
      ],
      "id": "b2b2dbf9-266f-4e3b-a341-c53cdb34389a",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "name": "={{ $('WhatsApp Trigger').item.json.messages[0].document.filename }} - {{ $('WhatsApp Trigger').item.json.messages[0].from }} - {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} - {{ new Date() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy",
          "mode": "list",
          "cachedResultName": "Edukai - Archivos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Clxm5Dg21G9eqJWMOj9ANCOvHXqh8Qjy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2240,
        1480
      ],
      "id": "0c88bfed-5ac4-418d-8005-fe620116fb2d",
      "name": "guardamos el archivo original",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('guardamos el archivo original').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2280,
        1720
      ],
      "id": "7bb7248b-f197-4746-bc00-b02442327597",
      "name": "borramos el archivo original",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('generamos una copia de google docs del archivo original').item.json.name }}",
        "limit": 1,
        "filter": {},
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1820,
        1720
      ],
      "id": "a893bfba-1cad-4afa-a40a-28ef02fbb6a8",
      "name": "buscamos el archivo copia que procesamos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "chat_id": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "type": "human",
            "message": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1100,
        1720
      ],
      "id": "52928f4a-af54-41f1-83ab-ba594df13a91",
      "name": "guardamos al interaccion en la base de datos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61b5083b-ecfc-498f-a387-342d02d8ec36",
              "leftValue": "={{ $json.mime_type }}",
              "rightValue": "=application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "166ff38a-9d49-49fe-b5a0-f204e74302e3",
              "leftValue": "={{ $json.mime_type }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        1100
      ],
      "id": "f4b6595c-764f-4d2a-89a3-07b02ff426db",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/676686782186843/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOSUjk3gmABOx7ZAgc9TMHnn05ABRdRT5xtOoUytxvNe3iUZBy1fggu3Bmvn5B5adGm4QEmgnpZBfvZAOZBoW32hgUiZBACae0k888w7MvD6r2darX6C4yF3WnZBODzHwEbpTjZCXgfpqx2hHsA9QEHQFjZCMIGOTdstw8qOj1afxKuLVpH9oFIxjjTftJMrkicvC1aqqAZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Lo siento, en este momento solo puedo leer documentos tipo PDF o DOCX.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        1080
      ],
      "id": "ebff9835-e614-4f6f-a73a-edf6ef16ee28",
      "name": "error documento"
    },
    {
      "parameters": {
        "content": "## Borrador de memoria\nEste nodo se encarga de eliminar la memoria de un agente cuando se hacen pruebas internas",
        "height": 320,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -340
      ],
      "typeVersion": 1,
      "id": "6f35d6c8-83eb-4562-ba51-1f13ace497d7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Respuesta del agente\nEn esta sección documentamos la respuesta del agente y le mandamos el mensaje al usuario fiunal",
        "height": 300,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        -100
      ],
      "typeVersion": 1,
      "id": "2ba53867-8953-4e7c-b44f-647cf1923a1c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### Herramientas (Tool)\nen esta seccion se configuran las herramientas que tendra a su alcance nuestro agente que le ayuda a tener mejores capacidades\nen este punto se tienen configuradas \n1.- hoja de calculo donde tiene la capacidad de dar de alta leads calificadosa\n\n2.- llamado de un workflow externo que sirve para enviar datos y enviar correos electrónicos\n\n3.- Think esta herramienta ayuda a nuestro agente a ser mas eficiente",
        "height": 360,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        260
      ],
      "typeVersion": 1,
      "id": "f91dd6ef-f1fa-40b4-9fd7-833e5b2f0b58",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        780,
        20
      ],
      "id": "5faa585a-c502-44bd-aeea-007c2db9c8a0",
      "name": "Telegram Trigger",
      "webhookId": "96236cdb-788f-449b-a78f-b1bacbdab49f",
      "credentials": {
        "telegramApi": {
          "id": "mcukdpP03xMLgfnh",
          "name": "Telegram Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "Chat_id": "={{ $json.message.chat.id }}",
            "Type": "human",
            "Message": "={{ $json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chat_id",
              "displayName": "Chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        20
      ],
      "id": "3e01dbca-c609-4f2e-85e2-fb17748bcc55",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        20
      ],
      "id": "e3a0ef36-f04c-46db-ab27-d63a89497653",
      "name": "Send a text message",
      "webhookId": "438c49c4-fc6b-498b-b24f-1a85b7ed6e17",
      "credentials": {
        "telegramApi": {
          "id": "mcukdpP03xMLgfnh",
          "name": "Telegram Agente Edukai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d45c9a-45b5-48c3-83d0-8f8265026b9f",
              "name": "mensaje",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        20
      ],
      "id": "39f1b1d9-d23d-4026-a30d-7c17350a474d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY",
          "mode": "list",
          "cachedResultName": "Edukai - Calificación de Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27151383,
          "mode": "list",
          "cachedResultName": "Conversación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129wQRvNwASMkTd4BEJ4G7HmIA76j0Vft6_g8T7pzJdY/edit#gid=27151383"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.minus({ hours: 0 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\") }}",
            "Chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Type": "agent",
            "Message": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Chat_id",
              "displayName": "Chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        20
      ],
      "id": "7285e77c-201a-4933-8c78-3035a328baa5",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VrznAZQXjQh9WpvY",
          "name": "Google Sheets - Cantera"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clasificacion_leads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingreso_teams": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "typing indicator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Obtiene el binary file del audio de whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene el binary file del audio de whatsapp": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "typing indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud3": {
      "main": [
        [
          {
            "node": "Obtiene el binary file del documento de whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene el binary file del documento de whatsapp1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardamos el archivo original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "guardamos al interaccion en la base de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "generamos una copia de google docs del archivo original": {
      "main": [
        [
          {
            "node": "convertimos el archivo a un pdf para sacar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convertimos el archivo a un pdf para sacar datos": {
      "main": [
        [
          {
            "node": "borramos el archivo original",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardamos el archivo original": {
      "main": [
        [
          {
            "node": "generamos una copia de google docs del archivo original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "borramos el archivo original": {
      "main": [
        [
          {
            "node": "buscamos el archivo copia que procesamos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscamos el archivo copia que procesamos": {
      "main": [
        [
          {
            "node": "guardamos al interaccion en la base de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "error documento",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5214431866819",
            "phone_number_id": "676686782186843"
          },
          "contacts": [
            {
              "profile": {
                "name": "Rick"
              },
              "wa_id": "5214434901193"
            }
          ],
          "messages": [
            {
              "from": "5214434901193",
              "id": "wamid.HBgNNTIxNDQzNDkwMTE5MxUCABIYFjNFQjAxQzBGOTNERDcxNjg5RTJEMjQA",
              "timestamp": "1751067591",
              "type": "document",
              "document": {
                "filename": "01. Pre cotización.docx",
                "mime_type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "sha256": "VnNbPRb95Kefo8KKOLZv+IsbeNP7xKYS3xC/wAMZsIE=",
                "id": "3087009298120490"
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "920c5d29-2e22-4b1b-8193-608a6c0d29aa",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-07-01T23:56:39.072Z",
      "updatedAt": "2025-07-01T23:56:39.072Z",
      "role": "workflow:owner",
      "workflowId": "NESaPYaOPrbi2jS8",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-07-08T21:59:22.697Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-07-01T23:56:34.889Z",
      "updatedAt": "2025-07-01T23:56:34.889Z",
      "id": "jWjb6ND4ue1gFvYO",
      "name": "agente edukai"
    }
  ]
}