workflows/Agente CanteraConnect.json
{
  "createdAt": "2025-05-30T23:38:36.054Z",
  "updatedAt": "2025-06-11T18:23:07.000Z",
  "id": "nn3a04kvBNsUn5Nh",
  "name": "Agente CanteraConnect",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        -80
      ],
      "id": "7523a32f-f2e5-47b9-832c-d48388f27087",
      "name": "Webhook",
      "webhookId": "9d688cc1-940c-4281-87c8-20bbbaf4b3e2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $json.message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -80
      ],
      "id": "0a03057a-6d51-40b7-bfb7-884f8db6b7b4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Genera mensaje motivacionale breve, empático y positivo enfocado en el entorno laboral, adecuado para una aplicación institucional donde los colaboradores comparten su estado de ánimo de forma anónima.\nCrea un mensaje en base a la siguiente emoción:  {{ $json.query.emotion }}.\n\nCada mensaje debe:\nSer respetuoso y motivador, sin ser invasivo.\nTener un tono profesional pero humano.\nMantener una longitud de 2 a 3 frases.\nEnfocarse en acompañar emocionalmente al colaborador y, si es posible, invitar a la reflexión o a una pequeña acción positiva (como respirar, agradecer, compartir con un compañero, etc.).\n\nEn dicho mensaje no utilices el simbolo de comillas."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -160,
        -80
      ],
      "id": "5eb494f7-ae8c-489b-8c95-a7d05738c394",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "aecd8442-e72f-4538-a3eb-c001a0b80dc5",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-05-30T23:38:36.058Z",
      "updatedAt": "2025-05-30T23:38:36.058Z",
      "role": "workflow:owner",
      "workflowId": "nn3a04kvBNsUn5Nh",
      "projectId": "CT8jqMv2UjSvaT1W",
      "project": {
        "createdAt": "2025-05-30T21:50:01.643Z",
        "updatedAt": "2025-05-30T21:51:05.081Z",
        "id": "CT8jqMv2UjSvaT1W",
        "name": "Aaron Avila <ravila@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:01.650Z",
            "updatedAt": "2025-05-30T21:50:01.650Z",
            "role": "project:personalOwner",
            "userId": "66393108-3fbc-4a7f-81fe-752936ae60ef",
            "projectId": "CT8jqMv2UjSvaT1W",
            "user": {
              "createdAt": "2025-05-30T21:50:01.641Z",
              "updatedAt": "2025-06-06T21:35:28.657Z",
              "id": "66393108-3fbc-4a7f-81fe-752936ae60ef",
              "email": "ravila@canteradigital.mx",
              "firstName": "Aaron",
              "lastName": "Avila",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:53:17.529Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8OXBRWPKi4bVVx2f",
                "userActivated": true,
                "userActivatedAt": 1749245726426
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}