workflows/chatbot sales.json
{
  "createdAt": "2025-06-24T22:28:19.611Z",
  "updatedAt": "2025-06-27T19:00:28.000Z",
  "id": "PetXIW4fDRVoHgK5",
  "name": "chatbot sales",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "currentEnvironment",
              "value": "https://cerebro-dev-7d8f30a4b3ff.herokuapp.com"
            },
            {
              "name": "status_report",
              "value": "https://cerebro-core-050afed4ca53.herokuapp.com/sma/receive_messagebird_data"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -80,
        100
      ],
      "id": "1ec9ea27-083f-478a-9832-0d65cd17fe52"
    },
    {
      "parameters": {
        "url": "={{$node[\"Set Variables\"].json[\"currentEnvironment\"]}}/mbauth/auth_guardian?phone={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "options": {}
      },
      "name": "Auth Guardian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -740,
        -1480
      ],
      "id": "9d3bc755-2ee3-4071-b7bb-d9b014d12eac"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.number_students }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "name": "IF - Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -520,
        -1480
      ],
      "id": "b21651bb-836f-4a74-b3aa-af4318763127"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "group",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].courses[0].group }}"
            },
            {
              "name": "guardian_name",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].guardian_name }}"
            },
            {
              "name": "role",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].role }}"
            },
            {
              "name": "school_section",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].courses[0].school_section }}"
            },
            {
              "name": "student_name",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].student_name }}"
            },
            {
              "name": "tenant_id",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].tenant_id }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].user_id }}"
            },
            {
              "name": "year",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].courses[0].year }}"
            },
            {
              "name": "school_name",
              "value": "={{ $('Auth Guardian').item.json.students_data[0].school_name }}"
            },
            {
              "name": "feature"
            },
            {
              "name": "validated_whatsapp",
              "value": "={{ $('Auth Guardian').item.json.validated_whatsapp }}"
            }
          ],
          "boolean": [
            {
              "name": "multi_student",
              "value": "={{ $('Auth Guardian').item.json.multi_student }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Main Logic Placeholder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -740,
        -1220
      ],
      "id": "03048936-dfd8-4ed9-8cbd-91d7db7e218e"
    },
    {
      "parameters": {
        "collection": "user_state_sales",
        "options": {},
        "query": "={\n  \"phoneNumber\":\"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        140,
        100
      ],
      "id": "6e1e51a1-9cf2-44ba-90c9-75840a766f59",
      "name": "MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      },
      "notes": "sdi no encuentras datos lanza un mensaje de no data returned"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83be55d6-1bd8-4380-93b4-de2dd522cec4",
              "leftValue": "={{ $json._id.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        100
      ],
      "id": "98d74155-a71e-4404-b051-9e8f9f9385f9",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "user_state_sales",
        "fields": "=phoneNumber ,state, userStateId, date, type_conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1240,
        200
      ],
      "id": "ae77e6a6-ecf2-4fe5-bb61-b5a0906b4aff",
      "name": "MongoDB1",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3631f4b8-c7de-42ac-a953-b78f8b10b879",
              "name": "phoneNumber",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "961af1d0-8fba-486d-b2ff-5acdf1625b55",
              "name": "state",
              "value": "menuInicial",
              "type": "string"
            },
            {
              "id": "5c9e798a-8608-42b9-9270-1f7f94f9cff8",
              "name": "userStateId",
              "value": "={{ $json.uuid }}",
              "type": "string"
            },
            {
              "id": "2dcff05b-66b8-45a5-abc6-c4fa9f78c174",
              "name": "date",
              "value": "={{ $json.now }}",
              "type": "string"
            },
            {
              "id": "cf0f54d3-8433-4a11-9d75-9815e05a876a",
              "name": "type_conversation",
              "value": "chatbot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        200
      ],
      "id": "8c6b9021-6a79-42c7-b056-76633cf40d7c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -300
      ],
      "id": "11077335-da47-487d-aebb-39c1d3e75a1c",
      "name": "WhatsApp Trigger",
      "webhookId": "79902303-7c8b-4b2f-b91e-30dfa471b049",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "4llLGy8ampInXpaG",
          "name": "WhatsApp OAuth account cerebro sales"
        }
      }
    },
    {
      "parameters": {
        "collection": "user_state_sales",
        "options": {},
        "query": "={\n  \"phoneNumber\":\"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\"\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        1460,
        200
      ],
      "id": "0fbb77d5-28a4-4e8c-9f5b-4adb7815ef65",
      "name": "MongoDB2",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      },
      "notes": "sdi no encuentras datos lanza un mensaje de no data returned"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c21e64-5126-4a0c-a594-363efc7028d1",
              "name": "phoneNumber_finded",
              "value": "={{ $('MongoDB').item.json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "93580ec9-264e-4176-bc40-b50aaf34e1f2",
              "name": "state_finded",
              "value": "={{ $('MongoDB').item.json.state }}",
              "type": "string"
            },
            {
              "id": "ea7c6241-4996-49e5-8eea-1e84ac3d27d1",
              "name": "type_conversation_finded",
              "value": "={{ $('MongoDB').item.json.type_conversation }}",
              "type": "string"
            },
            {
              "id": "baefc287-abc1-42da-ace7-65a6859a8e25",
              "name": "student_selected",
              "value": "={{ $json.student_id }}",
              "type": "string"
            },
            {
              "id": "192aa38a-3a34-4956-aa99-29730cc29e9c",
              "name": "user_id_finded",
              "value": "={{ $('MongoDB').item.json.userStateId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        0
      ],
      "id": "d0d2813b-75ac-4160-9527-f42875feafc2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c21e64-5126-4a0c-a594-363efc7028d1",
              "name": "phoneNumber_edited",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "93580ec9-264e-4176-bc40-b50aaf34e1f2",
              "name": "state_edited",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "78d840a2-ae29-44c0-b0fc-1dcd3b44ff00",
              "name": "type_conversation_edited",
              "value": "={{ $json.type_conversation }}",
              "type": "string"
            },
            {
              "id": "a3888bbd-713a-45ba-883d-997e16a38877",
              "name": "user_state_edited",
              "value": "={{ $('MongoDB1').item.json.userStateId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        200
      ],
      "id": "7700298c-8e36-48f0-80ee-dd78bbec5ce5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1d07820e-eba7-477b-9d97-b7eafab2b218"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mensaje de voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1af6c276-b636-440b-bbe5-cbc837091bd2",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5618e653-a507-4ea4-979f-00b7f2b130d9",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da89dce8-8fe7-4db2-8fdf-ec07c5275504",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb6a1619-9e4f-4fb1-ada2-ddbc8d0e9bc3",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8bb0b189-ee63-4c74-aaaf-62d744854522",
                    "leftValue": "={{ $json.messages[0].interactive.type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mensaje replica"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        -363
      ],
      "id": "03b380d2-f30f-4499-aa9e-aeb762ad48ef",
      "name": "Switch1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Variables Wp').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Lo siento, en este momento no tengo la capacidad de interpretar notas de voz. Sin embargo, estamos trabajando para incluir esta funci贸n en futuras actualizaciones.  Gracias por tu comprensi贸n.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -700
      ],
      "id": "a36dae75-551f-4c17-a6bb-93e548ee9625",
      "name": "Error mensaje de voz"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Variables Wp').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Lo siento, en este momento no tengo la capacidad de interpretar archivos. Gracias por tu comprensi贸n.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -500
      ],
      "id": "7d158440-f31f-4b59-9d80-647e262b91a7",
      "name": "error documento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Set Variables').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Lo siento, en este momento no tengo la capacidad de interpretar imagenes. Sin embargo, estamos trabajando para incluir esta funci贸n en futuras actualizaciones. Gracias por tu comprensi贸n.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -300
      ],
      "id": "86316b3c-416c-4e62-a3a2-f74266a1b459",
      "name": "error imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Set Variables').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Lo siento, en este momento no tengo la capacidad de interpretar notas de voz. Sin embargo, estamos trabajando para incluir esta funci贸n en futuras actualizaciones.  Gracias por tu comprensi贸n.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -100
      ],
      "id": "e2e03cba-2df8-4df8-b216-34e0666c5fb3",
      "name": "error video"
    },
    {
      "parameters": {
        "jsCode": "// Importante: Esto se coloca dentro de un nodo \"Code\" en n8n\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: uuidv4(),\n      now: new Date().toLocaleString('es-MX', {\n  timeZone: 'America/Mexico_City'\n})\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ],
      "id": "74a3b06d-dfc7-4c8f-a3c8-8027c500cc31",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b562075-a550-4abf-b109-c329dec77be5",
              "leftValue": "={{ $json.type_conversation_finded || $json.type_conversation_edited }}",
              "rightValue": "chatbot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2120,
        100
      ],
      "id": "7f8dff70-c405-4787-bf48-3d95a12e225f",
      "name": "If9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b562075-a550-4abf-b109-c329dec77be5",
              "leftValue": "={{ $json.type_conversation_edited }}",
              "rightValue": "chatbot",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        -1740
      ],
      "id": "0be26412-6bb9-46e2-b176-bbb8ab2ffefb",
      "name": "If10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Set Variables').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Set Variables').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        0
      ],
      "id": "38cea0e7-13ee-4c20-b3aa-710cbd6478f1",
      "name": "typing indicator1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Set Variables').item.json.tokenWp }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\":\"read\",\n  \"message_id\":\"{{ $('WhatsApp Trigger').item.json.messages[0].id }}\",\n  \"typing_indicator\": {\n    \"type\":\"text\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        200
      ],
      "id": "31d483d2-54bc-4e54-bb3a-443243c1e8b4",
      "name": "typing indicator2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "clienteIdWp",
              "value": "669848086217681"
            },
            {
              "name": "tokenWp",
              "value": "Bearer EAAUX8tBNibUBO5oRM8xn7QQMJ949BYO49fUoAtXQZBkvdNqCZAbZC4sHTXZC0wyUBMLT2CvP0GpNdSaF3yd0F43HZC7m6ubsYitZBvzksq11tqPZC8omLgJlj5kSPHjhT1sIod9jsuW9z2i0rGu2xmIp7WD9I6ZCUhosuM31ANSp1tI554IQQbSVAyoIvoI6B1rohwZDZD"
            }
          ]
        },
        "options": {}
      },
      "name": "Variables Wp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -520,
        -300
      ],
      "id": "8cbd6a37-2a04-42b2-be31-90976fa13006"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "menuInicial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67ada602-4a37-408f-880d-29a2c0a2964d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu inicial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49660bd6-0c53-49b6-a272-353eae4acf80",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "esperando_respuesta_menu_inicial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "espera_respuesta_menu_inicial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e63b8bcb-ffae-47fd-be83-4460047ee4f3",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "espera_respuesta_menu_calendario",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "re_m_calendario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "faed8982-b54d-4cc9-85df-45c31ad392ec",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "espera_respuesta_faq",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "espera_respuesta_faq"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d560ba0-a11a-45f3-9d2d-d13049d4df4c",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "seleccion_alumno",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "seleccion_alumno"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ba99368-0eb6-48ed-af01-77c7c4768b41",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "espera_respuesta_evento_calendario",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resp evento calendario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d803248-e0f9-4478-8ff0-768db480b95d",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "espera_respuesta_evento_informacion_calendario",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mas info evento calendario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f2b8eb8-dca7-40cc-9d86-1ed8f85b1027",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "espera_respuesta_academico",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resp academico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c17a27fb-f67a-48af-ab13-a78c9f77e4f8",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "espera_respuesta_informacion_academico",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "re_inf_academico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e897eb9e-7845-4596-b7e4-6e6299e2de6c",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "proceso_justificacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "justificacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59c5aacd-d431-4d88-a74c-4511477b8cfa",
                    "leftValue": "={{ $json.state_edited ? $json.state_edited : $json.state_finded}}",
                    "rightValue": "proceso_calificaciones_estudiante",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calificaciones"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2340,
        -68
      ],
      "id": "6b61f4d1-58b2-48fe-b95c-ec8eedb5d012",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "670342e3-e699-4e30-af27-04db7bace385",
              "name": "user_id",
              "value": "={{ $('flujo de actualizaci贸n base de datos').item.json.userId }}",
              "type": "string"
            },
            {
              "id": "391a519a-9e7c-4dee-8dfc-f8b38f7f8fc7",
              "name": "information",
              "value": "={{ $('flujo de actualizaci贸n base de datos').item.json.info }}",
              "type": "string"
            },
            {
              "id": "915b68b5-3dee-44ad-82f6-65a3d9a74629",
              "name": "log_id",
              "value": "={{ $('Code1').item.json.uuid }}",
              "type": "string"
            },
            {
              "id": "f07b7183-62a0-4d4a-90a7-ad93e7acd220",
              "name": "date",
              "value": "={{ $('Code1').item.json.now }}",
              "type": "string"
            },
            {
              "id": "e5baae19-924c-4972-8a51-b4d87aad8bad",
              "name": "state",
              "value": "={{ $('flujo de actualizaci贸n base de datos').item.json.state }}",
              "type": "string"
            },
            {
              "id": "127efdf6-7193-4011-a155-fa072b66e80f",
              "name": "userStateId",
              "value": "={{ $('flujo de actualizaci贸n base de datos').item.json.userStateId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -960
      ],
      "id": "2707c8fa-70dc-41a5-956b-a5ffad36ec7a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "log_chatbot_sales",
        "fields": "user_id, information,log_id, date",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        360,
        -960
      ],
      "id": "3f1045c2-13c4-420d-8df6-06ced704adff",
      "name": "MongoDB4",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Importante: Esto se coloca dentro de un nodo \"Code\" en n8n\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: uuidv4(),\n      now: new Date().toLocaleString('es-MX', {\n  timeZone: 'America/Mexico_City'\n})\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -960
      ],
      "id": "714361d5-b6bb-4f46-aee9-34ff13710712",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "user_state_sales",
        "updateKey": "userStateId",
        "fields": "state, date",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        -80,
        -960
      ],
      "id": "8c3b9bc5-82ec-49c2-b3c1-351516f79c48",
      "name": "MongoDB5",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f07b7183-62a0-4d4a-90a7-ad93e7acd220",
              "name": "date",
              "value": "={{ $('Code1').item.json.now }}",
              "type": "string"
            },
            {
              "id": "e5baae19-924c-4972-8a51-b4d87aad8bad",
              "name": "state",
              "value": "={{ $('flujo de actualizaci贸n base de datos').item.json.state }}",
              "type": "string"
            },
            {
              "id": "127efdf6-7193-4011-a155-fa072b66e80f",
              "name": "userStateId",
              "value": "={{ $('flujo de actualizaci贸n base de datos').item.json.userStateId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        -960
      ],
      "id": "cb12897e-213d-41b1-930e-bf71480dc920",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PetXIW4fDRVoHgK5",
          "mode": "list",
          "cachedResultName": "chatbot sales"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "esperando_respuesta_menu_inicial",
            "userStateId": "={{ $json.userStateId }}",
            "userId": "={{ $json.userId }}",
            "info": "={{ $json.info }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userStateId",
              "displayName": "userStateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "info",
              "displayName": "info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3680,
        -2160
      ],
      "id": "db2c5269-a65d-4cbd-ba77-02377e42e985",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Variables Wp').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Hola! Bienvenid@ al Colegio Reims! \\n\\n驴En qu茅 te podemos ayudar? Escribe el n煤mero de la opci贸n que deseas: \\n\\n1锔 Informes\\n2锔 Ubicaci贸n \\n3锔 Costos\\n4锔 Horario Extendido\\n5锔 Programa Biling眉e\\n6锔 Cont谩ctame \\n\\n7锔 Gracias, ya estoy hablando con un asesor \"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        -2160
      ],
      "id": "82f639a3-d94d-4dfd-979c-7b3170f9b635",
      "name": "Error mensaje de voz1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "state"
            },
            {
              "name": "userId"
            },
            {
              "name": "userStateId"
            },
            {
              "name": "info"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        -960
      ],
      "id": "c4cc66de-e835-4e05-8941-1674ed6d7741",
      "name": "flujo de actualizaci贸n base de datos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a91ed21b-1b4c-40c7-9fdb-b98f3ad8d94b",
              "leftValue": "={{ $('Code2').item.json.user_state_final }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3240,
        -2160
      ],
      "id": "70814299-a8f6-4d6c-82b3-e2eeecc92625",
      "name": "revisamos si ya existia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb5bf561-971f-493b-8312-772ff7f21da3",
              "name": "userStateId",
              "value": "={{ $('Code2').item.json.user_state_final }}",
              "type": "string"
            },
            {
              "id": "1356aa24-d7f3-4700-9568-aa9b6ece9b4c",
              "name": "info",
              "value": "se presenta men煤 inicial",
              "type": "string"
            },
            {
              "id": "6b9a8f55-16af-4e52-b897-0ac1cfca6083",
              "name": "userId",
              "value": "={{ $('Code2').item.json.user_id_finded || $('Code2').item.json.user_id_edited }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3460,
        -2160
      ],
      "id": "f077b3b3-bd2e-4f68-9176-5800a3cdc48a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "// Function node\nconst idInsertado  = $json.user_id_finded;             // viene de la rama de insert\nconst idActualizado = $json.user_state_edited;      // viene de la rama de update\nreturn [{ json: {\n  ...$json,\n  user_state_final: idActualizado || idInsertado,\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        100
      ],
      "id": "edec0766-ea03-4223-84c9-0e8491026044",
      "name": "Code2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.selection }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6f7b2060-af41-4559-bbfb-7ac41ceb3091"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "informaci贸n"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5a969ce2-2d9e-400d-9058-e9686ab50d02",
                    "leftValue": "={{ $json.selection }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ubicaci贸n"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd4a50a5-f08c-4bf7-b9c2-7d4626ba2cc2",
                    "leftValue": "={{ $json.selection }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "costos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e69f0a7-cb9f-4330-99d2-e637322242a1",
                    "leftValue": "={{ $json.selection }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "horario extendido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3940,
        -1940
      ],
      "id": "bfea1332-db16-4ee4-a51f-7c1b159fe33f",
      "name": "Switch2"
    },
    {
      "parameters": {
        "jsCode": "// Nodo Function de n8n\n// Valida items[0].json.selection y retorna status con mensajes amistosos\n\n// 1. Leer la selecci贸n del nodo Set anterior\nconst raw = items[0].json.selection;\nconst sel = Number(raw);\n\n// 2. Preparar la respuesta con mensajes descriptivos\nlet result;\n\nif (Number.isNaN(sel)) {\n  // No es un n煤mero\n  result = {\n    status: 'error',\n    message: `Ups, parece que tu elecci贸n ${raw} no es un n煤mero. Por favor escribe un n煤mero del 1 al 7 para continuar.`\n  };\n} else if (!Number.isInteger(sel)) {\n  // No es entero\n  result = {\n    status: 'error',\n    message: `Veo que has ingresado ${sel}, pero necesitamos un n煤mero entero. Por favor elige un n煤mero sin decimales entre 1 y 7.`\n  };\n} else if (sel < 1 || sel > 7) {\n  // Fuera de rango\n  result = {\n    status: 'error',\n    message: `Tu selecci贸n es ${sel}, pero debe estar entre 1 y 7. Intenta de nuevo con un n煤mero dentro de ese rango.`\n  };\n} else {\n  // OK\n  result = {\n    status: 'success',\n    message: `隆Genial! Has seleccionado la opci贸n n煤mero ${sel}.`,\n    selection: sel\n  };\n}\n\n// 3. Devolver el resultado para usar en nodos siguientes\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3460,
        -1720
      ],
      "id": "9f7cee82-f0b6-4236-bd99-6c13c07d0951",
      "name": "Code3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "967bc904-1e28-4f4e-af20-bde631bb863a",
              "name": "selection",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        -1720
      ],
      "id": "44caa38a-faf3-4977-b7ee-b1736bc294b9",
      "name": "obtenemos la respuesta del menu inicial"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b2792b2-4d4e-4e50-af12-cb3d4c3e0e08",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        -1720
      ],
      "id": "afe4f66b-e131-494e-9415-67bfe5886956",
      "name": "verificamos que la seleccion sea valida"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Variables Wp').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"{{ $json.message }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        -1700
      ],
      "id": "3ff2f6dd-cf7b-4737-80dc-bf2f831a01ea",
      "name": "Error seleccion menu invalida"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4140,
        -1700
      ],
      "id": "623335ff-8469-4170-a97f-e249ae8b38f7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Variables Wp').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"Nos ubicamos en Av. Cafetales 233, Coapa, Tlalpan, CDMX. A un lado del centro de entrenamiento Nelson Vargas. \\n\\n驴Para qu茅 secci贸n est谩s interesado? \\n\\nEscribe el n煤mero de la opci贸n que deseas:\\n\\n1锔 Preescolar\\n2锔 Primaria \\n3锔 Secundaria\\n4锔 Bachillerato \\n5锔 La ubicaci贸n no me queda\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        -2520
      ],
      "id": "534ac9e6-3f4e-43e6-ad26-c280eb6ac82e",
      "name": "envio de mensaje ubicaci贸n"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PetXIW4fDRVoHgK5",
          "mode": "list",
          "cachedResultName": "chatbot sales"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "esperando_respuesta_menu_ubicacion",
            "userStateId": "={{ $json.userStateId }}",
            "userId": "={{ $json.userId }}",
            "info": "={{ $json.info }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userStateId",
              "displayName": "userStateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "info",
              "displayName": "info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4880,
        -2520
      ],
      "id": "40198380-24dc-4fc3-8c6b-a7f86f6360ff",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb5bf561-971f-493b-8312-772ff7f21da3",
              "name": "userStateId",
              "value": "={{ $('Code2').item.json.user_state_final }}",
              "type": "string"
            },
            {
              "id": "1356aa24-d7f3-4700-9568-aa9b6ece9b4c",
              "name": "info",
              "value": "se presenta ubicaci贸n y men煤",
              "type": "string"
            },
            {
              "id": "6b9a8f55-16af-4e52-b897-0ac1cfca6083",
              "name": "userId",
              "value": "={{ $('Code2').item.json.user_id_finded || $('Code2').item.json.user_id_edited }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4700,
        -2520
      ],
      "id": "53b0a1f3-6429-4275-bea6-806adf88504b",
      "name": "body datos ubicacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Variables Wp').item.json.clienteIdWp }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Variables Wp').item.json.tokenWp }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('WhatsApp Trigger').item.json.messages[0].from }}\",\n  \"text\": \"interactive\",\n  \"text\": {\n    \"body\": \"驴Para qu茅 grado est谩s interesad@? Escribe el n煤mero de la opci贸n que deseas:\\n1锔 Maternal\\n2锔 Preescolar\\n3锔 Primaria\\n4锔 Secundaria\\n5锔 Bachillerato\\n\\n-----------------------------------------------------\\n\\n6锔  Regresar al men煤 anterior:\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        -2320
      ],
      "id": "21276aeb-dd6f-431b-a022-b2b305f1b7f2",
      "name": "envio de mensaje ubicaci贸n1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PetXIW4fDRVoHgK5",
          "mode": "list",
          "cachedResultName": "chatbot sales"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "esperando_respuesta_menu_costos",
            "userStateId": "={{ $json.userStateId }}",
            "userId": "={{ $json.userId }}",
            "info": "={{ $json.info }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userStateId",
              "displayName": "userStateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "info",
              "displayName": "info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4940,
        -2320
      ],
      "id": "317d7de1-3be6-4ea1-8936-fd94951c0415",
      "name": "Execute Workflow2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb5bf561-971f-493b-8312-772ff7f21da3",
              "name": "userStateId",
              "value": "={{ $('Code2').item.json.user_state_final }}",
              "type": "string"
            },
            {
              "id": "1356aa24-d7f3-4700-9568-aa9b6ece9b4c",
              "name": "info",
              "value": "se presenta costos y men煤",
              "type": "string"
            },
            {
              "id": "6b9a8f55-16af-4e52-b897-0ac1cfca6083",
              "name": "userId",
              "value": "={{ $('Code2').item.json.user_id_finded || $('Code2').item.json.user_id_edited }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        -2320
      ],
      "id": "4dd81662-7e81-46eb-bb22-1b65041dac53",
      "name": "body datos costos"
    }
  ],
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Guardian": {
      "main": [
        [
          {
            "node": "IF - Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auth Success": {
      "main": [
        [],
        []
      ]
    },
    "Main Logic Placeholder": {
      "main": [
        []
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "typing indicator1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "typing indicator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Variables Wp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Error mensaje de voz",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typing indicator2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables Wp": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        []
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB4": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "MongoDB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB5": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Error mensaje de voz1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "obtenemos la respuesta del menu inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error mensaje de voz1": {
      "main": [
        [
          {
            "node": "revisamos si ya existia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flujo de actualizaci贸n base de datos": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "revisamos si ya existia": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "verificamos que la seleccion sea valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtenemos la respuesta del menu inicial": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificamos que la seleccion sea valida": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error seleccion menu invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error seleccion menu invalida": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [],
        [
          {
            "node": "envio de mensaje ubicaci贸n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envio de mensaje ubicaci贸n1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "envio de mensaje ubicaci贸n": {
      "main": [
        [
          {
            "node": "body datos ubicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body datos ubicacion": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envio de mensaje ubicaci贸n1": {
      "main": [
        [
          {
            "node": "body datos costos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body datos costos": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5215665139893",
            "phone_number_id": "669848086217681"
          },
          "contacts": [
            {
              "profile": {
                "name": "Rick"
              },
              "wa_id": "5214434901193"
            }
          ],
          "messages": [
            {
              "from": "5214434901193",
              "id": "wamid.HBgNNTIxNDQzNDkwMTE5MxUCABIYFjNFQjA4QzY1MDQ4QjQwNTMyMUE3NTIA",
              "timestamp": "1751040242",
              "text": {
                "body": "3"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "28180e3b-d6a2-422a-b949-ec6ea5011d43",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-24T22:28:19.616Z",
      "updatedAt": "2025-06-24T22:28:19.616Z",
      "role": "workflow:owner",
      "workflowId": "PetXIW4fDRVoHgK5",
      "projectId": "BsYMJSPwury6TiTn",
      "project": {
        "createdAt": "2025-06-06T20:24:22.277Z",
        "updatedAt": "2025-06-06T21:09:46.835Z",
        "id": "BsYMJSPwury6TiTn",
        "name": "adolfo huerta <adolfocuentas123@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-06T20:24:22.278Z",
            "updatedAt": "2025-06-06T20:24:22.278Z",
            "role": "project:personalOwner",
            "userId": "f9268337-0922-4cba-994c-bf6b40332731",
            "projectId": "BsYMJSPwury6TiTn",
            "user": {
              "createdAt": "2025-06-06T20:24:22.275Z",
              "updatedAt": "2025-06-18T03:10:17.057Z",
              "id": "f9268337-0922-4cba-994c-bf6b40332731",
              "email": "adolfocuentas123@gmail.com",
              "firstName": "adolfo",
              "lastName": "huerta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T21:09:59.993Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "k6PApGOzpLKtnZ0q",
                "userActivated": true,
                "userActivatedAt": 1749594629341,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1750216203399
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}