workflows/Clase Rick 2.json
{
  "createdAt": "2025-06-06T23:35:16.981Z",
  "updatedAt": "2025-06-06T23:38:30.000Z",
  "id": "al2px2A7AJgPdOo2",
  "name": "Clase Rick 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        580,
        240
      ],
      "id": "4cfeb6b0-b2de-4703-958c-8811af8a98a9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "id": "287e423c-dd1c-4f47-bc1c-269d4853102d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        440
      ],
      "id": "417136ed-3c20-4623-9bbc-bf808be10133",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jJxl8Af84DOCp8vtHDTgHRZNfWnhe45e",
          "mode": "list",
          "cachedResultName": "KB_glassbil",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jJxl8Af84DOCp8vtHDTgHRZNfWnhe45e"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fb42c729-5454-4185-ac75-c7ee4abba715",
      "name": "Buscamnos cambios en documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qyLYDHqds4fDuWE4",
          "name": "Google Drive Jumperaron"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name contains 'glasbil'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1jJxl8Af84DOCp8vtHDTgHRZNfWnhe45e",
            "mode": "list",
            "cachedResultName": "KB_glassbil",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1jJxl8Af84DOCp8vtHDTgHRZNfWnhe45e"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "dc457213-5ba4-4969-813a-7194c3f4b12f",
      "name": "sacamos todos los documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qyLYDHqds4fDuWE4",
          "name": "Google Drive Jumperaron"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        0
      ],
      "id": "faf8c4e5-b34b-450e-809a-b088cf14ec66",
      "name": "descargamos los documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qyLYDHqds4fDuWE4",
          "name": "Google Drive Jumperaron"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_glassy",
          "mode": "list",
          "cachedResultName": "documents_glassy"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        680,
        0
      ],
      "id": "e021a2c8-6b59-48c6-a6c5-4d6c1d0d8047",
      "name": "a単adimos documentos a la base de conocimiento",
      "credentials": {
        "supabaseApi": {
          "id": "JdSpBKWr20tzxL8D",
          "name": "Supabase Aaron"
        }
      }
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "a単adimos documentos a la base de conocimiento",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "a単adimos documentos a la base de conocimiento",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Buscamnos cambios en documentos": {
      "main": [
        [
          {
            "node": "sacamos todos los documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sacamos todos los documentos": {
      "main": [
        [
          {
            "node": "descargamos los documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descargamos los documentos": {
      "main": [
        [
          {
            "node": "a単adimos documentos a la base de conocimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2cee487a-3c74-440b-8827-7ed2b26efc05",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-06T23:35:16.984Z",
      "updatedAt": "2025-06-06T23:35:16.984Z",
      "role": "workflow:owner",
      "workflowId": "al2px2A7AJgPdOo2",
      "projectId": "CT8jqMv2UjSvaT1W",
      "project": {
        "createdAt": "2025-05-30T21:50:01.643Z",
        "updatedAt": "2025-05-30T21:51:05.081Z",
        "id": "CT8jqMv2UjSvaT1W",
        "name": "Aaron Avila <ravila@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:01.650Z",
            "updatedAt": "2025-05-30T21:50:01.650Z",
            "role": "project:personalOwner",
            "userId": "66393108-3fbc-4a7f-81fe-752936ae60ef",
            "projectId": "CT8jqMv2UjSvaT1W",
            "user": {
              "createdAt": "2025-05-30T21:50:01.641Z",
              "updatedAt": "2025-07-01T00:46:17.622Z",
              "id": "66393108-3fbc-4a7f-81fe-752936ae60ef",
              "email": "ravila@canteradigital.mx",
              "firstName": "Aaron",
              "lastName": "Avila",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:53:17.529Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8OXBRWPKi4bVVx2f",
                "userActivated": true,
                "userActivatedAt": 1749245726426,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1751330775031
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}