workflows/E-commers.json
{
  "createdAt": "2025-06-09T17:50:17.067Z",
  "updatedAt": "2025-06-09T21:05:56.000Z",
  "id": "MvkHi9IkEQizpPq2",
  "name": "E-commers",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bsmI83G4axjNv-TwpT9ED_IWH_3Ok8nt",
          "mode": "list",
          "cachedResultName": "Documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bsmI83G4axjNv-TwpT9ED_IWH_3Ok8nt"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        300
      ],
      "id": "786c69c6-4ded-4974-98a1-54750b70078b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qyLYDHqds4fDuWE4",
          "name": "Google Drive Jumperaron"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1IKG7yd5AHgds9QqW3ThdeFvwm7D1yv7X",
          "mode": "list",
          "cachedResultName": "Politica_Devoluciones.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/1IKG7yd5AHgds9QqW3ThdeFvwm7D1yv7X/edit?usp=drivesdk&ouid=113359470387026625140&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        300
      ],
      "id": "7d5b9462-312e-49ae-a6b4-ebd77029a9a1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qyLYDHqds4fDuWE4",
          "name": "Google Drive Jumperaron"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_ecommerce",
          "mode": "list",
          "cachedResultName": "documents_ecommerce"
        },
        "options": {
          "queryName": "match_documents_ecommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        400,
        300
      ],
      "id": "24987817-601d-4e5b-b473-a1567f9ad617",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "JdSpBKWr20tzxL8D",
          "name": "Supabase Aaron"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        480
      ],
      "id": "5e7b51bb-9660-4c5d-b99d-004970f65e1c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        540,
        460
      ],
      "id": "26988d86-cfc5-40b7-a594-938d4f3f2c02",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        520,
        620
      ],
      "id": "95f869ad-d5b0-4f05-9f94-070da2e5d67b",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        -440
      ],
      "id": "efdf9ad0-c265-4636-8897-de8c7a8f560b",
      "name": "When chat message received",
      "webhookId": "01157d9b-ef43-44e0-90b5-8dabb1f822a8"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "#Rol\nEres un asistente capaz de contestar preguntas del usuario basándote en información sobre el Ecommerce.\n\n#Tares\n- Tu función principal es responder al mensaje del usuario.\n\n- Utiliza información de la herramienta ListaProductos para consultas sobre productos del Ecommerce\n\n- Utiliza información de la herramienta Documentos_Ecommerce para cualquier consulta relacionada con el funcionamiento del Ecommerce.\n\n#Notas\n- Tus respuestas deben de ser claras y concisas, no debes exceder los 200 caracteres.\n- Si el cliente decide comprar el producto puedes pasarle el enlace para que pague. El enlace es http://ivanalsigo.com y debe de ir siempre en un hipervínculo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        180,
        -440
      ],
      "id": "f5553339-24fb-418f-ac02-5904652e5e8e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -260
      ],
      "id": "abfc4111-7c24-434c-8d6f-07d0e144aaa7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        -260
      ],
      "id": "40e347b8-413e-4858-861a-6ce6b1bce514",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        -160
      ],
      "id": "f4464f06-1a7b-4318-9523-e4760e2fc72b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents_ecommerce",
          "mode": "list",
          "cachedResultName": "documents_ecommerce"
        },
        "options": {
          "queryName": "match_documents_ecommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        600,
        -160
      ],
      "id": "18024205-02ad-4e5d-8951-ffe454d5fb26",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "JdSpBKWr20tzxL8D",
          "name": "Supabase Aaron"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "6472c110-6fb2-4c78-a530-4c404206a41e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Q8WQKibB08nTTio4",
          "name": "OpenAi account CanteraConnect"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FwdSvpK2yzJWVg-CJ4y1x47ygRPXgltt3GlkrmKS33U",
          "mode": "list",
          "cachedResultName": "Productos ecommerce",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FwdSvpK2yzJWVg-CJ4y1x47ygRPXgltt3GlkrmKS33U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FwdSvpK2yzJWVg-CJ4y1x47ygRPXgltt3GlkrmKS33U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        440,
        -220
      ],
      "id": "9edc5f01-fdfb-4157-b595-986c1a6b8cf3",
      "name": "ListaProductos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T1b495TNgv7GQdA8",
          "name": "Google Sheets Jumperaron"
        }
      }
    },
    {
      "parameters": {
        "description": "Esta herramienta va a dar información sobre el funcionamiento del Ecommerce."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        720,
        -300
      ],
      "id": "39a4bb24-1dff-4a27-9d99-4b00023a75c8",
      "name": "Documentos_Ecommerce"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Documentos_Ecommerce",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Documentos_Ecommerce",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ListaProductos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Documentos_Ecommerce": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ae668559-8e61-4882-8523-cbfb6d96aa1a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-09T17:50:17.070Z",
      "updatedAt": "2025-06-09T17:50:17.070Z",
      "role": "workflow:owner",
      "workflowId": "MvkHi9IkEQizpPq2",
      "projectId": "CT8jqMv2UjSvaT1W",
      "project": {
        "createdAt": "2025-05-30T21:50:01.643Z",
        "updatedAt": "2025-05-30T21:51:05.081Z",
        "id": "CT8jqMv2UjSvaT1W",
        "name": "Aaron Avila <ravila@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:01.650Z",
            "updatedAt": "2025-05-30T21:50:01.650Z",
            "role": "project:personalOwner",
            "userId": "66393108-3fbc-4a7f-81fe-752936ae60ef",
            "projectId": "CT8jqMv2UjSvaT1W",
            "user": {
              "createdAt": "2025-05-30T21:50:01.641Z",
              "updatedAt": "2025-06-06T21:35:28.657Z",
              "id": "66393108-3fbc-4a7f-81fe-752936ae60ef",
              "email": "ravila@canteradigital.mx",
              "firstName": "Aaron",
              "lastName": "Avila",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:53:17.529Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "ci-cd",
                  "data-syncing"
                ],
                "companySize": "100-499",
                "companyType": "saas",
                "role": "engineering",
                "reportedSource": "google"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8OXBRWPKi4bVVx2f",
                "userActivated": true,
                "userActivatedAt": 1749245726426
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}