workflows/GEP - DIPUTADOS.json
{
  "createdAt": "2025-05-13T17:06:21.823Z",
  "updatedAt": "2025-05-13T20:51:15.000Z",
  "id": "DZvFev4uyG0jhbtD",
  "name": "GEP - DIPUTADOS",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -9180,
        3700
      ],
      "id": "70d93986-2fdd-4ee6-98c5-d7f13af1d710",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -6700,
        3100
      ],
      "id": "4102f4e4-a386-48a7-9f17-17e5c6d069a4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=http://135.232.111.170:11235/task/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 14526931"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7920,
        3640
      ],
      "id": "e563c938-93fb-44c5-b767-994d2938d023",
      "name": "WEBSCRAPING RESULTADOS",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://135.232.111.170:11235/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 14526931"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "https://gaceta.diputados.gob.mx/gp_hoy.html"
            },
            {
              "name": "priority",
              "value": "10"
            },
            {
              "name": "max_depth",
              "value": "20"
            },
            {
              "name": "include_external",
              "value": "False"
            },
            {
              "name": "pdf",
              "value": "Ttrue"
            },
            {
              "name": "screenshot",
              "value": "False"
            },
            {
              "name": "fit_markdown",
              "value": "True"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8440,
        3640
      ],
      "id": "2e0fdb73-7906-468c-8fff-a20bee07a50a",
      "name": "WEBSCRAPING Crea JOB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87b5ff09-f859-493d-8a7e-00753aa3a649",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7680,
        3640
      ],
      "id": "bf57a417-9fcc-4d8b-a5b4-27c20bf08d61",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8220,
        3640
      ],
      "id": "35aadcbc-1bb7-4803-8eb4-5775a84dcfcb",
      "name": "Wait",
      "webhookId": "3e6308b0-3316-4c43-9721-d7f070d66e7c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3277ad19-1e92-4e24-8e69-0c89e6c36347",
              "name": "task_id",
              "value": "={{ $('WEBSCRAPING Crea JOB').item.json.task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6900,
        3980
      ],
      "id": "d1dc1b92-d7a0-4ca3-9672-36df128cb821",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f71643d9-3ff0-42ea-be74-f947562af40a",
              "leftValue": "={{ $json.href }}",
              "rightValue": "={{ $('If').item.json.result.url }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "29bc6422-8e4b-4199-a1af-19faee0aa49e",
              "leftValue": "={{ $json.href }}",
              "rightValue": "#",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -6000,
        3320
      ],
      "id": "0cb82722-aea2-4f41-aa2d-c13c2d25d608",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5460,
        2800
      ],
      "id": "a417a837-1b41-4f8e-b042-c02a10d55b15",
      "name": "html files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5760,
        3400
      ],
      "id": "0ab89ad9-f23e-4596-8a1d-ce94577a7b12",
      "name": "pdf"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.result.markdown }}"
            },
            {
              "content": "=## Rol:\nEres un Analista Político Senior asignado a la Cámara de Diputados de México. Inluye en los listados y analisis todaslas comisiones, personas, politicos y ttemas, leyes y similares. los tags y resumenes deben ser completos y literales. cuando hagas una interpretacion hazlo que quede claro, cuando cites algo textual colocalo entre comillas simples\n\n## Tarea Principal:\nRealizar un análisis exhaustivo de la Gaceta Parlamentaria de la Cámara de Diputados de México.\n\n## Fuente Específica:\nEnfócate en la Gaceta Parlamentaria cuya fecha de publicación corresponde al **{{ $now.minus({ hours: 2 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy 'a las 'HH' horas y 'mm' minutos  \") }} ** (Nota: Se asume que esta fecha corresponde al día de publicación de la Gaceta que deseas analizar, usualmente las gacetas cubren las actividades de un día específico o se publican en una fecha concreta). Si existen múltiples números para esa fecha, utiliza el más reciente o el principal.\n\n## Objetivo:\nExtraer información clave, resumir actividades relevantes y proporcionar un análisis sintético desde una perspectiva política informada.\n\n## Formato de Entrega:\nPresenta tu análisis de forma estructurada, utilizando los siguientes apartados:\n\n### 1. Identificación de la Gaceta:\n* **Nombre Oficial:** (Ej: Gaceta Parlamentaria)\n* **Año:**\n* **Número:**\n* **Fecha de Publicación:** (La fecha impresa en la Gaceta)\n\n### 2. Contenidos Relevantes:\n* **Anexos:** Lista detallada incluyendo Título del anexo y una breve Descripción de su contenido.\n* **Intervenciones Destacadas:** Resumen conciso de las intervenciones clave. Incluye:\n    * Orador (Nombre, Apellido, Grupo Parlamentario).\n    * Tema central de la intervención.\n    * Puntos o argumentos principales.\n* **Proyecto(s) de Acta:** Descripción detallada del contenido del proyecto de acta de la sesión anterior (si se incluye en esta Gaceta).\n* **Convocatorias Emitidas:** Listado claro de las convocatorias publicadas (a qué órgano convocan, fecha/hora, propósito).\n* **Invitaciones Registradas:** Listado de las invitaciones formales mencionadas.\n\n-Apertura de la sesión\n-Lectura del orden del día\n-Intervención desde la tribuna en lengua indígena\n-Discusión de dictámenes\n-Lectura y aprobación de las actas de las sesiones anteriores\n-Comunicaciones\n-Declaratoria de publicidad de dictámenes\n-Turno a Comisiones de las iniciativas y proposiciones con punto de acuerdo\n-Clausura de la sesión\n\n### 3. Análisis Político:\n* **Sinopsis del Día:** Elabora un resumen ejecutivo (máximo 2 párrafos) de los acontecimientos parlamentarios más significativos del día cubierto por la Gaceta. Redáctalo con un tono de analista político, destacando posibles implicaciones, negociaciones subyacentes o tendencias observadas.\n* **Temas / Propuestas Clave (Titulares Sugeridos):** Identifica 2-3 asuntos de alto impacto o interés político tratados en la Gaceta. Para cada uno:\n    * Describe brevemente el asunto.\n    * Sugiere un titular corto y llamativo (como si fuera para un informe interno o nota de prensa).\n* **Actores Relevantes:** Lista de personas (diputados, funcionarios, etc.) con participación significativa (intervenciones, propuestas, menciones importantes). Incluye:\n    * Nombre Completo\n    * Cargo (Diputado/a, Senador/a si aplica, Secretario/a, etc.)\n    * Grupo Parlamentario o Partido Político.\n* **Grupos Parlamentarios Activos:** Lista de los partidos políticos o grupos parlamentarios con mayor actividad o menciones relevantes en la Gaceta.\n\n- Alertas y amenazas.\n- internvenciones por tema y hora , y duracion\n\n### 4. Categorización (Tags):\n* **Por Tema:** (Ej: Seguridad, Economía, Salud, Reforma Energética, Reglamento Interno)\n* **Por Comisión:** (Ej: Puntos Constitucionales, Hacienda, Gobernación, Energía)\n* **Por Ley / Norma:** (Ej: Ley de Ingresos, Código Penal Federal, Ley General de Salud)\n\n## Instrucción Final:\nBasa tu análisis exclusivamente en la información contenida o referenciada dentro de la Gaceta Parlamentaria especificada. Si no encuentras información para alguna sección, indícalo explícitamente (Ej: \"No se encontraron invitaciones registradas en esta Gaceta\").",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -6100,
        3680
      ],
      "id": "1076fe0f-6a54-47eb-a0b2-2a224baf3062",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "fecha_hora",
              "description": "fecha y de la  gaceta",
              "required": true
            },
            {
              "name": "tags",
              "description": "listados de temas separados por coma",
              "required": true
            },
            {
              "name": "personas",
              "description": "listado de politicos, con nombre y apellid, separados por coma",
              "required": true
            },
            {
              "name": "partidos",
              "description": "partidos participantes, separados por coma",
              "required": true
            },
            {
              "name": "comisiones",
              "description": "lista de comisiones, separodos por coma",
              "required": true
            },
            {
              "name": "leyes",
              "description": "listado de leyes mencionadas separadas por coma",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -5540,
        3680
      ],
      "id": "015d79ab-292b-4764-9b1c-ec3999a7df00",
      "name": "Information Extractor",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5440,
        3900
      ],
      "id": "b9e5b8b8-8474-488a-95d2-23eac6c9e61e",
      "name": "OpenAI Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $now.minus({ hours: 2 }).setLocale('es').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm\" ) }} ",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1k0bt1FV2yMV1XgRAtGYdCD3mmJ-ZkwQZ",
          "mode": "list",
          "cachedResultName": "Cámara de Diputados - Gaceta Parlamentaria",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1k0bt1FV2yMV1XgRAtGYdCD3mmJ-ZkwQZ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6700,
        3320
      ],
      "id": "b1238224-adea-48fa-94e7-9c548cf4f047",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5060,
        3400
      ],
      "id": "84d6f231-830d-4eb2-892d-85e6d57dd68e",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Filter').item.json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5280,
        3400
      ],
      "id": "14e89e01-1069-483f-87f5-6b377f195c6c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -6220,
        3200
      ],
      "id": "e075055c-3a71-4ca5-910c-6b3175f154d0",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4600,
        2780
      ],
      "id": "45faebec-e3a5-46a9-a2ff-5eb374ab64e3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3880,
        2880
      ],
      "id": "a178d5d8-2ef2-4924-b23d-684d980ee29d",
      "name": "Wait2",
      "webhookId": "73756217-881e-45cf-b361-6ac642f93887"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://135.232.111.170:11235/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 14526931"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "urls",
              "value": "={{ $json.href }}"
            },
            {
              "name": "priority",
              "value": "10"
            },
            {
              "name": "max_depth",
              "value": "20"
            },
            {
              "name": "include_external",
              "value": "False"
            },
            {
              "name": "pdf",
              "value": "Ttrue"
            },
            {
              "name": "screenshot",
              "value": "False"
            },
            {
              "name": "fit_markdown",
              "value": "True"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4240,
        2900
      ],
      "id": "3f0d870a-e8b6-4398-aa32-0703d25e40b8",
      "name": "WEBSCRAPING Crea JOB - Páginas Internas1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=http://135.232.111.170:11235/task/{{ $('WEBSCRAPING Crea JOB - Páginas Internas1').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 14526931"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3580,
        2880
      ],
      "id": "f6530380-1687-4719-9470-73c25377209a",
      "name": "WEBSCRAPING RESULTADOS- Internos1",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87b5ff09-f859-493d-8a7e-00753aa3a649",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "57233517-ddd2-48cc-97b8-13c9ad64395e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        2860
      ],
      "id": "6923c2db-4171-41d2-9e6b-b9ade5bb1d7d",
      "name": "If2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -800,
        3240
      ],
      "id": "75b367f7-d074-48ff-9ccb-3de1fa2191b7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Reservas al dictamen",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -780,
        3060
      ],
      "id": "9362a208-2efb-4325-81d7-d13f90ea4c1f",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -420,
        3140
      ],
      "id": "e4dc5091-ca12-494e-ade6-1340c849a33c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        2940
      ],
      "id": "0dbdf7ba-f150-4463-8b0e-d550d3d5069c",
      "name": "html files1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -60,
        3180
      ],
      "id": "51d7f468-c46d-4f05-be69-7375ec5b11ce",
      "name": "pdf1"
    },
    {
      "parameters": {
        "name": "={{ $('pdf1').item.json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('pdf1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        660,
        3140
      ],
      "id": "5872e202-c7d2-4a8c-ba6d-0ab4d7224ecf",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        3180
      ],
      "id": "b201d7e0-f8d7-4db1-a986-0cc32d0354b4",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        500,
        3360
      ],
      "id": "4d1e69af-b275-47df-81cf-dba3d17d8613",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "extrae de este documento :\n\n- titulo \n- contenido\n- resumen\n- analisis\n- tags de partidos politicos, separados por coma\n- tags de temas, separados por coma\n- tags de leyes , separadospor coma\n- tags de comisiones separados por coma \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        720,
        3360
      ],
      "id": "ae820fa0-bf1f-464c-8c4d-7bcd5491abb6",
      "name": "OpenAI1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('HTTP Request1').item.json.id }}",
        "title": "=Análisis -   {{ $('HTTP Request1').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1080,
        3360
      ],
      "id": "71817761-968e-426f-9251-d2e515f63bd4",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI1').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- Cantidad de páginas: {{ $('Extract from File').item.json.numpages }}\n- Fecha Creación por Autor: {{ $('Extract from File').item.json.metadata['xmp:createdate'] }}\n- Fecha Última Modificacion : {{ $('Extract from File').item.json.metadata['xmp:modifydate'] }}\n- Tipo de Documento: {{ $('HTTP Request1').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1300,
        3360
      ],
      "id": "de63bddf-aa28-4c1a-8f45-b636afac5576",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -940,
        2240
      ],
      "id": "e2089d56-80f9-4834-8014-1bbccb77c5e8",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Iniciativas",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -920,
        2020
      ],
      "id": "be25b665-dccf-4506-bdc4-f063d37d95d8",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -720,
        2140
      ],
      "id": "68384bcd-e213-45d7-857d-f0600a03b8eb",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -460,
        2040
      ],
      "id": "5a2d7906-2075-4fad-8461-aaece7e53950",
      "name": "html files2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -460,
        2220
      ],
      "id": "cacd2d9c-7de5-4c47-b244-b7584b905e43",
      "name": "pdf2"
    },
    {
      "parameters": {
        "name": "={{ $('pdf2').item.json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('pdf2').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        2240
      ],
      "id": "dc4f13a9-f564-46a3-93cf-7138c546cf20",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        2220
      ],
      "id": "97435bbd-48e4-46c6-a98a-ae1bda23345a",
      "name": "HTTP Request2",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        2440
      ],
      "id": "4be3f6c3-1650-479e-a55b-f55f6f48b5f1",
      "name": "Extract from File1",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones, separando por cada iniciativa detectada:\n- titulo \n- contenido\n- resumen\n- sinopsis\n- analisis politico \n- dato del (los) promoventes (diputados)\n- tags leyes : de leyes mencionadas separadas por coma\n- tags personas: de personas mencionadas separadas por coma\n- tags temas : de temas mencionadas separadas por coma\n- tags partidos politcos: de partidos politicos o grupos  parlamentarios mencionadas separadas por coma\n\n\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        480,
        2440
      ],
      "id": "6e0850fe-6a2c-4ca8-b872-4b3ee5ec1f97",
      "name": "OpenAI2",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('HTTP Request2').item.json.id }}",
        "title": "=Análisis -  {{ $('Extract from File1').item.json.info.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        840,
        2440
      ],
      "id": "75969140-4694-4bb2-9401-4c8a2d0142a6",
      "name": "Google Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI2').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- Cantidad de páginas: {{ $('Extract from File1').item.json.numpages }}\n- Fecha Creación por Autor: {{ $('Extract from File1').item.json.metadata['xmp:createdate'] }}\n- Fecha Última Modificacion : {{ $('Extract from File1').item.json.metadata['xmp:modifydate'] }}\n- Tipo de Documento: {{ $('HTTP Request2').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1060,
        2440
      ],
      "id": "998f1152-8cc5-4c2a-933b-361c20867f93",
      "name": "Google Docs3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        2040
      ],
      "id": "8bffbabd-dcbd-4477-b49b-e80483102788",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones, separando por cada iniciativa detectada:\n- titulo \n- contenido\n- resumen\n- sinopsis\n- analisis politico \n- dato del (los) promoventes (diputados)\n- tags leyes : de leyes mencionadas separadas por coma\n- tags personas: de personas mencionadas separadas por coma\n- tags temas : de temas mencionadas separadas por coma\n- tags partidos politcos: de partidos politicos o grupos  parlamentarios mencionadas separadas por coma\n\n\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        2020
      ],
      "id": "4be3a2a2-ebac-48dc-9671-8591c75142f6",
      "name": "OpenAI3",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('html files2').item.json.id }}",
        "title": "=Análisis -  {{ $('html files2').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        480,
        2020
      ],
      "id": "2a4d1c74-c439-4739-94f6-6f16327e7e56",
      "name": "Google Docs4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI3').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- link del documento: {{ $('html files2').item.json.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        740,
        2020
      ],
      "id": "18bbba67-aa53-460a-a8fe-6b5326830d5a",
      "name": "Google Docs5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $('html files2').item.json.href }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('html files2').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        1800
      ],
      "id": "9e92146a-6dfd-4ebf-b719-d273b2a9c2db",
      "name": "Google Drive6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones:\n- titulo \n- contenido\n- resumen\n- sinapsis\n- analisis politicos \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        140,
        2940
      ],
      "id": "437fafec-7685-4abd-ac33-7062ee903471",
      "name": "OpenAI4",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('html files1').item.json.id }}",
        "title": "=Análisis -  {{ $('html files1').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        580,
        2940
      ],
      "id": "86fb3399-13ea-459b-a61f-5fd9720bcb53",
      "name": "Google Docs6",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI4').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- link del documento: {{ $('html files1').item.json.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        2940
      ],
      "id": "2519007b-c509-4f5a-8570-731dcfc570a0",
      "name": "Google Docs7",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $('html files1').item.json.href }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('html files1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        2720
      ],
      "id": "ef5ad368-94a6-40b8-904d-362eb544af9e",
      "name": "Google Drive7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result.url.substring($json.result.url.lastIndexOf('-') + 1, $json.result.url.lastIndexOf('.html')) }}",
                    "rightValue": "I",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "058350e5-ca0c-4a43-966b-87a88c7966b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "I"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8419438f-eee0-4aa7-910b-79f969dec0fc",
                    "leftValue": "={{ $json.result.url.substring($json.result.url.lastIndexOf('-') + 1, $json.result.url.lastIndexOf('.html')) }}",
                    "rightValue": "O",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "O"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2a923e6-fa94-45b2-8d4e-2429ba8c3d37",
                    "leftValue": "={{ $json.result.url.substring($json.result.url.lastIndexOf('-') + 1, $json.result.url.lastIndexOf('.html')) }}",
                    "rightValue": "II",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "II"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4776c791-9e57-4a41-8b4f-41ec17f940b5",
                    "leftValue": "={{ $json.result.url.substring($json.result.url.lastIndexOf('-') + 1, $json.result.url.lastIndexOf('.html')) }}",
                    "rightValue": "III",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "III"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a121ca6-2d50-46a6-99d8-2135c5c24b39",
                    "leftValue": "={{ $json.result.url.substring($json.result.url.lastIndexOf('-') + 1, $json.result.url.lastIndexOf('.html')) }}",
                    "rightValue": "RA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b805768-7f56-45b6-ab02-80f056547a84",
                    "leftValue": "={{ $json.result.url.substring($json.result.url.lastIndexOf('-') + 1, $json.result.url.lastIndexOf('.html')) }}",
                    "rightValue": "OV",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2180,
        2300
      ],
      "id": "cf2179f2-14ab-45de-8b62-2ccaec3ff3ca",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -800,
        4060
      ],
      "id": "e1e6eef4-ecd4-4c6b-b8a9-f66190443d8a",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Proposiciones",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -780,
        3880
      ],
      "id": "d83d77f4-78a0-4956-8fd4-ba3268ff0b8d",
      "name": "Google Drive8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -420,
        3960
      ],
      "id": "873dbbc5-17a3-4789-ae99-fd8e35bbcba5",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -120,
        3880
      ],
      "id": "48c9fe07-b4f9-41ef-98c6-6e3795b16891",
      "name": "html files3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -140,
        4080
      ],
      "id": "8f0e56a2-b954-41c1-9dd2-5d94c72f3387",
      "name": "pdf3"
    },
    {
      "parameters": {
        "name": "={{ $('pdf3').item.json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('pdf3').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        4080
      ],
      "id": "92849e77-9b03-4285-9a7b-945999f72995",
      "name": "Google Drive9",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        4080
      ],
      "id": "da478175-97cf-4848-9f1e-3947782e2e24",
      "name": "HTTP Request4",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        360,
        4300
      ],
      "id": "9a5d745e-4da2-4524-ae01-768ea79fca6b",
      "name": "Extract from File2",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "extrae de este documento :\n\n- titulo \n- contenido\n- resumen\n- analisis\n- tags de partidos politicos, separados por coma\n- tags de temas, separados por coma\n- tags de leyes , separadospor coma\n- tags de comisiones separados por coma \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        4300
      ],
      "id": "1d414a77-c5b0-4373-bbde-662cfe4060f3",
      "name": "OpenAI5",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('HTTP Request4').item.json.id }}",
        "title": "=Análisis -  {{ $('Extract from File2').item.json.info.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        940,
        4300
      ],
      "id": "66b6e1e1-90d3-428f-93b6-aa9ca43d9879",
      "name": "Google Docs8",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI5').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- Cantidad de páginas: {{ $('Extract from File2').item.json.numpages }}\n- Fecha Creación por Autor: {{ $('Extract from File2').item.json.metadata['xmp:createdate'] }}\n- Fecha Última Modificacion : {{ $('Extract from File2').item.json.metadata['xmp:modifydate'] }}\n- Tipo de Documento: {{ $('HTTP Request4').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1160,
        4300
      ],
      "id": "79936557-d69f-41f6-a974-d2e760c9fb22",
      "name": "Google Docs9",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        3880
      ],
      "id": "06f9bba8-82f7-41f6-85e4-2a6203cad4bd",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones:\n- titulo \n- contenido\n- resumen\n- sinapsis\n- analisis politicos \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        3880
      ],
      "id": "977a35a1-b220-413f-9a0c-063bdb71335e",
      "name": "OpenAI6",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('html files3').item.json.id }}",
        "title": "=Análisis -  {{ $('html files3').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        3880
      ],
      "id": "454aa84e-1125-46cc-91b7-c3f8502bf894",
      "name": "Google Docs10",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI6').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- link del documento: {{ $('html files3').item.json.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        940,
        3880
      ],
      "id": "1ae944e1-e309-4dfc-8767-383b5632e69f",
      "name": "Google Docs11",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $('html files3').item.json.href }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('html files3').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        340,
        3740
      ],
      "id": "eb7e5f5e-19a0-489c-b522-20926549540e",
      "name": "Google Drive10",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1000,
        1340
      ],
      "id": "cae5326b-4ceb-4a7f-b600-9d5a410bca77",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Orden del Día",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -980,
        1120
      ],
      "id": "12aafe86-f792-4f31-8920-a7098b3f9bd8",
      "name": "Google Drive11",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -780,
        1240
      ],
      "id": "568bb443-7dae-4652-808a-b016ecfed795",
      "name": "Merge4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -520,
        1140
      ],
      "id": "83dd0afb-2c42-4f27-aff0-d84324781cca",
      "name": "html files4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -520,
        1320
      ],
      "id": "f5a48661-a5c2-4030-a877-543479e0a907",
      "name": "pdf4"
    },
    {
      "parameters": {
        "name": "={{ $('pdf4').item.json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('pdf4').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        1340
      ],
      "id": "0e548f59-0f7b-4bef-941a-e067fcde7336",
      "name": "Google Drive12",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        1320
      ],
      "id": "75ab8aea-3b4e-49c8-aebe-1a9a0cd3587a",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        1540
      ],
      "id": "bbb4bdf7-b4e0-43d3-a3f2-a9272e3be701",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "extrae de este documento :\n\n- titulo \n- contenido\n- resumen\n- analisis\n- tags de partidos politicos, separados por coma\n- tags de temas, separados por coma\n- tags de leyes , separadospor coma\n- tags de comisiones separados por coma \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        420,
        1540
      ],
      "id": "5c8e929e-3af4-42cc-a8e8-92f1fe8d842f",
      "name": "OpenAI7",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('HTTP Request6').item.json.id }}",
        "title": "=Análisis -  {{ $('Extract from File3').item.json.info.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        780,
        1540
      ],
      "id": "d085909d-82df-45cc-8f56-efb4780d1c63",
      "name": "Google Docs12",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI7').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- Cantidad de páginas: {{ $('Extract from File3').item.json.numpages }}\n- Fecha Creación por Autor: {{ $('Extract from File3').item.json.metadata['xmp:createdate'] }}\n- Fecha Última Modificacion : {{ $('Extract from File3').item.json.metadata['xmp:modifydate'] }}\n- Tipo de Documento: {{ $('HTTP Request6').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1000,
        1540
      ],
      "id": "fd555354-fd12-4aff-99ad-b1c00f6f8fa8",
      "name": "Google Docs13",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        1140
      ],
      "id": "c5243834-7300-4c8e-a1cc-74fc8429df9f",
      "name": "HTTP Request7",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones:\n- titulo \n- contenido\n- resumen\n- sinapsis\n- analisis politicos \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        1120
      ],
      "id": "1a03fb17-ade7-4f09-8881-be5552014f53",
      "name": "OpenAI8",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('html files4').item.json.id }}",
        "title": "=Análisis -  {{ $('html files4').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        420,
        1120
      ],
      "id": "dde59e84-f330-40c4-a25d-dfa1fdb71694",
      "name": "Google Docs14",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI8').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- link del documento: {{ $('html files4').item.json.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        680,
        1120
      ],
      "id": "9d9ddd7b-cd2a-4bd0-91fb-07830be37a6f",
      "name": "Google Docs15",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $('html files4').item.json.href }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('html files4').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        100,
        900
      ],
      "id": "fa4860cf-5ba8-4d3a-96a9-2c6e8feab239",
      "name": "Google Drive13",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1100,
        440
      ],
      "id": "69a46264-30ff-46c5-8752-559b120b5d31",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Comunicaciones Oficiales",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1080,
        220
      ],
      "id": "9bf83c0c-32c5-4796-826a-ce88e9a4acd0",
      "name": "Google Drive14",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -880,
        340
      ],
      "id": "5d836cc7-b782-4259-a19e-130a168c4120",
      "name": "Merge5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -620,
        240
      ],
      "id": "f96cce7b-1e8e-4d09-b0b9-36ff61e8dd9d",
      "name": "html files5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -620,
        420
      ],
      "id": "e279de2e-f7d9-4851-b8e1-464494169f0a",
      "name": "pdf5"
    },
    {
      "parameters": {
        "name": "={{ $('pdf5').item.json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('pdf5').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        440
      ],
      "id": "533ab13e-dfe5-4baf-9207-d69b3bf1e1d4",
      "name": "Google Drive15",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        420
      ],
      "id": "95692f8d-a30d-4eaa-8219-6a77ecdb9c27",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        60,
        640
      ],
      "id": "dbd44a0e-2b5e-47bc-9223-fba2095bb306",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "extrae de este documento :\n\n- titulo \n- contenido\n- resumen\n- analisis\n- tags de partidos politicos, separados por coma\n- tags de temas, separados por coma\n- tags de leyes , separadospor coma\n- tags de comisiones separados por coma \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        640
      ],
      "id": "dbe6bf51-5cad-401d-8058-f9f764e83fcd",
      "name": "OpenAI9",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('HTTP Request8').item.json.id }}",
        "title": "=Análisis -  {{ $('Extract from File4').item.json.info.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        680,
        640
      ],
      "id": "91f32689-5acd-4861-8b27-b8a013176e5b",
      "name": "Google Docs16",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI9').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- Cantidad de páginas: {{ $('Extract from File4').item.json.numpages }}\n- Fecha Creación por Autor: {{ $('Extract from File4').item.json.metadata['xmp:createdate'] }}\n- Fecha Última Modificacion : {{ $('Extract from File4').item.json.metadata['xmp:modifydate'] }}\n- Tipo de Documento: {{ $('HTTP Request8').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        900,
        640
      ],
      "id": "c8c0516f-d701-4afa-b6f0-ff34fd0d88fa",
      "name": "Google Docs17",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        240
      ],
      "id": "905575d8-4a48-4f44-80db-9a372fd734c4",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones:\n- titulo \n- contenido\n- resumen\n- sinapsis\n- analisis politicos \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -100,
        220
      ],
      "id": "22deab33-bc7f-4481-9f76-5fc97456c8a6",
      "name": "OpenAI10",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('html files5').item.json.id }}",
        "title": "=Análisis -  {{ $('html files5').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        320,
        220
      ],
      "id": "bda9d84f-bc76-432e-98bd-316abf90e04f",
      "name": "Google Docs18",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI10').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- link del documento: {{ $('html files5').item.json.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        580,
        220
      ],
      "id": "f6adc7c2-7873-430c-84b2-9862a8fddf93",
      "name": "Google Docs19",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $('html files5').item.json.href }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('html files5').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "2f65795b-72b0-434a-a1e3-a5ef4bae2ae1",
      "name": "Google Drive16",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.links.internal",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -820,
        5000
      ],
      "id": "4ec181fc-2533-415f-a2b5-2895a6cd3ea2",
      "name": "Split Out6"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Orden del Día Vespertina",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        4820
      ],
      "id": "03bf0196-388c-4c14-bdf9-9a4862129b7b",
      "name": "Google Drive17",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -440,
        4900
      ],
      "id": "253967ca-a20c-4169-b0e6-77b13c43a2de",
      "name": "Merge6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -140,
        4820
      ],
      "id": "118fa562-0e5c-4fd3-b25f-df30fc88477c",
      "name": "html files6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f044a8f8-a784-43b1-bafc-9571db9d2bb4",
              "leftValue": "={{ $json.href }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -160,
        5020
      ],
      "id": "a37eead8-92e7-4aeb-b3df-16089fd2cbe0",
      "name": "pdf6"
    },
    {
      "parameters": {
        "name": "={{ $('pdf6').item.json.text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('pdf6').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        420,
        5020
      ],
      "id": "b980ce67-9383-44dc-a497-b5ffc21d5a9a",
      "name": "Google Drive18",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        5020
      ],
      "id": "c4bfa38c-64a2-4bc1-af65-0ed28424185f",
      "name": "HTTP Request10",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        340,
        5240
      ],
      "id": "d5bf2695-2f80-4112-8b17-ae6a2e236f59",
      "name": "Extract from File5",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.text }}"
            },
            {
              "content": "extrae de este documento :\n\n- titulo \n- contenido\n- resumen\n- analisis\n- tags de partidos politicos, separados por coma\n- tags de temas, separados por coma\n- tags de leyes , separadospor coma\n- tags de comisiones separados por coma \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        560,
        5240
      ],
      "id": "d5776e10-5266-4f0d-b2fa-f79832d58d0d",
      "name": "OpenAI11",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('HTTP Request10').item.json.id }}",
        "title": "=Análisis -  {{ $('Extract from File5').item.json.info.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        920,
        5240
      ],
      "id": "684c1b9d-1246-4e83-91e7-c731cafe5103",
      "name": "Google Docs20",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI11').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- Cantidad de páginas: {{ $('Extract from File5').item.json.numpages }}\n- Fecha Creación por Autor: {{ $('Extract from File5').item.json.metadata['xmp:createdate'] }}\n- Fecha Última Modificacion : {{ $('Extract from File5').item.json.metadata['xmp:modifydate'] }}\n- Tipo de Documento: {{ $('HTTP Request10').item.json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1140,
        5240
      ],
      "id": "8276f2fb-1dc2-4d1d-99e1-d900baa3be47",
      "name": "Google Docs21",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        4820
      ],
      "id": "1cd81f4b-0f69-4c72-9da8-41f3a5aeb1d2",
      "name": "HTTP Request11",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.data }}"
            },
            {
              "content": "eres un analista senior politico del grupo Grupo de estrategia politico de GEP MEXICO. analiza este html y crea un analisis con las siguiente secciones:\n- titulo \n- contenido\n- resumen\n- sinapsis\n- analisis politicos \n- dato del (los) promoventes (diputados)\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        4820
      ],
      "id": "4e2c9691-86ad-4e4c-a24c-86696bfe1b7c",
      "name": "OpenAI12",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "ZmWqQ5PGylh4Y05s",
          "name": "OpenAi account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "={{ $('html files6').item.json.id }}",
        "title": "=Análisis -  {{ $('html files6').item.json.text }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        700,
        4820
      ],
      "id": "26a4b5e4-5ee4-4d46-8e6f-5b0b206fc69d",
      "name": "Google Docs22",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('OpenAI12').item.json.message.content }}"
            },
            {
              "action": "insert",
              "text": "=- Nombre de Expediente:  {{ $json.name }}\n- link del documento: {{ $('html files6').item.json.href }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        920,
        4820
      ],
      "id": "f8832d9c-4235-4a1b-af11-7c76c7916f25",
      "name": "Google Docs23",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ic7fnkKYh8f2gkoS",
          "name": "Google Docs account - CANTERA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.data }}",
        "name": "={{ $('html files6').item.json.href }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('html files6').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        4680
      ],
      "id": "e9247c02-fbb9-40c9-a142-cb9cea849126",
      "name": "Google Drive19",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "path": "619d9d7b-9cea-4ceb-a06f-16357fd04360",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -9200,
        3420
      ],
      "id": "178ddd17-4de7-4826-808d-b3122fb2e931",
      "name": "Webhook",
      "webhookId": "619d9d7b-9cea-4ceb-a06f-16357fd04360"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "WEBSCRAPING Crea JOB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WEBSCRAPING RESULTADOS": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WEBSCRAPING Crea JOB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WEBSCRAPING Crea JOB": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "WEBSCRAPING RESULTADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "html files",
            "type": "main",
            "index": 0
          },
          {
            "node": "pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pdf": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html files": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "WEBSCRAPING RESULTADOS- Internos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WEBSCRAPING Crea JOB - Páginas Internas1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WEBSCRAPING RESULTADOS- Internos1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "WEBSCRAPING Crea JOB - Páginas Internas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "html files1": {
      "main": [
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "pdf1",
            "type": "main",
            "index": 0
          },
          {
            "node": "html files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "pdf2",
            "type": "main",
            "index": 0
          },
          {
            "node": "html files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html files2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs2": {
      "main": [
        [
          {
            "node": "Google Docs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs4": {
      "main": [
        [
          {
            "node": "Google Docs5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Google Docs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI4": {
      "main": [
        [
          {
            "node": "Google Docs6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs6": {
      "main": [
        [
          {
            "node": "Google Docs7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive17",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive8": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "pdf3",
            "type": "main",
            "index": 0
          },
          {
            "node": "html files3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html files3": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Google Drive9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "OpenAI5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI5": {
      "main": [
        [
          {
            "node": "Google Docs8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs8": {
      "main": [
        [
          {
            "node": "Google Docs9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "OpenAI6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI6": {
      "main": [
        [
          {
            "node": "Google Docs10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs10": {
      "main": [
        [
          {
            "node": "Google Docs11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive11": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "pdf4",
            "type": "main",
            "index": 0
          },
          {
            "node": "html files4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html files4": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Google Drive12",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "OpenAI7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI7": {
      "main": [
        [
          {
            "node": "Google Docs12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs12": {
      "main": [
        [
          {
            "node": "Google Docs13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "OpenAI8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI8": {
      "main": [
        [
          {
            "node": "Google Docs14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs14": {
      "main": [
        [
          {
            "node": "Google Docs15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive14": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "pdf5",
            "type": "main",
            "index": 0
          },
          {
            "node": "html files5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html files5": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf5": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Google Drive15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "OpenAI9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI9": {
      "main": [
        [
          {
            "node": "Google Docs16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs16": {
      "main": [
        [
          {
            "node": "Google Docs17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "OpenAI10",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI10": {
      "main": [
        [
          {
            "node": "Google Docs18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs18": {
      "main": [
        [
          {
            "node": "Google Docs19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive17": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "pdf6",
            "type": "main",
            "index": 0
          },
          {
            "node": "html files6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "html files6": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf6": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Google Drive18",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "OpenAI11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI11": {
      "main": [
        [
          {
            "node": "Google Docs20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs20": {
      "main": [
        [
          {
            "node": "Google Docs21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "OpenAI12",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI12": {
      "main": [
        [
          {
            "node": "Google Docs22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs22": {
      "main": [
        [
          {
            "node": "Google Docs23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "WEBSCRAPING Crea JOB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "084f742f-2a68-4394-a9ee-9c6d724f05b1",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-13T17:06:21.831Z",
      "updatedAt": "2025-05-13T17:06:21.831Z",
      "role": "workflow:owner",
      "workflowId": "DZvFev4uyG0jhbtD",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-13T16:50:09.757Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-13T17:01:17.387Z",
      "updatedAt": "2025-05-13T17:01:17.387Z",
      "id": "PwWwR5Yqz46trn75",
      "name": "templates"
    },
    {
      "createdAt": "2025-05-13T17:01:17.393Z",
      "updatedAt": "2025-05-13T17:01:17.393Z",
      "id": "g0zFUsk6m1GavAlc",
      "name": "webscraping"
    }
  ]
}