workflows/LAUKA KB 1.json
{
  "createdAt": "2025-05-27T17:24:07.779Z",
  "updatedAt": "2025-05-27T18:51:24.000Z",
  "id": "fchq7I7n1VifsCZG",
  "name": "LAUKA KB 1",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "b68b09d9-9744-422f-ab3f-fbcff73b9a21",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1MUDAWPdSrdT2Ry_cQiozMFTUVX750A7Q",
          "mode": "list",
          "cachedResultName": " muestra LISTA DE ARTICULOS CRSIOL.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MUDAWPdSrdT2Ry_cQiozMFTUVX750A7Q/edit?usp=drivesdk&ouid=103791099388247549187&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        0
      ],
      "id": "289f0af9-ecea-4592-b809-b67cfbe363f2",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_lauka2",
          "mode": "list",
          "cachedResultName": "documents_lauka2"
        },
        "embeddingBatchSize": 2,
        "options": {
          "queryName": "match_documents_lauka2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2260,
        -120
      ],
      "id": "6b1b1637-cf74-433c-885c-17a7a9a2f632",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2440,
        100
      ],
      "id": "3e980b0e-7722-4fbc-aae3-47b3d1d2b927",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "client",
                "value": "lauka"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2640,
        60
      ],
      "id": "0db5c39e-d691-4d3f-a916-baafe8f922d6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2780,
        260
      ],
      "id": "0c78a8f6-9c1f-4333-93e2-b2712218317c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        540,
        0
      ],
      "id": "4cb80ff3-9564-4bdd-824b-2296ed002b98",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09e1c3ec-2e57-4a0e-8476-b46e2126a7f4",
              "name": "campo",
              "value": "=numero de articulo: {{ $json['Número de artículo'] }}\ndescripcion de articulo: {{ $json['Descripción del artículo'] }}\nfabricante: {{ $json.Fabricante }}\nnumero catalogo de fabricante: {{ $json['Nº catálogo fabricante'] }}\naltura de unidade venta: {{ $json['Altura 1_ Unidad de venta'] }}\ngrupo de articulos: {{ $json['Grupo de artículos'] }}\nfamilia de articulos: {{ $json.Familia }}\nsub familia de articulos: {{ $json['Sub Familia'] }}\nunidad de medida de venta: {{ $json['Unidad de medida de compras'] }}\nmodo de venta de inventario: {{ $json['UdM de inventario'] }}\nproveedor por defecto: {{ $json['Proveedor por defecto'] }}\nsinonimo del producto: {{ $json.Sinonimo }}\nunidad minima de venta : {{ $json['Peso 2_ Unidad de ventas'] }}\ncodigo NCM: {{ $json['Código NCM'] }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        0
      ],
      "id": "d05ebb61-e8d0-4a2b-896d-77fdb38f5a69",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_lauka2",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gte",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -180
      ],
      "id": "7049b807-f7ac-46be-a645-f21997bd32fe",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola soy el Buscador de Productos de Lauka que necesitas?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        940
      ],
      "id": "40f85b89-5b38-453d-a439-d69eaa43c5eb",
      "name": "When chat message received",
      "webhookId": "95f66c85-1c4b-47f4-b9e8-03898b416da4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "eres un experto en productos de equipos para labroratios y fabricas de preciosn , segun tu base de conocimiento debes recomendar productos segun la necesidad de cliente. has todas las pregutnas necesarias para poder encotnrar un producto, desde su uso objetivo hasta marca  ,proveedor, tamaño modelo , familia de prodcuto tipo de producto "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        940
      ],
      "id": "cae2acb1-febb-4f6e-bcb3-bd067873af87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        1200
      ],
      "id": "9b18cd80-bedf-4742-8689-66c92023c827",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_lauka",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -60,
        1160
      ],
      "id": "7fd02b3e-5854-43bb-b498-44806661e26e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kb_cantera",
        "toolDescription": "esl abase de conociemito de cantera digital en supabase",
        "tableName": {
          "__rl": true,
          "value": "documents_lauka2",
          "mode": "list",
          "cachedResultName": "documents_lauka2"
        },
        "options": {
          "queryName": "match_documents_lauka2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        120,
        1180
      ],
      "id": "8f1a25cf-771a-4b19-8f7c-bea41c37f3d1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        1400
      ],
      "id": "cbedea85-87ee-4792-82e3-8df131c94187",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.campo }}"
            },
            {
              "content": "=## Prompt de Análisis Técnico de Productos de Laboratorio - LAUKA\n\nEres un experto en análisis técnico, categorización y descripción detallada de productos especializados de laboratorio para la empresa **Lauka**. Dado un nombre o una breve descripción de un producto, debes realizar una **investigación exhaustiva y precisa** para completar un perfil técnico-comercial, útil para catálogos, fichas técnicas y herramientas de ventas.\n\n### Instrucciones:\nCompleta los siguientes campos con información verificada, clara y profesional. Usa lenguaje técnico cuando sea necesario, priorizando exactitud y relevancia. NIO AGREGUES COMENTARIOS adicionales solo genera la respuesta con los datos encontrados. busca en internet para validar esto.\n\n### Campos a completar:\n\n1. **Nombre del proveedor o fabricante:**  \n2. **Sitio web oficial del fabricante:**  \n3. **Enlace al datasheet o ficha técnica del producto:**  \n4. **Especificaciones técnicas completas:**  \n   - Material de fabricación  \n   - Tamaños y dimensiones disponibles  \n   - Compatibilidades, tolerancias, estándares (ISO, DIN, etc.)  \n   - Cualquier otro dato técnico relevante  \n5. **Usos recomendados y casos de aplicación típicos:**  \n6. **Insumos y consumibles necesarios para su uso (si aplica):**  \n7. **Otros productos relacionados de la misma marca:**  \n8. **Productos equivalentes o complementarios de otras marcas:**  \n9. **Palabras clave** (separadas por coma):  \n   - Incluye términos técnicos, usos, materiales, sinónimos, abreviaciones o nombres similares por los que podría buscarse este producto.  \n10. **Descripción amplia y técnica del producto:**  \n    - Explica su función, materiales, tecnología asociada, ventajas competitivas, características diferenciales y todo dato relevante que lo haga comprensible para técnicos, compradores e investigadores.  \n11. **Enlace a una imagen del producto:**  \n    - Preferentemente en fondo blanco, alta calidad, vista clara del producto.\n12. **Nombres genericos del producto: \n    - genera varios nombes conque este producto es conocido por los usuarios\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1520,
        100
      ],
      "id": "e438ce49-a5f8-4d0a-a970-6ac42eb077c1",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        0
      ],
      "id": "126d7676-c730-4a2a-b482-ef277f364b02",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba45d4d3-3356-401a-9cf2-9cfc05b3a477",
              "name": "campo",
              "value": "={{ $('Loop Over Items').item.json.campo }}\n\nabstract:{{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        100
      ],
      "id": "b2e10a57-3080-4f34-9c83-2a0d403316ba",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c770ee12-edfb-43dc-a1f4-a2bb8075f94b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-05-27T17:24:07.783Z",
      "updatedAt": "2025-05-27T17:24:07.783Z",
      "role": "workflow:owner",
      "workflowId": "fchq7I7n1VifsCZG",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-27T17:24:11.235Z",
      "updatedAt": "2025-05-27T17:24:11.235Z",
      "id": "BQEZBGQgapYFDzYW",
      "name": "lauka"
    }
  ]
}