workflows/LAUKA KB 1.json
{
  "createdAt": "2025-05-27T17:24:07.779Z",
  "updatedAt": "2025-06-05T02:19:14.000Z",
  "id": "fchq7I7n1VifsCZG",
  "name": "LAUKA KB 1",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        80
      ],
      "id": "b68b09d9-9744-422f-ab3f-fbcff73b9a21",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "10WjYZPXaeoF7w5mMJPqJaZSwqiAc33le",
          "mode": "list",
          "cachedResultName": "Copia de LISTA DE ARTICULOS CRSIOL.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10WjYZPXaeoF7w5mMJPqJaZSwqiAc33le/edit?usp=drivesdk&ouid=103791099388247549187&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        80
      ],
      "id": "289f0af9-ecea-4592-b809-b67cfbe363f2",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PKQpxniTUryv7dE9",
          "name": "Google Drive account - DRIVE CANTERA"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        100
      ],
      "id": "4cb80ff3-9564-4bdd-824b-2296ed002b98",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola soy el Buscador de Productos de Lauka que necesitas?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        940
      ],
      "id": "40f85b89-5b38-453d-a439-d69eaa43c5eb",
      "name": "When chat message received",
      "webhookId": "95f66c85-1c4b-47f4-b9e8-03898b416da4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "eres un experto en productos de equipos para labroratios y fabricas de preciosn , segun tu base de conocimiento debes recomendar productos segun la necesidad de cliente. has todas las pregutnas necesarias para poder encotnrar un producto, desde su uso objetivo hasta marca  ,proveedor, tamaño modelo , familia de prodcuto tipo de producto "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        940
      ],
      "id": "cae2acb1-febb-4f6e-bcb3-bd067873af87",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        1200
      ],
      "id": "9b18cd80-bedf-4742-8689-66c92023c827",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_lauka",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -60,
        1160
      ],
      "id": "7fd02b3e-5854-43bb-b498-44806661e26e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CFNWnFQx8hqQIegZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kb_cantera",
        "toolDescription": "esl abase de conociemito de cantera digital en supabase",
        "tableName": {
          "__rl": true,
          "value": "documents_lauka2",
          "mode": "list",
          "cachedResultName": "documents_lauka2"
        },
        "options": {
          "queryName": "match_documents_lauka2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        120,
        1180
      ],
      "id": "8f1a25cf-771a-4b19-8f7c-bea41c37f3d1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        1400
      ],
      "id": "cbedea85-87ee-4792-82e3-8df131c94187",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.campo }}"
            },
            {
              "content": "=## Prompt de Análisis Técnico de Productos de Laboratorio - LAUKA\n\nEres un experto en análisis técnico, categorización y descripción detallada de productos especializados de laboratorio para la empresa **Lauka**. Dado un nombre o una breve descripción de un producto, debes realizar una **investigación exhaustiva y precisa** para completar un perfil técnico-comercial, útil para catálogos, fichas técnicas y herramientas de ventas.\n\n### Instrucciones:\nCompleta los siguientes campos con información verificada, clara y profesional. Usa lenguaje técnico cuando sea necesario, priorizando exactitud y relevancia. NIO AGREGUES COMENTARIOS adicionales solo genera la respuesta con los datos encontrados. busca en internet para validar esto.\n\n### Campos a completar:\n\n1. **Nombre del proveedor o fabricante:**  \n2. **Sitio web oficial del fabricante:**  \n3. **Especificaciones técnicas completas:**  \n   - Material de fabricación  \n   - Tamaños y dimensiones disponibles  \n   - Compatibilidades, tolerancias, estándares (ISO, DIN, etc.)  \n   - Cualquier otro dato técnico relevante  \n4. **Usos recomendados y casos de aplicación típicos:**  \n5. **Insumos y consumibles necesarios para su uso (si aplica):**  \n6. **Otros productos relacionados de la misma marca:**  \n7. **Productos equivalentes o complementarios de otras marcas:**  \n8. **Palabras clave** (separadas por coma):  \n   - Incluye términos técnicos, usos, materiales, sinónimos, abreviaciones o nombres similares por los que podría buscarse este producto.  \n9. **Descripción amplia y técnica del producto:**  \n    - Explica su función, materiales, tecnología asociada, ventajas competitivas, características diferenciales y todo dato relevante que lo haga comprensible para técnicos, compradores e investigadores.  \n10. **Nombres genericos del producto: \n    - genera varios nombes conque este producto es conocido por los usuarios\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1820,
        80
      ],
      "id": "e438ce49-a5f8-4d0a-a970-6ac42eb077c1",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1500,
        60
      ],
      "id": "126d7676-c730-4a2a-b482-ef277f364b02",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba45d4d3-3356-401a-9cf2-9cfc05b3a477",
              "name": "campo",
              "value": "={{ $('Loop Over Items').item.json.campo }}\n\nabstract:{{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        80
      ],
      "id": "b2e10a57-3080-4f34-9c83-2a0d403316ba",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "text": "={{ $json.campo }}",
        "attributes": {
          "attributes": [
            {
              "name": "=numero_articulo",
              "description": "numero de articulo",
              "required": true
            },
            {
              "name": "especificaciones_tecnicas",
              "description": "especificaicones tecnicas del poducto, detalladas",
              "required": true
            },
            {
              "name": "casos_de_uso",
              "description": "casos de uso de este producto",
              "required": true
            },
            {
              "name": "productos_relacionados",
              "description": "productos relacionados que se pueden combinar cone ste producto. en caso de no existitr dejar en blanco",
              "required": true
            },
            {
              "name": "insumos_relacionados",
              "description": "consumibles o insumos relacionados a este prodcuto. en caso de no existitr dejar en blanco",
              "required": true
            },
            {
              "name": "alias_producto",
              "description": "alias o otros nombres con el que los usuarios reocnocen el producto",
              "required": true
            },
            {
              "name": "tags_producto",
              "description": "lista de palabras relacioanadas al producto, separadas por coma",
              "required": true
            },
            {
              "name": "descripcion_ampliada",
              "description": "descripcion ampliada del producto detallada",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        2500,
        80
      ],
      "id": "2d8615f3-2214-407d-aeb7-058a887f00ad",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "tableId": "lauka_products_det",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero_articulo",
              "fieldValue": "={{ $json.output.numero_articulo }}"
            },
            {
              "fieldId": "especificaciones_tecnicas",
              "fieldValue": "={{ $json.output.especificaciones_tecnicas }}"
            },
            {
              "fieldId": "casos_de_uso",
              "fieldValue": "={{ $json.output.casos_de_uso }}"
            },
            {
              "fieldId": "productos_relacionados",
              "fieldValue": "={{ $json.output.productos_relacionados }}"
            },
            {
              "fieldId": "insumos_relacionados",
              "fieldValue": "={{ $json.output.insumos_relacionados }}"
            },
            {
              "fieldId": "alias_producto",
              "fieldValue": "={{ $json.output.alias_producto }}"
            },
            {
              "fieldId": "tags_producto",
              "fieldValue": "={{ $json.output.tags_producto }}"
            },
            {
              "fieldId": "website_fabricante",
              "fieldValue": "={{ $json.output.website_fabricante }}"
            },
            {
              "fieldId": "descripcion_ampliada",
              "fieldValue": "={{ $json.output.descripcion_ampliada }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        80
      ],
      "id": "08103c29-ff75-4b5d-a4cd-626dda1302a6",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2500,
        300
      ],
      "id": "47387c1b-8631-4353-b21d-a878d24ed3be",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zZlJrTGKq8KER7gD",
          "name": "OpenAi account - GLASSY"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09e1c3ec-2e57-4a0e-8476-b46e2126a7f4",
              "name": "campo",
              "value": "=numero de articulo: {{ $json['Número de artículo'] }}\ndescripcion de articulo: {{ $json['Descripción del artículo'] }}\nfabricante: {{ $json.Fabricante }}\nnumero catalogo de fabricante: {{ $json['Nº catálogo fabricante'] }}\naltura de unidade venta: {{ $json['Altura 1_ Unidad de venta'] }}\ngrupo de articulos: {{ $json['Grupo de artículos'] }}\nfamilia de articulos: {{ $json.Familia }}\nsub familia de articulos: {{ $json['Sub Familia'] }}\nunidad de medida de venta: {{ $json['Unidad de medida de compras'] }}\nmodo de venta de inventario: {{ $json['UdM de inventario'] }}\nproveedor por defecto: {{ $json['Proveedor por defecto'] }}\nsinonimo del producto: {{ $json.Sinonimo }}\nunidad minima de venta : {{ $json['Peso 2_ Unidad de ventas'] }}\ncodigo NCM: {{ $json['Código NCM'] }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        60
      ],
      "id": "275f7f6f-0cd6-4ed3-b55c-6f7559943fa9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "lauka_original_prods",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "numero_articulo",
              "fieldValue": "={{ $json['Número de artículo'] }}"
            },
            {
              "fieldId": "desc_articulo",
              "fieldValue": "={{ $json['Descripción del artículo'] }}"
            },
            {
              "fieldId": "fabricante",
              "fieldValue": "={{ $json.Fabricante }}"
            },
            {
              "fieldId": "n_catalogo",
              "fieldValue": "={{ $json['Nº catálogo fabricante'] }}"
            },
            {
              "fieldId": "familia",
              "fieldValue": "={{ $json.Familia }}"
            },
            {
              "fieldId": "sub_familia",
              "fieldValue": "={{ $json['Sub Familia'] }}"
            },
            {
              "fieldId": "proveedor",
              "fieldValue": "={{ $json['Proveedor por defecto'] }}"
            },
            {
              "fieldId": "sinonimo",
              "fieldValue": "={{ $json.Sinonimo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1740,
        -400
      ],
      "id": "c6851577-e421-48bf-90e5-1e8c50ac4f02",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "ty0KiXsEYP1uJ8t9",
          "name": "Supabase account - CANTERA"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 500,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1140,
        -460
      ],
      "id": "26895347-4aa7-4779-92d3-673296fa2631",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "maxItems": 2000
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        840,
        40
      ],
      "id": "7409b78a-0283-4917-b120-0c3be3397496",
      "name": "Limit"
    },
    {
      "parameters": {
        "path": "85e5dddb-a2de-4f10-8092-2e0db02ede78",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        -120
      ],
      "id": "6e9ffdfd-8e51-4e69-9024-a4640799bce4",
      "name": "Webhook",
      "webhookId": "85e5dddb-a2de-4f10-8092-2e0db02ede78"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f7ba5b4b-6cda-42d0-8d05-1ecde990ea86",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-05-27T17:24:07.783Z",
      "updatedAt": "2025-05-27T17:24:07.783Z",
      "role": "workflow:owner",
      "workflowId": "fchq7I7n1VifsCZG",
      "projectId": "BZ9Ta5yhe4RhzY78",
      "project": {
        "createdAt": "2025-05-13T15:56:28.209Z",
        "updatedAt": "2025-05-13T16:18:54.372Z",
        "id": "BZ9Ta5yhe4RhzY78",
        "name": "CANTERA ADMIN <canteradigital7@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-13T15:56:28.209Z",
            "updatedAt": "2025-05-13T15:56:28.209Z",
            "role": "project:personalOwner",
            "userId": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
            "projectId": "BZ9Ta5yhe4RhzY78",
            "user": {
              "createdAt": "2025-05-13T15:56:27.880Z",
              "updatedAt": "2025-05-27T17:38:25.272Z",
              "id": "cc3cfe5e-ee8c-4740-93d3-7cf7143ccce3",
              "email": "canteradigital7@gmail.com",
              "firstName": "CANTERA",
              "lastName": "ADMIN",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-13T16:19:25.161Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "customer-support",
                "reportedSource": "event"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "PTbESRzX3rguwQN8",
                "userActivatedAt": 1747154580970,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1748367494893
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-27T17:24:11.235Z",
      "updatedAt": "2025-05-27T17:24:11.235Z",
      "id": "BQEZBGQgapYFDzYW",
      "name": "lauka"
    }
  ]
}