workflows/My workflow 5.json
{
  "createdAt": "2025-06-05T23:51:06.938Z",
  "updatedAt": "2025-06-05T23:51:06.938Z",
  "id": "llCT0dCicVOGgedh",
  "name": "My workflow 5",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "34dcdceb-3478-4265-ab3d-caffcb94b7cd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        280
      ],
      "id": "0199da3c-2423-407f-8684-9775c1ddf212",
      "name": "Webhook",
      "webhookId": "34dcdceb-3478-4265-ab3d-caffcb94b7cd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "eres un agente poderoso capaz de responder a preguntas y realizar chistes al respecto, quiero que te dirijas al usuario como un chilango "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        260,
        280
      ],
      "id": "ed82a845-c1cc-4aea-8e1e-be98f0c107db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        480
      ],
      "id": "833bab59-d6ef-4e37-af54-4781ecf06602",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yRFh8C6XoKn99cc5",
          "name": "OpenAi account Citlaly Morales"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        620,
        280
      ],
      "id": "3e8d83f5-6a3a-48a6-92b4-415b5df8bf30",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e75162d5-4c8c-4663-950e-403e52641b50",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-05T23:51:06.941Z",
      "updatedAt": "2025-06-05T23:51:06.941Z",
      "role": "workflow:owner",
      "workflowId": "llCT0dCicVOGgedh",
      "projectId": "dD1u743d0j6dhqjf",
      "project": {
        "createdAt": "2025-06-05T22:33:14.596Z",
        "updatedAt": "2025-06-05T22:36:56.138Z",
        "id": "dD1u743d0j6dhqjf",
        "name": "Citlaly Morales Magos <cmorales@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-05T22:33:14.598Z",
            "updatedAt": "2025-06-05T22:33:14.598Z",
            "role": "project:personalOwner",
            "userId": "6536697d-9c0d-4889-a3a4-5a5bf5a7902b",
            "projectId": "dD1u743d0j6dhqjf",
            "user": {
              "createdAt": "2025-06-05T22:33:14.594Z",
              "updatedAt": "2025-06-05T23:28:30.533Z",
              "id": "6536697d-9c0d-4889-a3a4-5a5bf5a7902b",
              "email": "cmorales@canteradigital.mx",
              "firstName": "Citlaly",
              "lastName": "Morales Magos",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-05T22:37:49.465Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "20-99",
                "companyType": "saas",
                "role": "other",
                "roleOther": "QA Tester",
                "reportedSource": "other",
                "reportedSourceOther": "Mi empresa"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "d2cKV8BYcfMUJulH",
                "userActivated": true,
                "userActivatedAt": 1749166109861
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}