workflows/My workflow 12.json
{
  "createdAt": "2025-06-09T16:34:20.833Z",
  "updatedAt": "2025-06-09T16:34:20.833Z",
  "id": "k6PApGOzpLKtnZ0q",
  "name": "My workflow 12",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/whatsapp",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -780,
        -320
      ],
      "id": "386baf72-3bab-456c-8571-c0ecfbf36097",
      "webhookId": "4977d889-4cd5-4a33-af35-dd48bbc85eae"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "currentEnvironment",
              "value": "https://cerebro-dev-yourapp.herokuapp.com"
            },
            {
              "name": "status_report",
              "value": "https://cerebro-core-yourapp.herokuapp.com/receive_messagebird_data"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -580,
        -320
      ],
      "id": "a8977c1e-b3f8-4fcc-a362-c47a4944ae60"
    },
    {
      "parameters": {
        "url": "={{$node[\"Set Variables\"].json[\"currentEnvironment\"]}}/mbauth/auth_guardian?phone={{$json[\"body\"][\"contact\"][\"phoneNumber\"]}}",
        "options": {}
      },
      "name": "Auth Guardian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -380,
        -320
      ],
      "id": "c1179ee7-55d5-4c29-ad7f-9fc452b81407"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Auth Guardian\"].json[\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF - Auth Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        -260
      ],
      "id": "c989c6ef-f773-41f7-980e-895732ffab87"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Aquí continúa la lógica principal del flujo"
            }
          ]
        },
        "options": {}
      },
      "name": "Main Logic Placeholder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        -440
      ],
      "id": "0313de02-5a8d-4ff8-849c-13cb9abb7717"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Auth Guardian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Guardian": {
      "main": [
        [
          {
            "node": "IF - Auth Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auth Success": {
      "main": [
        [
          {
            "node": "Main Logic Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f9a8215f-4ec7-4c29-bc00-0e4fb87211b4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-09T16:34:20.836Z",
      "updatedAt": "2025-06-09T16:34:20.836Z",
      "role": "workflow:owner",
      "workflowId": "k6PApGOzpLKtnZ0q",
      "projectId": "BsYMJSPwury6TiTn",
      "project": {
        "createdAt": "2025-06-06T20:24:22.277Z",
        "updatedAt": "2025-06-06T21:09:46.835Z",
        "id": "BsYMJSPwury6TiTn",
        "name": "adolfo huerta <adolfocuentas123@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-06T20:24:22.278Z",
            "updatedAt": "2025-06-06T20:24:22.278Z",
            "role": "project:personalOwner",
            "userId": "f9268337-0922-4cba-994c-bf6b40332731",
            "projectId": "BsYMJSPwury6TiTn",
            "user": {
              "createdAt": "2025-06-06T20:24:22.275Z",
              "updatedAt": "2025-06-06T21:09:59.000Z",
              "id": "f9268337-0922-4cba-994c-bf6b40332731",
              "email": "adolfocuentas123@gmail.com",
              "firstName": "adolfo",
              "lastName": "huerta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T21:09:59.993Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": null,
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}