workflows/My workflow 14.json
{
  "createdAt": "2025-06-09T19:50:33.021Z",
  "updatedAt": "2025-06-09T19:50:33.021Z",
  "id": "AvdSvgvDck2UBlhI",
  "name": "My workflow 14",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appP3ocJy1rXIo6ko",
          "cachedResultUrl": "https://airtable.com/appP3ocJy1rXIo6ko",
          "cachedResultName": "table"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblywtlpPtGQMTJRm",
          "cachedResultUrl": "https://airtable.com/appP3ocJy1rXIo6ko/tblywtlpPtGQMTJRm",
          "cachedResultName": "Dummy"
        },
        "options": {}
      },
      "id": "d50253c0-516a-471e-b1c5-43c30552c4ef",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        580,
        620
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4d182fbe-3d23-4ae7-a0dc-0d213aa426c5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        260,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {}
      },
      "id": "b4fbd04d-f09f-4151-baff-4e86df3542a5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        320,
        480
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "[![YouTube Video](https://img.youtube.com/vi/2PIdeTgsENo/0.jpg)](https://www.youtube.com/watch?v=2PIdeTgsENo)",
        "height": 389.9939760040372,
        "width": 497.9113826976365,
        "color": 7
      },
      "id": "d9a2360d-b9c7-40a1-9b7d-2e0eb4d77dae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get Airtable Data in Obsidian with AI Agent\n<-- Watch the video to see it in action!\n\n**How to Set Up:**\n- Install the [Post Webhook Plugin](https://github.com/Masterb1234/obsidian-post-webhook/) in Obsidian.\n- Insert the n8n Webhook URL into the Post Webhook plugin settings.\n- Configure Your Airtable Node to match your workflow needs.\n\n\n**How to Use:**\n- Highlight text containing a question about your Airtable data.\n- Open the Obsidian Command Palette (Ctrl+P) and choose 'Send Selection to [Your Webhook]'.\n- Click, wait for the AI Agent to process your request, and see the result appear below your selected text.",
        "height": 368.0048034646952,
        "width": 563.3824678865192
      },
      "id": "7274114c-b93e-4e07-a0f1-8f942b20c030",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "2ab2f38f-5fb6-48da-98ca-98b1ffd0d458",
      "name": "Respond to Obsidian",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        740,
        480
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "59fc8248-d3f7-4dbc-bdf3-39d59e427160",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "08a19f02-2551-428e-9ce0-a700e5583748",
      "name": "Webhook Set Up in Obsidian",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        480
      ],
      "webhookId": "59fc8248-d3f7-4dbc-bdf3-39d59e427160",
      "typeVersion": 2
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Set Up in Obsidian": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2a80b14b-84cc-4627-869d-14a7872922dc",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-09T19:50:33.026Z",
      "updatedAt": "2025-06-09T19:50:33.026Z",
      "role": "workflow:owner",
      "workflowId": "AvdSvgvDck2UBlhI",
      "projectId": "UPXsxNbEdAC5wodw",
      "project": {
        "createdAt": "2025-05-30T21:50:35.802Z",
        "updatedAt": "2025-05-30T21:51:22.504Z",
        "id": "UPXsxNbEdAC5wodw",
        "name": "Alexandra  Trujillo  <alexandra.trujillo@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:35.804Z",
            "updatedAt": "2025-05-30T21:50:35.804Z",
            "role": "project:personalOwner",
            "userId": "65d58894-4572-495d-8c41-0b8ea4c5b71f",
            "projectId": "UPXsxNbEdAC5wodw",
            "user": {
              "createdAt": "2025-05-30T21:50:35.800Z",
              "updatedAt": "2025-06-06T21:50:25.281Z",
              "id": "65d58894-4572-495d-8c41-0b8ea4c5b71f",
              "email": "alexandra.trujillo@canteradigital.mx",
              "firstName": "Alexandra ",
              "lastName": "Trujillo ",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:52:04.811Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "data-syncing",
                  "ticketing-systems-integrations",
                  "ci-cd",
                  "monitoring-alerting",
                  "reporting",
                  "incident-response"
                ],
                "companyType": "systems-integrator",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "bmdwVJ36IDZozHoU",
                "userActivated": true,
                "userActivatedAt": 1749246625266
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-06-09T19:31:18.669Z",
      "updatedAt": "2025-06-09T19:31:18.669Z",
      "id": "WU3U7aXdDI33vQk4",
      "name": "Obsidian"
    }
  ]
}