workflows/My workflow 34.json
{
  "createdAt": "2025-06-30T17:18:40.824Z",
  "updatedAt": "2025-06-30T17:33:23.000Z",
  "id": "EP9iASOiFgiIp1I1",
  "name": "My workflow 34",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        20
      ],
      "id": "c2944537-9dd5-4c59-8efe-7253a5d7fc23",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "kN8CVraho0i9hYUQ",
          "name": "OpenAi account Alexandra Trujillo"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -120,
        60
      ],
      "id": "bc62a692-fd52-47b2-8995-021f2eec5c4a",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -140
      ],
      "id": "32a3cc27-bd0b-47a7-acf9-8719ca1f2b6f",
      "name": "Telegram5",
      "webhookId": "1c25f239-77b2-4056-bdbe-88107cd45f44",
      "credentials": {
        "telegramApi": {
          "id": "03RVBpjbMD77F2XN",
          "name": "Telegram alexabot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        -180
      ],
      "id": "c992f9e6-1e58-4d8f-a1c6-bb5ff7a3ec46",
      "name": "Telegram Trigger2",
      "webhookId": "87fbdcb5-8a32-44c5-941c-b6149ea3dcf0",
      "credentials": {
        "telegramApi": {
          "id": "03RVBpjbMD77F2XN",
          "name": "Telegram alexabot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=eres un vendedor que ofrece productos electronicos y  que cuando el cliente quiera saber que productos hay ejecuta el tool de que productos que hay, ademas agregas cuando el cliente lo pida con el tool agregar producto y borras con el tool caundo el cliente lo escriba\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -220,
        -180
      ],
      "id": "e977dca3-51ed-4c4f-88ed-840d3a8a615d",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "toolDescription": "es un tool para listar productos",
        "url": "https://api.restful-api.dev/objects",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        180,
        60
      ],
      "id": "a48a5213-f22f-4689-a01e-81e792438530",
      "name": "listar"
    },
    {
      "parameters": {
        "toolDescription": "es un tool para agregar productos",
        "url": "https://api.restful-api.dev/objects",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `es agregardo por el usuario \n`, 'string') }}"
            },
            {
              "value": "el nombre del producto te lo dice el usuario"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        40,
        40
      ],
      "id": "1b799cc6-aa19-49d1-bedb-e5669baa164d",
      "name": "agregar producto"
    },
    {
      "parameters": {
        "toolDescription": "ers un tool para borrar productos",
        "url": "https://api.restful-api.dev/objects",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `es el nombre del producto que dio el usuarioo `, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        340,
        40
      ],
      "id": "c2245bb4-2b9a-4853-9615-afc0e3a0b81e",
      "name": "borra productos"
    }
  ],
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agregar producto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "borra productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4cd9c504-eaac-44c9-b3b6-9f0402a038fa",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-30T17:18:40.828Z",
      "updatedAt": "2025-06-30T17:18:40.828Z",
      "role": "workflow:owner",
      "workflowId": "EP9iASOiFgiIp1I1",
      "projectId": "UPXsxNbEdAC5wodw",
      "project": {
        "createdAt": "2025-05-30T21:50:35.802Z",
        "updatedAt": "2025-05-30T21:51:22.504Z",
        "id": "UPXsxNbEdAC5wodw",
        "name": "Alexandra  Trujillo  <alexandra.trujillo@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:35.804Z",
            "updatedAt": "2025-05-30T21:50:35.804Z",
            "role": "project:personalOwner",
            "userId": "65d58894-4572-495d-8c41-0b8ea4c5b71f",
            "projectId": "UPXsxNbEdAC5wodw",
            "user": {
              "createdAt": "2025-05-30T21:50:35.800Z",
              "updatedAt": "2025-06-12T00:59:16.255Z",
              "id": "65d58894-4572-495d-8c41-0b8ea4c5b71f",
              "email": "alexandra.trujillo@canteradigital.mx",
              "firstName": "Alexandra ",
              "lastName": "Trujillo ",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:52:04.811Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "data-syncing",
                  "ticketing-systems-integrations",
                  "ci-cd",
                  "monitoring-alerting",
                  "reporting",
                  "incident-response"
                ],
                "companyType": "systems-integrator",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "bmdwVJ36IDZozHoU",
                "userActivated": true,
                "userActivatedAt": 1749246625266,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1749689952085
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}