workflows/revisar datos de usuarios chatbot.json
{
  "createdAt": "2025-06-18T02:56:28.104Z",
  "updatedAt": "2025-06-24T16:53:01.000Z",
  "id": "lvEmEanFbdDwGFYm",
  "name": "revisar datos de usuarios chatbot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Flujo de actualizaci贸n de estado de usuarios\n\nEste flujo revisa cada 20 minutos la colecci贸n `user_state` de MongoDB. Para cada usuario que lleve m谩s de 30 minutos inactivo y cuyo estado no sea `menuInicial`, actualiza `state` a `menuInicial` y actualiza `date` al momento actual en formato `D/M/YYYY, h:mm:ss a`.",
        "height": 220,
        "width": 450
      },
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        -220
      ],
      "id": "generated-0ef5d026-2a21-4e1e-b68a-8be96e6f75ca"
    },
    {
      "parameters": {
        "triggerTimes": {
          "values": [],
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Inactivity Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        200,
        100
      ],
      "id": "generated-085e3d00-b45f-4c65-bd74-1ab762a804df"
    },
    {
      "parameters": {
        "collection": "user_state",
        "options": {
          "skip": 0,
          "sort": "{}",
          "projection": "{}"
        }
      },
      "name": "Find Users",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        450,
        100
      ],
      "id": "generated-6990bf4a-814e-471e-9b05-e6e9e354d68a",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const results = [];\nconst nowUtcMs = Date.now();\nconst offsetMs = 6 * 60 * 60 * 1000; // UTC-6\nfor (const item of items) {\n  const data = item.json;\n  // S贸lo conversaciones de tipo chatbot\n  if (data.type_conversation !== 'chatbot') continue;\n  const dateStr = data.date;\n  if (!dateStr) continue;\n  // Parsear fecha y hora\n  const [datePart, timePart] = dateStr.split(', ');\n  const [day, month, year] = datePart.split('/').map(Number);\n  let [timeStr, meridiem] = timePart.split(' ');\n  meridiem = meridiem.toLowerCase();\n  let [hour, minute, second] = timeStr.split(':').map(Number);\n  if (meridiem === 'p.m.' && hour < 12) hour += 12;\n  if (meridiem === 'a.m.' && hour === 12) hour = 0;\n  // ltima interacci贸n en UTC (sumar 6 horas a hora local)\n  const lastUtcMs = Date.UTC(year, month - 1, day, hour + 6, minute, second);\n  const diffMin = (nowUtcMs - lastUtcMs) / 60000;\n  // Si inactivo >30min y no est谩 en menuInicial\n  if (diffMin > 20 && data.state !== 'menuInicial') {\n    // Calcular fecha actual en UTC-6\n    const nowMexicoUtcMs = nowUtcMs - offsetMs;\n    const d = new Date(nowMexicoUtcMs);\n    const D = d.getUTCDate();\n    const M = d.getUTCMonth() + 1;\n    const Y = d.getUTCFullYear();\n    let h2 = d.getUTCHours();\n    const m2 = String(d.getUTCMinutes()).padStart(2, '0');\n    const s2 = String(d.getUTCSeconds()).padStart(2, '0');\n    const ampm2 = h2 >= 12 ? 'p.m.' : 'a.m.';\n    h2 = h2 % 12 === 0 ? 12 : h2 % 12;\n    const newDateStr = `${D}/${M}/${Y}, ${h2}:${m2}:${s2} ${ampm2}`;\n    results.push({\n      json: {\n        _id: data._id,\n        state: 'menuInicial',\n        date: newDateStr,\n        phoneNumber: data.phoneNumber\n      }\n    });\n  }\n}\nreturn results;"
      },
      "name": "Filter Inactive Users",
      "type": "n8n-nodes-base.function",
      "position": [
        700,
        100
      ],
      "id": "generated-78f83fdd-8173-463a-b671-d65399eb1007",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "user_state",
        "updateKey": "_id",
        "fields": "state,date",
        "options": {
          "dateFields": "",
          "useDotNotation": false
        }
      },
      "name": "Update User State",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        920,
        -60
      ],
      "id": "generated-22fe5eb3-bbba-46e9-b6c5-c330ea1f7576",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/626839230509107/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAHeSgKjRYEBOZBi0kUskW4k3L6ZCO8EhqsGNjWLyfJ3U1NZCbDyQp9WSoX0Ouh8hh44Jue9ev7TMlygkZAMoqMReAJL9cNZBQZCZB508HXZB84HCNFZBIRlSa9cXFs0dXmR31XoO0iUZBOTx4VSnErdZC9OD1sQDKprPHpbK7NBrTZAWy8D6pvNi9w0w4c9pt2KE3stGwZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{$json.phoneNumber}}\",\n  \"text\": {\n    \"body\": \"Entendemos que puedes estar ocupado en este momento . Como no recibimos respuesta, cerraremos esta conversaci贸n por ahora. Si necesitas algo m谩s, no dudes en escribirnos .\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        160
      ],
      "id": "73edc7cb-ae6e-42e7-8583-bf01ee467b2e",
      "name": "mensaje de confirmaci贸n de cierre de sesion"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        940,
        140
      ],
      "id": "ca7c7d56-a25f-44f8-ad3c-cafe9b22e62c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1612e11b-a829-4752-a5b9-c44f8525858b",
              "leftValue": "={{$json.phoneNumber}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        160
      ],
      "id": "bab60f53-de59-4bb1-b131-94862afea762",
      "name": "If"
    }
  ],
  "connections": {
    "Inactivity Cron": {
      "main": [
        [
          {
            "node": "Find Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Users": {
      "main": [
        [
          {
            "node": "Filter Inactive Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Inactive Users": {
      "main": [
        [
          {
            "node": "Update User State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User State": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje de confirmaci贸n de cierre de sesion": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "mensaje de confirmaci贸n de cierre de sesion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Inactivity Cron": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "18d70459-2600-4d6b-ace0-dad519924127",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-18T02:56:28.108Z",
      "updatedAt": "2025-06-18T02:56:28.108Z",
      "role": "workflow:owner",
      "workflowId": "lvEmEanFbdDwGFYm",
      "projectId": "BsYMJSPwury6TiTn",
      "project": {
        "createdAt": "2025-06-06T20:24:22.277Z",
        "updatedAt": "2025-06-06T21:09:46.835Z",
        "id": "BsYMJSPwury6TiTn",
        "name": "adolfo huerta <adolfocuentas123@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-06T20:24:22.278Z",
            "updatedAt": "2025-06-06T20:24:22.278Z",
            "role": "project:personalOwner",
            "userId": "f9268337-0922-4cba-994c-bf6b40332731",
            "projectId": "BsYMJSPwury6TiTn",
            "user": {
              "createdAt": "2025-06-06T20:24:22.275Z",
              "updatedAt": "2025-06-18T03:10:17.057Z",
              "id": "f9268337-0922-4cba-994c-bf6b40332731",
              "email": "adolfocuentas123@gmail.com",
              "firstName": "adolfo",
              "lastName": "huerta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T21:09:59.993Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "k6PApGOzpLKtnZ0q",
                "userActivated": true,
                "userActivatedAt": 1749594629341,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1750216203399
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}