workflows/serebro sales cambio de estatus.json
{
  "createdAt": "2025-07-07T22:29:33.443Z",
  "updatedAt": "2025-07-08T15:13:11.000Z",
  "id": "cOoCwRPN9qfk0P6y",
  "name": "serebro sales cambio de estatus",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "670342e3-e699-4e30-af27-04db7bace385",
              "name": "user_id",
              "value": "={{ $('flujo de actualización base de datos').item.json.userId }}",
              "type": "string"
            },
            {
              "id": "391a519a-9e7c-4dee-8dfc-f8b38f7f8fc7",
              "name": "information",
              "value": "={{ $('flujo de actualización base de datos').item.json.info }}",
              "type": "string"
            },
            {
              "id": "915b68b5-3dee-44ad-82f6-65a3d9a74629",
              "name": "log_id",
              "value": "={{ $('Code1').item.json.uuid }}",
              "type": "string"
            },
            {
              "id": "f07b7183-62a0-4d4a-90a7-ad93e7acd220",
              "name": "date",
              "value": "={{ $('Code1').item.json.now }}",
              "type": "string"
            },
            {
              "id": "e5baae19-924c-4972-8a51-b4d87aad8bad",
              "name": "state",
              "value": "={{ $('flujo de actualización base de datos').item.json.state }}",
              "type": "string"
            },
            {
              "id": "127efdf6-7193-4011-a155-fa072b66e80f",
              "name": "userStateId",
              "value": "={{ $('flujo de actualización base de datos').item.json.userStateId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        20
      ],
      "id": "86ef56d5-97ec-41ea-b9c0-d9d76273c860",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "log_chatbot_sales",
        "fields": "user_id, information,log_id, date",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        980,
        20
      ],
      "id": "ee66f909-d39b-4c82-868d-7e8fbe626603",
      "name": "MongoDB4",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Importante: Esto se coloca dentro de un nodo \"Code\" en n8n\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: uuidv4(),\n      now: new Date().toLocaleString('es-MX', {\n  timeZone: 'America/Mexico_City'\n})\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        20
      ],
      "id": "d727b1e3-0ec1-4996-9828-23b7809c6d9c",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "user_state_sales",
        "updateKey": "userStateId",
        "fields": "state, date,sub_menu",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        540,
        20
      ],
      "id": "cc7908c0-9d02-4f32-ae78-73cae2a70e61",
      "name": "MongoDB5",
      "credentials": {
        "mongoDb": {
          "id": "xZYe0R0CRtWFmyv7",
          "name": "MongoDB account cerebro core"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f07b7183-62a0-4d4a-90a7-ad93e7acd220",
              "name": "date",
              "value": "={{ $('Code1').item.json.now }}",
              "type": "string"
            },
            {
              "id": "e5baae19-924c-4972-8a51-b4d87aad8bad",
              "name": "state",
              "value": "={{ $('flujo de actualización base de datos').item.json.state }}",
              "type": "string"
            },
            {
              "id": "127efdf6-7193-4011-a155-fa072b66e80f",
              "name": "userStateId",
              "value": "={{ $('flujo de actualización base de datos').item.json.userStateId }}",
              "type": "string"
            },
            {
              "id": "3cdecd72-e504-4219-92a9-223f2c61783a",
              "name": "sub_menu",
              "value": "={{ $('flujo de actualización base de datos').item.json.sub_menu }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        20
      ],
      "id": "d5c90131-eaba-4465-aa15-f297810c7c7c",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "state"
            },
            {
              "name": "userId"
            },
            {
              "name": "userStateId"
            },
            {
              "name": "info"
            },
            {
              "name": "sub_menu"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        20
      ],
      "id": "321b05a8-4987-4194-bd8b-6d3b73cffc12",
      "name": "flujo de actualización base de datos"
    }
  ],
  "connections": {
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "MongoDB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB5": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "MongoDB5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flujo de actualización base de datos": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "flujo de actualización base de datos": [
      {
        "json": {
          "state": "respuesta_seleccion_nivel_escolar_ubicacion",
          "userId": "c0e55c73-3101-4ce3-9ae0-140446da0335",
          "userStateId": "c0e55c73-3101-4ce3-9ae0-140446da0335",
          "info": "seleccion info de para ubicación en preescolar",
          "sub_menu": "cita_llamada_info"
        }
      }
    ]
  },
  "versionId": "6f0f94fc-2c40-47fa-90d8-f2537e81db76",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-07T22:29:33.448Z",
      "updatedAt": "2025-07-07T22:29:33.448Z",
      "role": "workflow:owner",
      "workflowId": "cOoCwRPN9qfk0P6y",
      "projectId": "BsYMJSPwury6TiTn",
      "project": {
        "createdAt": "2025-06-06T20:24:22.277Z",
        "updatedAt": "2025-06-06T21:09:46.835Z",
        "id": "BsYMJSPwury6TiTn",
        "name": "adolfo huerta <adolfocuentas123@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-06T20:24:22.278Z",
            "updatedAt": "2025-06-06T20:24:22.278Z",
            "role": "project:personalOwner",
            "userId": "f9268337-0922-4cba-994c-bf6b40332731",
            "projectId": "BsYMJSPwury6TiTn",
            "user": {
              "createdAt": "2025-06-06T20:24:22.275Z",
              "updatedAt": "2025-06-18T03:10:17.057Z",
              "id": "f9268337-0922-4cba-994c-bf6b40332731",
              "email": "adolfocuentas123@gmail.com",
              "firstName": "adolfo",
              "lastName": "huerta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T21:09:59.993Z",
                "personalization_survey_n8n_version": "1.92.2",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "k6PApGOzpLKtnZ0q",
                "userActivated": true,
                "userActivatedAt": 1749594629341,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1750216203399
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}