workflows/template kb_clase_cantera.json
{
  "createdAt": "2025-06-16T04:25:57.260Z",
  "updatedAt": "2025-06-16T06:11:17.000Z",
  "id": "uQUxUpLGcgV4o1mN",
  "name": "template kb_clase_cantera",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        220
      ],
      "id": "05efbef6-8585-4e5c-af1b-8306673861be",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kN8CVraho0i9hYUQ",
          "name": "OpenAi account Alexandra Trujillo"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        440,
        120
      ],
      "id": "032b8535-c153-4fdd-88aa-5b72a4503ebc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        500,
        340
      ],
      "id": "ba1867a2-0f7d-4e00-8dc1-d6ab6c25f486",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1nr1nC-mTXnxc_RMV13AblelJLrGgNzu2",
          "mode": "list",
          "cachedResultName": "educacion",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nr1nC-mTXnxc_RMV13AblelJLrGgNzu2"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -100
      ],
      "id": "be2b2529-f848-46f1-8957-2cfe70d0056a",
      "name": "Buscamnos cambios en documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ScMR3q0SPhbh9AbL",
          "name": "Google Drive account AlexandraTR N8N"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name contains 'test'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1nr1nC-mTXnxc_RMV13AblelJLrGgNzu2",
            "mode": "list",
            "cachedResultName": "educacion",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1nr1nC-mTXnxc_RMV13AblelJLrGgNzu2"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -100
      ],
      "id": "b76cc8ff-da1b-4c96-9034-7d627f349530",
      "name": "sacamos todos los documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ScMR3q0SPhbh9AbL",
          "name": "Google Drive account AlexandraTR N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        -60
      ],
      "id": "c301ad77-fd22-40cd-b2ad-0f2aabdeacf7",
      "name": "descargamos los documentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ScMR3q0SPhbh9AbL",
          "name": "Google Drive account AlexandraTR N8N"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        300,
        -100
      ],
      "id": "83a0fead-1030-40b0-9bbb-30dacf6bbbf1",
      "name": "a単adimos documentos a la base de conocimiento",
      "credentials": {
        "supabaseApi": {
          "id": "mMDqXCCWAbTXoHjt",
          "name": "Supabase account Alexandra clase M8N"
        }
      }
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "a単adimos documentos a la base de conocimiento",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "a単adimos documentos a la base de conocimiento",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Buscamnos cambios en documentos": {
      "main": [
        [
          {
            "node": "sacamos todos los documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sacamos todos los documentos": {
      "main": [
        [
          {
            "node": "descargamos los documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descargamos los documentos": {
      "main": [
        [
          {
            "node": "a単adimos documentos a la base de conocimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Buscamnos cambios en documentos": {
      "lastTimeChecked": "2025-06-16T05:45:22Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1a89e993-ffd3-40bd-aa7c-e69ed2ad4619",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-16T04:25:57.263Z",
      "updatedAt": "2025-06-16T04:25:57.263Z",
      "role": "workflow:owner",
      "workflowId": "uQUxUpLGcgV4o1mN",
      "projectId": "UPXsxNbEdAC5wodw",
      "project": {
        "createdAt": "2025-05-30T21:50:35.802Z",
        "updatedAt": "2025-05-30T21:51:22.504Z",
        "id": "UPXsxNbEdAC5wodw",
        "name": "Alexandra  Trujillo  <alexandra.trujillo@canteradigital.mx>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-05-30T21:50:35.804Z",
            "updatedAt": "2025-05-30T21:50:35.804Z",
            "role": "project:personalOwner",
            "userId": "65d58894-4572-495d-8c41-0b8ea4c5b71f",
            "projectId": "UPXsxNbEdAC5wodw",
            "user": {
              "createdAt": "2025-05-30T21:50:35.800Z",
              "updatedAt": "2025-06-12T00:59:16.255Z",
              "id": "65d58894-4572-495d-8c41-0b8ea4c5b71f",
              "email": "alexandra.trujillo@canteradigital.mx",
              "firstName": "Alexandra ",
              "lastName": "Trujillo ",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-05-30T21:52:04.811Z",
                "personalization_survey_n8n_version": "1.92.2",
                "automationGoalDevops": [
                  "data-syncing",
                  "ticketing-systems-integrations",
                  "ci-cd",
                  "monitoring-alerting",
                  "reporting",
                  "incident-response"
                ],
                "companyType": "systems-integrator",
                "role": "it"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "bmdwVJ36IDZozHoU",
                "userActivated": true,
                "userActivatedAt": 1749246625266,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1749689952085
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-05-13T17:01:17.387Z",
      "updatedAt": "2025-05-13T17:01:17.387Z",
      "id": "PwWwR5Yqz46trn75",
      "name": "templates"
    }
  ]
}